{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.workloads#SAPDatabaseInstancesStopInstance": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPDatabaseInstancesStopInstanceRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPDatabaseInstancesStopInstanceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}/stop",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Stops the database instance of the SAP system.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesStopInstanceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.workloads#SAPDatabaseInstancesStopInstanceResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.workloads#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.workloads#ErrorDetailDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.workloads#ErrorDetailAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.workloads#ErrorDetailAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.workloads#ErrorAdditionalInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.workloads#ErrorDetailDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesStopInstanceResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.workloads#OperationStatusResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.workloads#OperationStatusResultOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.workloads#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of an async operation."
      }
    },
    "com.azure.workloads#OperationStatusResultOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesStopInstanceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "databaseInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database resource name string modeled as parameter for auto generation to work correctly."
          }
        },
        "softStopTimeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This parameter defines how long (in seconds) the soft shutdown waits until the RFC/HTTP clients no longer consider the server for calls with load balancing. Value 0 means that the kernel does not wait, but goes directly into the next shutdown state, i.e. hard stop."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesStartInstance": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPDatabaseInstancesStartInstanceRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPDatabaseInstancesStartInstanceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}/start",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Starts the database instance of the SAP system.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesStartInstanceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.workloads#SAPDatabaseInstancesStartInstanceResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.workloads#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesStartInstanceResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesStartInstanceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "databaseInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database resource name string modeled as parameter for auto generation to work correctly."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesStopInstance": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesStopInstanceRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesStopInstanceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}/stop",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Stops the SAP Application Server Instance.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesStopInstanceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.workloads#SAPApplicationServerInstancesStopInstanceResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.workloads#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesStopInstanceResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesStopInstanceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "applicationInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of SAP Application Server instance resource."
          }
        },
        "softStopTimeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This parameter defines how long (in seconds) the soft shutdown waits until the RFC/HTTP clients no longer consider the server for calls with load balancing. Value 0 means that the kernel does not wait, but goes directly into the next shutdown state, i.e. hard stop."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesStartInstance": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesStartInstanceRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesStartInstanceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}/start",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Starts the SAP Application Server Instance.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesStartInstanceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.workloads#SAPApplicationServerInstancesStartInstanceResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.workloads#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesStartInstanceResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesStartInstanceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "applicationInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of SAP Application Server instance resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPCentralInstancesStopInstance": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPCentralInstancesStopInstanceRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPCentralInstancesStopInstanceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances/{centralInstanceName}/stop",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Stops the SAP Central Services Instance.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPCentralInstancesStopInstanceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.workloads#SAPCentralInstancesStopInstanceResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.workloads#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPCentralInstancesStopInstanceResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.workloads#SAPCentralInstancesStopInstanceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "centralInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly."
          }
        },
        "softStopTimeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This parameter defines how long (in seconds) the soft shutdown waits until the RFC/HTTP clients no longer consider the server for calls with load balancing. Value 0 means that the kernel does not wait, but goes directly into the next shutdown state, i.e. hard stop."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPCentralInstancesStartInstance": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPCentralInstancesStartInstanceRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPCentralInstancesStartInstanceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances/{centralInstanceName}/start",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Starts the SAP Central Services Instance.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPCentralInstancesStartInstanceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.workloads#SAPCentralInstancesStartInstanceResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.workloads#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPCentralInstancesStartInstanceResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.workloads#SAPCentralInstancesStartInstanceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "centralInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPVirtualInstancesStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPVirtualInstancesStopRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPVirtualInstancesStopResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/stop",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Stops the SAP Application, that is the Application server instances and Central Services instance.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPVirtualInstancesStopResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.workloads#SAPVirtualInstancesStopResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.workloads#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPVirtualInstancesStopResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.workloads#SAPVirtualInstancesStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "softStopTimeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This parameter defines how long (in seconds) the soft shutdown waits until the RFC/HTTP clients no longer consider the server for calls with load balancing. Value 0 means that the kernel does not wait, but goes directly into the next shutdown state, i.e. hard stop."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPVirtualInstancesStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPVirtualInstancesStartRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPVirtualInstancesStartResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/start",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Starts the SAP application, that is the Central Services instance and Application server instances.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPVirtualInstancesStartResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.workloads#SAPVirtualInstancesStartResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.workloads#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPVirtualInstancesStartResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.workloads#SAPVirtualInstancesStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesListRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPApplicationServerInstanceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Lists the SAP Application Server Instance resources for a given Virtual Instance for SAP solutions resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPApplicationServerInstanceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.workloads#SAPApplicationServerInstanceListValueList",
          "traits": {
            "smithy.api#documentation": "Gets the list of SAP Application Server instance resources."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the value of next link."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the collection of SAP Application Server Instance resources."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstanceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#SAPApplicationServerInstance"
      },
      "traits": {
        "smithy.api#documentation": "Gets the list of SAP Application Server instance resources."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstance": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.workloads#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.workloads#SAPApplicationServerInstanceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.workloads#SAPApplicationServerProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Define the SAP Application Server Instance resource."
      }
    },
    "com.azure.workloads#SAPApplicationServerProperties": {
      "type": "structure",
      "members": {
        "instanceNo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application server Instance Number."
          }
        },
        "subnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application server Subnet."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application server instance SAP hostname."
          }
        },
        "kernelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " Application server instance SAP Kernel Version."
          }
        },
        "kernelPatch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application server instance SAP Kernel Patch level."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " Application server instance SAP IP Address."
          }
        },
        "gatewayPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Application server instance gateway Port.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "icmHttpPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Application server instance ICM HTTP Port.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "icmHttpsPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Application server instance ICM HTTPS Port.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "loadBalancerDetails": {
          "target": "com.azure.workloads#LoadBalancerDetails",
          "traits": {
            "smithy.api#documentation": "The Load Balancer details such as LoadBalancer ID attached to Application Server Virtual Machines"
          }
        },
        "vmDetails": {
          "target": "com.azure.workloads#SAPApplicationServerPropertiesVmDetailsList",
          "traits": {
            "smithy.api#documentation": "The list of virtual machines."
          }
        },
        "status": {
          "target": "com.azure.workloads#SAPVirtualInstanceStatus"
        },
        "health": {
          "target": "com.azure.workloads#HealthState"
        },
        "provisioningState": {
          "target": "com.azure.workloads#ProvisioningState"
        },
        "errors": {
          "target": "com.azure.workloads#SAPVirtualInstanceError",
          "traits": {
            "smithy.api#documentation": "Defines the Application Instance errors."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the SAP Application Server instance properties."
      }
    },
    "com.azure.workloads#SAPVirtualInstanceError": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.workloads#ErrorDefinition",
          "traits": {
            "smithy.api#documentation": "The Virtual Instance for SAP error body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An error response from the Virtual Instance for SAP Workload service."
      }
    },
    "com.azure.workloads#ErrorDefinition": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service specific error code which serves as the substatus for the HTTP error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the error."
          }
        },
        "details": {
          "target": "com.azure.workloads#ErrorDefinitionDetailsList",
          "traits": {
            "smithy.api#documentation": "Internal error details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error definition."
      }
    },
    "com.azure.workloads#ErrorDefinitionDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#ErrorDefinition"
      },
      "traits": {
        "smithy.api#documentation": "Internal error details."
      }
    },
    "com.azure.workloads#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the provisioning states."
      }
    },
    "com.azure.workloads#HealthState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Healthy"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unhealthy"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Degraded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the health of SAP Instances."
      }
    },
    "com.azure.workloads#SAPVirtualInstanceStatus": {
      "type": "enum",
      "members": {
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Starting"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopping"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Offline"
          }
        },
        "PARTIALLYRUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PartiallyRunning"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unavailable"
          }
        },
        "SOFTSHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SoftShutdown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the SAP Instance status."
      }
    },
    "com.azure.workloads#SAPApplicationServerPropertiesVmDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#ApplicationServerVmDetails"
      },
      "traits": {
        "smithy.api#documentation": "The list of virtual machines."
      }
    },
    "com.azure.workloads#ApplicationServerVmDetails": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.workloads#ApplicationServerVirtualMachineType"
        },
        "virtualMachineId": {
          "target": "smithy.api#String"
        },
        "storageDetails": {
          "target": "com.azure.workloads#ApplicationServerVmDetailsStorageDetailsList",
          "traits": {
            "smithy.api#documentation": "Storage details of all the Storage Accounts attached to the App Virtual Machine. For e.g. NFS on AFS Shared Storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Application Server VM Details."
      }
    },
    "com.azure.workloads#ApplicationServerVmDetailsStorageDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#StorageInformation"
      },
      "traits": {
        "smithy.api#documentation": "Storage details of all the Storage Accounts attached to the App Virtual Machine. For e.g. NFS on AFS Shared Storage."
      }
    },
    "com.azure.workloads#StorageInformation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage details of all the Storage accounts attached to the VM. For e.g. NFS on AFS Shared Storage. "
      }
    },
    "com.azure.workloads#ApplicationServerVirtualMachineType": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "STANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standby"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the type of application server VM."
      }
    },
    "com.azure.workloads#LoadBalancerDetails": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The Load Balancer details such as Load Balancer ID."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstanceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.workloads#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.workloads#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.workloads#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.workloads#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.workloads#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesDeleteRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Deletes the SAP Application Server Instance resource. <br><br>This operation will be used by service only. Delete by end user will return a Bad Request error.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.workloads#SAPApplicationServerInstancesDeleteResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.workloads#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesDeleteResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "applicationInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of SAP Application Server instance resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesUpdateRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Puts the SAP Application Server Instance resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.workloads#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.workloads#SAPApplicationServerInstancesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.workloads#SAPApplicationServerProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "applicationInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of SAP Application Server instance resource."
          }
        },
        "tags": {
          "target": "com.azure.workloads#SAPApplicationServerInstancesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the Resource tags."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesCreateRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Puts the SAP Application Server Instance resource. <br><br>This will be used by service only. PUT by end user will return a Bad Request error.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.workloads#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.workloads#SAPApplicationServerInstancesCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.workloads#SAPApplicationServerProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "applicationInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of SAP Application Server instance resource."
          }
        },
        "tags": {
          "target": "com.azure.workloads#SAPApplicationServerInstancesCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.workloads#SAPApplicationServerPropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerPropertiesInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Defines the SAP Application Server instance properties."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesGetRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPApplicationServerInstancesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Gets the SAP Application Server Instance corresponding to the Virtual Instance for SAP solutions resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.workloads#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.workloads#SAPApplicationServerInstancesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.workloads#SAPApplicationServerProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.workloads#SAPApplicationServerInstancesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "applicationInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of SAP Application Server instance resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPDatabaseInstancesListRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPDatabaseInstanceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Lists the Database resources associated with a Virtual Instance for SAP solutions resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPDatabaseInstanceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.workloads#SAPDatabaseInstanceListValueList",
          "traits": {
            "smithy.api#documentation": "Gets the list of SAP Database instances."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the value of next link."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the collection of SAP Database Instances."
      }
    },
    "com.azure.workloads#SAPDatabaseInstanceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#SAPDatabaseInstance"
      },
      "traits": {
        "smithy.api#documentation": "Gets the list of SAP Database instances."
      }
    },
    "com.azure.workloads#SAPDatabaseInstance": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.workloads#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.workloads#SAPDatabaseInstanceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.workloads#SAPDatabaseProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Define the Database resource."
      }
    },
    "com.azure.workloads#SAPDatabaseProperties": {
      "type": "structure",
      "members": {
        "subnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database subnet."
          }
        },
        "databaseSid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database SID name."
          }
        },
        "databaseType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database type, that is if the DB is HANA, DB2, Oracle, SAP ASE, Max DB or MS SQL Server."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database IP Address."
          }
        },
        "loadBalancerDetails": {
          "target": "com.azure.workloads#LoadBalancerDetails",
          "traits": {
            "smithy.api#documentation": "The Load Balancer details such as LoadBalancer ID attached to Database Virtual Machines"
          }
        },
        "vmDetails": {
          "target": "com.azure.workloads#SAPDatabasePropertiesVmDetailsList",
          "traits": {
            "smithy.api#documentation": "The list of virtual machines corresponding to the Database resource."
          }
        },
        "status": {
          "target": "com.azure.workloads#SAPVirtualInstanceStatus"
        },
        "provisioningState": {
          "target": "com.azure.workloads#ProvisioningState"
        },
        "errors": {
          "target": "com.azure.workloads#SAPVirtualInstanceError",
          "traits": {
            "smithy.api#documentation": "Defines the errors related to Database resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the Database properties."
      }
    },
    "com.azure.workloads#SAPDatabasePropertiesVmDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#DatabaseVmDetails"
      },
      "traits": {
        "smithy.api#documentation": "The list of virtual machines corresponding to the Database resource."
      }
    },
    "com.azure.workloads#DatabaseVmDetails": {
      "type": "structure",
      "members": {
        "virtualMachineId": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.azure.workloads#SAPVirtualInstanceStatus"
        },
        "storageDetails": {
          "target": "com.azure.workloads#DatabaseVmDetailsStorageDetailsList",
          "traits": {
            "smithy.api#documentation": "Storage details of all the Storage Accounts attached to the Database Virtual Machine. For e.g. NFS on AFS Shared Storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database VM details."
      }
    },
    "com.azure.workloads#DatabaseVmDetailsStorageDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#StorageInformation"
      },
      "traits": {
        "smithy.api#documentation": "Storage details of all the Storage Accounts attached to the Database Virtual Machine. For e.g. NFS on AFS Shared Storage."
      }
    },
    "com.azure.workloads#SAPDatabaseInstanceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPDatabaseInstancesDeleteRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPDatabaseInstancesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Deletes the Database resource corresponding to a Virtual Instance for SAP solutions resource. <br><br>This will be used by service only. Delete by end user will return a Bad Request error.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.workloads#SAPDatabaseInstancesDeleteResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.workloads#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesDeleteResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.workloads#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "databaseInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database resource name string modeled as parameter for auto generation to work correctly."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPDatabaseInstancesUpdateRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPDatabaseInstancesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Updates the Database resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.workloads#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.workloads#SAPDatabaseInstancesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.workloads#SAPDatabaseProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "databaseInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database resource name string modeled as parameter for auto generation to work correctly."
          }
        },
        "tags": {
          "target": "com.azure.workloads#SAPDatabaseInstancesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the Resource tags."
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPDatabaseInstancesCreateRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPDatabaseInstancesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Creates the Database resource corresponding to the Virtual Instance for SAP solutions resource. <br><br>This will be used by service only. PUT by end user will return a Bad Request error.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.workloads#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.workloads#SAPDatabaseInstancesCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.workloads#SAPDatabaseProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sapVirtualInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Virtual Instances for SAP solutions resource"
          }
        },
        "databaseInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database resource name string modeled as parameter for auto generation to work correctly."
          }
        },
        "tags": {
          "target": "com.azure.workloads#SAPDatabaseInstancesCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.workloads#SAPDatabasePropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.workloads#SAPDatabasePropertiesInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Defines the Database properties."
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.workloads#SAPDatabaseInstancesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.workloads#SAPDatabaseInstancesGetRequest"
      },
      "output": {
        "target": "com.azure.workloads#SAPDatabaseInstancesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
[...]
