{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.clerk.api#GetPublicInterstitialRequest": {
      "type": "structure",
      "members": {
        "frontendApi": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "frontendApi",
            "smithy.api#documentation": "Please use `frontend_api` instead"
          }
        },
        "frontend_api": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "frontend_api",
            "smithy.api#documentation": "The Frontend API key of your instance"
          }
        },
        "publishable_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "publishable_key",
            "smithy.api#documentation": "The publishable key of your instance"
          }
        },
        "proxy_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "proxy_url",
            "smithy.api#documentation": "The proxy URL of your instance"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "domain",
            "smithy.api#documentation": "The domain of your instance"
          }
        },
        "sign_in_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sign_in_url",
            "smithy.api#documentation": "The sign in URL of your instance"
          }
        },
        "use_domain_for_script": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "use_domain_for_script",
            "smithy.api#documentation": "Whether to use the domain for the script URL"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#GetPublicInterstitial": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#GetPublicInterstitialRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/public/interstitial",
          "code": 200
        },
        "smithy.api#documentation": "Returns the markup for the interstitial page\n\nThe Clerk interstitial endpoint serves an html page that loads clerk.js in order to check the user's authentication state.\nIt is used by Clerk SDKs when the user's authentication state cannot be immediately determined."
      }
    },
    "com.clerk.api#JWKS": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.clerk.api#JWKSKeysList"
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEd25519PublicKey": {
      "type": "structure",
      "members": {
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.clerk.api#JWKSEd25519PublicKeyKty",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "crv": {
          "target": "com.clerk.api#JWKSEd25519PublicKeyCrv",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "x5c": {
          "target": "com.clerk.api#JWKSEd25519PublicKeyX5cList"
        },
        "x5t": {
          "target": "smithy.api#String"
        },
        "x5t_S256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "x5t#S256"
          }
        },
        "x5u": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEd25519PublicKeyKty": {
      "type": "enum",
      "members": {
        "OKP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OKP"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEd25519PublicKeyCrv": {
      "type": "enum",
      "members": {
        "ED25519": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ed25519"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEd25519PublicKeyX5cList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEcdsaPublicKey": {
      "type": "structure",
      "members": {
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.clerk.api#JWKSEcdsaPublicKeyKty",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "crv": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "x5c": {
          "target": "com.clerk.api#JWKSEcdsaPublicKeyX5cList"
        },
        "x5t": {
          "target": "smithy.api#String"
        },
        "x5t_S256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "x5t#S256"
          }
        },
        "x5u": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEcdsaPublicKeyKty": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEcdsaPublicKeyX5cList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.clerk.api#JWKSRsaPublicKey": {
      "type": "structure",
      "members": {
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.clerk.api#JWKSRsaPublicKeyKty",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "x5c": {
          "target": "com.clerk.api#JWKSRsaPublicKeyX5cList"
        },
        "x5t": {
          "target": "smithy.api#String"
        },
        "x5t_S256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "x5t#S256"
          }
        },
        "x5u": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSRsaPublicKeyKty": {
      "type": "enum",
      "members": {
        "RSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSRsaPublicKeyX5cList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEd25519PrivateKey": {
      "type": "structure",
      "members": {
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.clerk.api#JWKSEd25519PrivateKeyKty",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "crv": {
          "target": "com.clerk.api#JWKSEd25519PrivateKeyCrv",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "d": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "x5c": {
          "target": "com.clerk.api#JWKSEd25519PrivateKeyX5cList"
        },
        "x5t": {
          "target": "smithy.api#String"
        },
        "x5t_S256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "x5t#S256"
          }
        },
        "x5u": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEd25519PrivateKeyKty": {
      "type": "enum",
      "members": {
        "OKP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OKP"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEd25519PrivateKeyCrv": {
      "type": "enum",
      "members": {
        "ED25519": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ed25519"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEd25519PrivateKeyX5cList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEcdsaPrivateKey": {
      "type": "structure",
      "members": {
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.clerk.api#JWKSEcdsaPrivateKeyKty",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "crv": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "d": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "x5c": {
          "target": "com.clerk.api#JWKSEcdsaPrivateKeyX5cList"
        },
        "x5t": {
          "target": "smithy.api#String"
        },
        "x5t_S256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "x5t#S256"
          }
        },
        "x5u": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEcdsaPrivateKeyKty": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSEcdsaPrivateKeyX5cList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.clerk.api#JWKSRsaPrivateKey": {
      "type": "structure",
      "members": {
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.clerk.api#JWKSRsaPrivateKeyKty",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "d": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "p": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dp": {
          "target": "smithy.api#String"
        },
        "dq": {
          "target": "smithy.api#String"
        },
        "qi": {
          "target": "smithy.api#String"
        },
        "x5c": {
          "target": "com.clerk.api#JWKSRsaPrivateKeyX5cList"
        },
        "x5t": {
          "target": "smithy.api#String"
        },
        "x5t_S256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "x5t#S256"
          }
        },
        "x5u": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSRsaPrivateKeyKty": {
      "type": "enum",
      "members": {
        "RSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSRsaPrivateKeyX5cList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.clerk.api#JWKSSymmetricKey": {
      "type": "structure",
      "members": {
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.clerk.api#JWKSSymmetricKeyKty",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "k": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "x5c": {
          "target": "com.clerk.api#JWKSSymmetricKeyX5cList"
        },
        "x5t": {
          "target": "smithy.api#String"
        },
        "x5t_S256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "x5t#S256"
          }
        },
        "x5u": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSSymmetricKeyKty": {
      "type": "enum",
      "members": {
        "OCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oct"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSSymmetricKeyX5cList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.clerk.api#JWKSKeysItem": {
      "type": "union",
      "members": {
        "JWKSEd25519PublicKey": {
          "target": "com.clerk.api#JWKSEd25519PublicKey"
        },
        "JWKSEcdsaPublicKey": {
          "target": "com.clerk.api#JWKSEcdsaPublicKey"
        },
        "JWKSRsaPublicKey": {
          "target": "com.clerk.api#JWKSRsaPublicKey"
        },
        "JWKSEd25519PrivateKey": {
          "target": "com.clerk.api#JWKSEd25519PrivateKey"
        },
        "JWKSEcdsaPrivateKey": {
          "target": "com.clerk.api#JWKSEcdsaPrivateKey"
        },
        "JWKSRsaPrivateKey": {
          "target": "com.clerk.api#JWKSRsaPrivateKey"
        },
        "JWKSSymmetricKey": {
          "target": "com.clerk.api#JWKSSymmetricKey"
        }
      },
      "traits": {}
    },
    "com.clerk.api#JWKSKeysList": {
      "type": "list",
      "member": {
        "target": "com.clerk.api#JWKSKeysItem"
      },
      "traits": {}
    },
    "com.clerk.api#GetJWKS": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.clerk.api#JWKS"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/jwks",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the JSON Web Key Set of the instance\n\nRetrieve the JSON Web Key Set of the instance"
      }
    },
    "com.clerk.api#VerifyClientRequest": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JWT that represents the active client.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#Client": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.api#ClientObject",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Objects of the same type share the same value.\n",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String representing the identifier of the session.\n",
            "smithy.api#required": {}
          }
        },
        "session_ids": {
          "target": "com.clerk.api#ClientSessionIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sessions": {
          "target": "com.clerk.api#ClientSessionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sign_in_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sign_up_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_active_session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last active session_id.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_authentication_strategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authentication strategy that was last used to authenticate the user on this client.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of last update.\n",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of creation.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#ClientObject": {
      "type": "enum",
      "members": {
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "String representing the object's type. Objects of the same type share the same value.\n"
      }
    },
    "com.clerk.api#ClientSessionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.clerk.api#Session": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.api#SessionObject",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Objects of the same type share the same value.\n",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actor": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.clerk.api#SessionStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_active_organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_active_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "latest_activity": {
          "target": "com.clerk.api#SessionActivityResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of expiration.\n",
            "smithy.api#required": {}
          }
        },
        "abandon_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of abandonment.\n",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of last update.\n",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of creation.\n",
            "smithy.api#required": {}
          }
        },
        "tasks": {
          "target": "com.clerk.api#SessionTasksList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#SessionObject": {
      "type": "enum",
      "members": {
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "String representing the object's type. Objects of the same type share the same value.\n"
      }
    },
    "com.clerk.api#SessionStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoked"
          }
        },
        "ENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ended"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        },
        "ABANDONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abandoned"
          }
        },
        "REPLACED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replaced"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#SessionActivityResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "device_type": {
          "target": "smithy.api#String"
        },
        "is_mobile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "browser_name": {
          "target": "smithy.api#String"
        },
        "browser_version": {
          "target": "smithy.api#String"
        },
        "ip_address": {
          "target": "smithy.api#String"
        },
        "city": {
          "target": "smithy.api#String"
        },
        "country": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.clerk.api#SessionTask": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#SessionTasksList": {
      "type": "list",
      "member": {
        "target": "com.clerk.api#SessionTask"
      },
      "traits": {}
    },
    "com.clerk.api#ClientSessionsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.api#Session"
      },
      "traits": {}
    },
    "com.clerk.api#VerifyClient": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#VerifyClientRequest"
      },
      "output": {
        "target": "com.clerk.api#Client"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clients/verify",
          "code": 200
        },
        "smithy.api#documentation": "Verify a client\n\nVerifies the client in the provided token"
      }
    },
    "com.clerk.api#GetClientRequest": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Client ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#GetClient": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#GetClientRequest"
      },
      "output": {
        "target": "com.clerk.api#Client"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/clients/{client_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a client\n\nReturns the details of a client."
      }
    },
    "com.clerk.api#CreateEmailAddressRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID representing the user",
            "smithy.api#required": {}
          }
        },
        "email_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new email address. Must adhere to the RFC 5322 specification for email address format.",
            "smithy.api#required": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When created, the email address will be marked as verified.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Create this email address as the primary email address for the user.\nDefault: false, unless it is the first email address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "notify_primary_email_address_changed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to `true` and the email address is created as the user's new primary,\nthe previous primary email address is notified of the change.\nBy default, no notification is sent.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#EmailAddress": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "com.clerk.api#EmailAddressObject",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Objects of the same type share the same value.\n",
            "smithy.api#required": {}
          }
        },
        "email_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reserved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "verification": {
          "target": "com.clerk.api#EmailAddressVerification",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "linked_to": {
          "target": "com.clerk.api#EmailAddressLinkedToList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "matches_sso_connection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this email address domain matches an active enterprise connection.\n"
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of creation\n",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of creation\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#EmailAddressObject": {
      "type": "enum",
      "members": {
        "EMAIL_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_address"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "String representing the object's type. Objects of the same type share the same value.\n"
      }
    },
    "com.clerk.api#VerificationOtp": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.api#VerificationOtpObject"
        },
        "status": {
          "target": "com.clerk.api#VerificationOtpStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "strategy": {
          "target": "com.clerk.api#VerificationOtpStrategy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delivery channel of the code (phone codes only).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified_at_client": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationOtpObject": {
      "type": "enum",
      "members": {
        "VERIFICATION_OTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verification_otp"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationOtpStatus": {
      "type": "enum",
      "members": {
        "UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unverified"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationOtpStrategy": {
      "type": "enum",
      "members": {
        "PHONE_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phone_code"
          }
        },
        "EMAIL_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_code"
          }
        },
        "RESET_PASSWORD_EMAIL_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reset_password_email_code"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationAdmin": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.api#VerificationAdminObject"
        },
        "status": {
          "target": "com.clerk.api#VerificationAdminStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "strategy": {
          "target": "com.clerk.api#VerificationAdminStrategy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified_at_client": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationAdminObject": {
      "type": "enum",
      "members": {
        "VERIFICATION_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verification_admin"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationAdminStatus": {
      "type": "enum",
      "members": {
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationAdminStrategy": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationFromOauth": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.api#VerificationFromOauthObject"
        },
        "status": {
          "target": "com.clerk.api#VerificationFromOauthStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "strategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.clerk.api#ClerkError",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified_at_client": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationFromOauthObject": {
      "type": "enum",
      "members": {
        "VERIFICATION_FROM_OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verification_from_oauth"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationFromOauthStatus": {
      "type": "enum",
      "members": {
        "UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unverified"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#ClerkError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "long_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.clerk.api#ClerkErrorMetaMap"
        }
      },
      "traits": {}
    },
    "com.clerk.api#ClerkErrorMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.clerk.api#VerificationTicket": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.api#VerificationTicketObject"
        },
        "status": {
          "target": "com.clerk.api#VerificationTicketStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "strategy": {
          "target": "com.clerk.api#VerificationTicketStrategy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified_at_client": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationTicketObject": {
      "type": "enum",
      "members": {
        "VERIFICATION_TICKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verification_ticket"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationTicketStatus": {
      "type": "enum",
      "members": {
        "UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unverified"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationTicketStrategy": {
      "type": "enum",
      "members": {
        "TICKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ticket"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationSaml": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.api#VerificationSamlObject"
        },
        "status": {
          "target": "com.clerk.api#VerificationSamlStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "strategy": {
          "target": "com.clerk.api#VerificationSamlStrategy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "external_verification_redirect_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "com.clerk.api#ClerkError",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified_at_client": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationSamlObject": {
      "type": "enum",
      "members": {
        "VERIFICATION_SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verification_saml"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationSamlStatus": {
      "type": "enum",
      "members": {
        "UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unverified"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "TRANSFERABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transferable"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationSamlStrategy": {
      "type": "enum",
      "members": {
        "SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saml"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationEmailLink": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.api#VerificationEmailLinkObject"
        },
        "status": {
          "target": "com.clerk.api#VerificationEmailLinkStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "strategy": {
          "target": "com.clerk.api#VerificationEmailLinkStrategy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified_at_client": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationEmailLinkObject": {
      "type": "enum",
      "members": {
        "VERIFICATION_EMAIL_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verification_email_link"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationEmailLinkStatus": {
      "type": "enum",
      "members": {
        "UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unverified"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationEmailLinkStrategy": {
      "type": "enum",
      "members": {
        "EMAIL_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_link"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationScim": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.api#VerificationScimObject"
        },
        "status": {
          "target": "com.clerk.api#VerificationScimStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "strategy": {
          "target": "com.clerk.api#VerificationScimStrategy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationScimObject": {
      "type": "enum",
      "members": {
        "VERIFICATION_SCIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verification_scim"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationScimStatus": {
      "type": "enum",
      "members": {
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#VerificationScimStrategy": {
      "type": "enum",
      "members": {
        "SCIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scim"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#EmailAddressVerification": {
      "type": "union",
      "members": {
        "VerificationOtp": {
          "target": "com.clerk.api#VerificationOtp"
        },
        "VerificationAdmin": {
          "target": "com.clerk.api#VerificationAdmin"
        },
        "VerificationFromOauth": {
          "target": "com.clerk.api#VerificationFromOauth"
        },
        "VerificationTicket": {
          "target": "com.clerk.api#VerificationTicket"
        },
        "VerificationSaml": {
          "target": "com.clerk.api#VerificationSaml"
        },
        "VerificationEmailLink": {
          "target": "com.clerk.api#VerificationEmailLink"
        },
        "VerificationScim": {
          "target": "com.clerk.api#VerificationScim"
        }
      },
      "traits": {}
    },
    "com.clerk.api#IdentificationLink": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#EmailAddressLinkedToList": {
      "type": "list",
      "member": {
        "target": "com.clerk.api#IdentificationLink"
      },
      "traits": {}
    },
    "com.clerk.api#CreateEmailAddress": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#CreateEmailAddressRequest"
      },
      "output": {
        "target": "com.clerk.api#EmailAddress"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        },
        {
          "target": "com.clerk.api#Conflict"
        },
        {
          "target": "com.clerk.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email_addresses",
          "code": 200
        },
        "smithy.api#documentation": "Create an email address\n\nCreate a new email address"
      }
    },
    "com.clerk.api#GetEmailAddressRequest": {
      "type": "structure",
      "members": {
        "email_address_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the email address to retrieve"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#GetEmailAddress": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#GetEmailAddressRequest"
      },
      "output": {
        "target": "com.clerk.api#EmailAddress"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email_addresses/{email_address_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an email address\n\nReturns the details of an email address."
      }
    },
    "com.clerk.api#UpdateEmailAddressRequest": {
      "type": "structure",
      "members": {
        "email_address_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the email address to update"
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The email address will be marked as verified.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this email address as the primary email address for the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "notify_primary_email_address_changed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to `true` and this update makes the email address the user's new primary,\nthe previous primary email address is notified of the change.\nBy default, no notification is sent.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#UpdateEmailAddress": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#UpdateEmailAddressRequest"
      },
      "output": {
        "target": "com.clerk.api#EmailAddress"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        },
        {
          "target": "com.clerk.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/email_addresses/{email_address_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an email address\n\nUpdates an email address."
      }
    },
    "com.clerk.api#DeleteEmailAddressRequest": {
      "type": "structure",
      "members": {
        "email_address_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the email address to delete"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#DeletedObject": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "external_id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.clerk.api#DeleteEmailAddress": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#DeleteEmailAddressRequest"
      },
      "output": {
        "target": "com.clerk.api#DeletedObject"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        },
        {
          "target": "com.clerk.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email_addresses/{email_address_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an email address\n\nDelete the email address with the given ID"
      }
    },
    "com.clerk.api#PrepareEmailAddressVerificationRequest": {
      "type": "structure",
      "members": {
        "email_address_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the email address to send the verification code to"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#PrepareEmailAddressVerificationResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the verification object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the verification. Pass this to attempt_verification."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the verification (unverified, verified, expired, or failed)."
          }
        },
        "strategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The verification strategy (email_code or phone_code)."
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of attempts made against this verification.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (milliseconds) at which the code expires.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel the code was sent over (phone numbers only).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.clerk.api#PrepareEmailAddressVerification": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#PrepareEmailAddressVerificationRequest"
      },
      "output": {
        "target": "com.clerk.api#PrepareEmailAddressVerificationResponse"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email_addresses/{email_address_id}/prepare_verification",
          "code": 200
        },
        "smithy.api#documentation": "Send a verification code to an email address\n\nSends a one-time code to the given email address so that a backend can\nverify the user controls it (for example, in a custom, backend-driven\nsign-in flow). The code is tracked on its own verification; confirm it\nwith attempt_verification."
      }
    },
    "com.clerk.api#AttemptEmailAddressVerificationRequest": {
      "type": "structure",
      "members": {
        "email_address_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the email address whose code is being verified"
          }
        },
        "verification_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the verification to check, such as one returned by prepare_verification",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The verification code that was sent to the email address",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#AttemptEmailAddressVerificationResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the verification object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the verification. Pass this to attempt_verification."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the verification (unverified, verified, expired, or failed)."
          }
        },
        "strategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The verification strategy (email_code or phone_code)."
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of attempts made against this verification.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (milliseconds) at which the code expires.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel the code was sent over (phone numbers only).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.clerk.api#AttemptEmailAddressVerification": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#AttemptEmailAddressVerificationRequest"
      },
      "output": {
        "target": "com.clerk.api#AttemptEmailAddressVerificationResponse"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email_addresses/{email_address_id}/attempt_verification",
          "code": 200
        },
        "smithy.api#documentation": "Verify a code sent to an email address\n\nChecks a one-time code against the verification identified by\nverification_id, and returns the verification with its updated status\n(`verified`, `unverified`, `expired`, or `failed`) and attempt count, so a\nbackend driving its own frontend can react on every attempt — an incorrect\nor expired code is reported through the status, not as an error. Resubmitting\na verification whose code was already accepted is rejected with a\n`verification_already_verified` error. If the code\nis correct and the email address is not already verified, it is also marked\nas verified as a side effect (just as it would be in a frontend verification\nflow); an already verified email address is left unchanged. It never creates\na session; to sign the user in afterwards, mint a sign-in token."
      }
    },
    "com.clerk.api#ReplaceUserEmailAddressRequestIdentificationStatus": {
      "type": "enum",
      "members": {
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "RESERVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reserved"
          }
        },
        "UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unverified"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls the status of the replacement email address. Defaults to `verified`. Set to\n`reserved` to create it reserved (unverified but usable for sign-in and locked so no\nother user can claim it), or to `unverified` to create it neither usable for sign-in\nnor locked.\n\n**Warning:** `unverified` can lock the user out of their account. An unverified email\naddress cannot be used to sign in, so if the user has no other verified or reserved\nidentifier, they will be unable to authenticate and unable to verify this address.\nPrefer `reserved` unless you specifically need the address left unclaimed — for\nexample so that another user can also hold it until one of them verifies it."
      }
    },
    "com.clerk.api#ReplaceUserEmailAddressRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user whose email address to replace"
          }
        },
        "email_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new email address. Must adhere to the RFC 5322 specification for email address format.",
            "smithy.api#required": {}
          }
        },
        "identification_status": {
          "target": "com.clerk.api#ReplaceUserEmailAddressRequestIdentificationStatus",
          "traits": {
            "smithy.api#documentation": "Controls the status of the replacement email address. Defaults to `verified`. Set to\n`reserved` to create it reserved (unverified but usable for sign-in and locked so no\nother user can claim it), or to `unverified` to create it neither usable for sign-in\nnor locked.\n\n**Warning:** `unverified` can lock the user out of their account. An unverified email\naddress cannot be used to sign in, so if the user has no other verified or reserved\nidentifier, they will be unable to authenticate and unable to verify this address.\nPrefer `reserved` unless you specifically need the address left unclaimed — for\nexample so that another user can also hold it until one of them verifies it."
          }
        },
        "notify_primary_email_address_changed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to `true`, the user's previous primary email address is notified that the\nprimary email address has changed. No notification is sent when the replacement\nis the user's current primary email address. By default, no notification is sent.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#ReplaceUserEmailAddress": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#ReplaceUserEmailAddressRequest"
      },
      "output": {
        "target": "com.clerk.api#EmailAddress"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        },
        {
          "target": "com.clerk.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/users/{user_id}/email_address",
          "code": 200
        },
        "smithy.api#documentation": "Replace a user's email address\n\nReplaces all of the user's email addresses with a single primary email address.\nBy default the new email address is created verified, with the admin verification strategy.\nWhen `identification_status` is `reserved` it is created reserved instead: unverified but usable\nfor sign-in and locked so no other user can claim it. When it is `unverified` the address is\nneither usable for sign-in nor locked. Any existing email addresses are deleted.\nIf an existing email address is linked to a connected account, the request is rejected; remove\nthe connected account first.\n\n**Warning:** `identification_status: unverified` can lock the user out of their account. An\nunverified email address cannot be used to sign in, so if the user has no other verified or\nreserved identifier, deleting their existing email addresses leaves them unable to\nauthenticate — and unable to verify the new address, since that requires signing in. Recovery\nthen requires another admin API call."
      }
    },
    "com.clerk.api#CreatePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID representing the user",
            "smithy.api#required": {}
          }
        },
        "phone_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new phone number. Must adhere to the E.164 standard for phone number format.",
            "smithy.api#required": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When created, the phone number will be marked as verified.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Create this phone number as the primary phone number for the user. Default: false, unless it is the first phone number.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reserved_for_second_factor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Create this phone number as reserved for multi-factor authentication. The phone number must also be verified.\nIf there are no other reserved second factors, the phone number will be set as the default second factor.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#PhoneNumber": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "com.clerk.api#PhoneNumberObject",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Objects of the same type share the same value.\n",
            "smithy.api#required": {}
          }
        },
        "phone_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reserved_for_second_factor": {
          "target": "smithy.api#Boolean"
        },
        "default_second_factor": {
          "target": "smithy.api#Boolean"
        },
        "reserved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "verification": {
          "target": "com.clerk.api#PhoneNumberVerification",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "linked_to": {
          "target": "com.clerk.api#PhoneNumberLinkedToList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "backup_codes": {
          "target": "com.clerk.api#PhoneNumberBackupCodesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of creation\n",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of creation\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#PhoneNumberObject": {
      "type": "enum",
      "members": {
        "PHONE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phone_number"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "String representing the object's type. Objects of the same type share the same value.\n"
      }
    },
    "com.clerk.api#PhoneNumberVerification": {
      "type": "union",
      "members": {
        "VerificationOtp": {
          "target": "com.clerk.api#VerificationOtp"
        },
        "VerificationAdmin": {
          "target": "com.clerk.api#VerificationAdmin"
        }
      },
      "traits": {}
    },
    "com.clerk.api#PhoneNumberLinkedToList": {
      "type": "list",
      "member": {
        "target": "com.clerk.api#IdentificationLink"
      },
      "traits": {}
    },
    "com.clerk.api#PhoneNumberBackupCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.clerk.api#CreatePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#CreatePhoneNumberRequest"
      },
      "output": {
        "target": "com.clerk.api#PhoneNumber"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        },
        {
          "target": "com.clerk.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone_numbers",
          "code": 200
        },
        "smithy.api#documentation": "Create a phone number\n\nCreate a new phone number"
      }
    },
    "com.clerk.api#GetPhoneNumberRequest": {
      "type": "structure",
      "members": {
        "phone_number_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the phone number to retrieve"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#GetPhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#GetPhoneNumberRequest"
      },
      "output": {
        "target": "com.clerk.api#PhoneNumber"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/phone_numbers/{phone_number_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a phone number\n\nReturns the details of a phone number"
      }
    },
    "com.clerk.api#UpdatePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "phone_number_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the phone number to update"
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The phone number will be marked as verified.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this phone number as the primary phone number for the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reserved_for_second_factor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this phone number as reserved for multi-factor authentication.\nThe phone number must also be verified.\nIf there are no other reserved second factors, the phone number will be set as the default second factor.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#UpdatePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#UpdatePhoneNumberRequest"
      },
      "output": {
        "target": "com.clerk.api#PhoneNumber"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/phone_numbers/{phone_number_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a phone number\n\nUpdates a phone number"
      }
    },
    "com.clerk.api#DeletePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "phone_number_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the phone number to delete"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#DeletePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#DeletePhoneNumberRequest"
      },
      "output": {
        "target": "com.clerk.api#DeletedObject"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/phone_numbers/{phone_number_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a phone number\n\nDelete the phone number with the given ID"
      }
    },
    "com.clerk.api#PreparePhoneNumberVerificationRequest": {
      "type": "structure",
      "members": {
        "phone_number_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the phone number to send the verification code to"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#PreparePhoneNumberVerificationResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the verification object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the verification. Pass this to attempt_verification."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the verification (unverified, verified, expired, or failed)."
          }
        },
        "strategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The verification strategy (email_code or phone_code)."
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of attempts made against this verification.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (milliseconds) at which the code expires.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel the code was sent over (phone numbers only).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.clerk.api#PreparePhoneNumberVerification": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#PreparePhoneNumberVerificationRequest"
      },
      "output": {
        "target": "com.clerk.api#PreparePhoneNumberVerificationResponse"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone_numbers/{phone_number_id}/prepare_verification",
          "code": 200
        },
        "smithy.api#documentation": "Send a verification code to a phone number\n\nSends a one-time code to the given phone number so that a backend can\nverify the user controls it (for example, in a custom, backend-driven\nsign-in flow). The code is tracked on its own verification; confirm it\nwith attempt_verification."
      }
    },
    "com.clerk.api#AttemptPhoneNumberVerificationRequest": {
      "type": "structure",
      "members": {
        "phone_number_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the phone number whose code is being verified"
          }
        },
        "verification_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the verification to check, such as one returned by prepare_verification",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The verification code that was sent to the phone number",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#AttemptPhoneNumberVerificationResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the verification object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the verification. Pass this to attempt_verification."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the verification (unverified, verified, expired, or failed)."
          }
        },
        "strategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The verification strategy (email_code or phone_code)."
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of attempts made against this verification.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (milliseconds) at which the code expires.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel the code was sent over (phone numbers only).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.clerk.api#AttemptPhoneNumberVerification": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#AttemptPhoneNumberVerificationRequest"
      },
      "output": {
        "target": "com.clerk.api#AttemptPhoneNumberVerificationResponse"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone_numbers/{phone_number_id}/attempt_verification",
          "code": 200
        },
        "smithy.api#documentation": "Verify a code sent to a phone number\n\nChecks a one-time code against the verification identified by\nverification_id, and returns the verification with its updated status\n(`verified`, `unverified`, `expired`, or `failed`) and attempt count, so a\nbackend driving its own frontend can react on every attempt — an incorrect\nor expired code is reported through the status, not as an error. Resubmitting\na verification whose code was already accepted is rejected with a\n`verification_already_verified` error. If the code\nis correct and the phone number is not already verified, it is also marked\nas verified as a side effect (just as it would be in a frontend verification\nflow); an already verified phone number is left unchanged. It never creates\na session; to sign the user in afterwards, mint a sign-in token."
      }
    },
    "com.clerk.api#ReplaceUserPhoneNumberRequestIdentificationStatus": {
      "type": "enum",
      "members": {
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "RESERVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reserved"
          }
        },
        "UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unverified"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls the status of the replacement phone number. Defaults to `verified`. Set to\n`reserved` to create it reserved (unverified but usable for sign-in and locked so no\nother user can claim it), or to `unverified` to create it neither usable for sign-in\nnor locked.\n\n**Warning:** `unverified` can lock the user out of their account. An unverified phone\nnumber cannot be used to sign in, so if the user has no other verified or reserved\nidentifier, they will be unable to authenticate and unable to verify this number.\nPrefer `reserved` unless you specifically need the number left unclaimed — for\nexample so that another user can also hold it until one of them verifies it."
      }
    },
    "com.clerk.api#ReplaceUserPhoneNumberRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user whose phone number to replace"
          }
        },
        "phone_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new phone number. Must adhere to the E.164 standard for phone number format.",
            "smithy.api#required": {}
          }
        },
        "identification_status": {
          "target": "com.clerk.api#ReplaceUserPhoneNumberRequestIdentificationStatus",
          "traits": {
            "smithy.api#documentation": "Controls the status of the replacement phone number. Defaults to `verified`. Set to\n`reserved` to create it reserved (unverified but usable for sign-in and locked so no\nother user can claim it), or to `unverified` to create it neither usable for sign-in\nnor locked.\n\n**Warning:** `unverified` can lock the user out of their account. An unverified phone\nnumber cannot be used to sign in, so if the user has no other verified or reserved\nidentifier, they will be unable to authenticate and unable to verify this number.\nPrefer `reserved` unless you specifically need the number left unclaimed — for\nexample so that another user can also hold it until one of them verifies it."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#ReplaceUserPhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#ReplaceUserPhoneNumberRequest"
      },
      "output": {
        "target": "com.clerk.api#PhoneNumber"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#Forbidden"
        },
        {
          "target": "com.clerk.api#NotFound"
        },
        {
          "target": "com.clerk.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/users/{user_id}/phone_number",
          "code": 200
        },
        "smithy.api#documentation": "Replace a user's phone number\n\nReplaces all of the user's phone numbers with a single primary phone number.\nBy default the new phone number is created verified, with the admin verification strategy.\nWhen `identification_status` is `reserved` it is created reserved instead: unverified but usable\nfor sign-in and locked so no other user can claim it. When it is `unverified` the phone number is\nneither usable for sign-in nor locked. The new phone number is never reserved for\nsecond factor. Any existing phone numbers are deleted; replacing a phone number that is reserved\nfor second factor disables the user's MFA.\n\n**Warning:** `identification_status: unverified` can lock the user out of their account. An\nunverified phone number cannot be used to sign in, so if the user has no other verified or\nreserved identifier, deleting their existing phone numbers leaves them unable to authenticate —\nand unable to verify the new number, since that requires signing in. Recovery then requires\nanother admin API call."
      }
    },
    "com.clerk.api#GetSessionListRequestStatus": {
      "type": "enum",
      "members": {
        "ABANDONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abandoned"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ended"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        },
        "REPLACED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replaced"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoked"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.api#GetSessionListRequest": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "client_id",
            "smithy.api#documentation": "List sessions for the given client"
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id",
            "smithy.api#documentation": "List sessions for the given user"
          }
        },
        "status": {
          "target": "com.clerk.api#GetSessionListRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter sessions by the provided status"
          }
        },
        "paginated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "paginated",
            "smithy.api#documentation": "Whether to paginate the results.\nIf true, the results will be paginated.\nIf false, the results will not be paginated."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Applies a limit to the number of results returned.\nCan be used for paginating the results together with `offset`."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Skip the first `offset` results when paginating.\nNeeds to be an integer greater or equal to zero.\nTo be used in conjunction with `limit`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#GetSessionListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.clerk.api#Session"
      },
      "traits": {}
    },
    "com.clerk.api#GetSessionListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.clerk.api#GetSessionListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.clerk.api#GetSessionList": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#GetSessionListRequest"
      },
      "output": {
        "target": "com.clerk.api#GetSessionListResponse"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sessions",
          "code": 200
        },
        "smithy.api#documentation": "List all sessions\n\nReturns a list of sessions matching the provided criteria.\nThe sessions are returned sorted by creation date, with the newest sessions appearing first.\n\nNote: This endpoint does not return all sessions that have ever existed. Old and inactive sessions are periodically cleaned up and will not be included in the results.\n\n**Deprecation Notice (2024-01-01):** All parameters were initially considered optional, however\nmoving forward at least one of `client_id` or `user_id` parameters should be provided."
      }
    },
    "com.clerk.api#CreateSessionRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID representing the user",
            "smithy.api#required": {}
          }
        },
        "active_organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the organization to set as active for this session"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.api#CreateSession": {
      "type": "operation",
      "input": {
        "target": "com.clerk.api#CreateSessionRequest"
      },
      "output": {
        "target": "com.clerk.api#Session"
      },
      "errors": [
        {
          "target": "com.clerk.api#BadRequest"
        },
        {
          "target": "com.clerk.api#NotFound"
        },
        {
          "target": "com.clerk.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sessions",
          "code": 200
        },
        "smithy.api#documentation": "Create a new active session\n\nCreate a new active session for the provided user ID.\n\n**This operation is intended only for use in testing, and is not available for production instances.** If you are looking to generate a user session from the backend,\nwe recommend using the [Sign-in Tokens](https://clerk.com/docs/reference/backend-api/tag/Sign-in-Tokens#operation/CreateSignInToken) resource instead."
      }
    },
    "com.clerk.api#GetSessionRequest": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
