{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.okta.management#GetWellKnownAppAuthenticatorConfigurationRequest": {
      "type": "structure",
      "members": {
        "oauthClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "oauthClientId",
            "smithy.api#required": {},
            "smithy.api#documentation": "Filters app authenticator configurations by `oauthClientId`"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#WellKnownAppAuthenticatorConfiguration": {
      "type": "structure",
      "members": {
        "appAuthenticatorEnrollEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authenticator enrollment endpoint"
          }
        },
        "authenticatorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the app authenticator"
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the authenticator was created"
          }
        },
        "key": {
          "target": "com.okta.management#AuthenticatorKeyEnum"
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the authenticator was last modified"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authenticator display name"
          }
        },
        "orgId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `id` of the Okta Org"
          }
        },
        "settings": {
          "target": "com.okta.management#WellKnownAppAuthenticatorConfigurationSettings"
        },
        "supportedMethods": {
          "target": "com.okta.management#WellKnownAppAuthenticatorConfigurationSupportedMethodsList"
        },
        "type": {
          "target": "com.okta.management#WellKnownAppAuthenticatorConfigurationType",
          "traits": {
            "smithy.api#documentation": "The type of authenticator"
          }
        }
      },
      "traits": {}
    },
    "com.okta.management#AuthenticatorKeyEnum": {
      "type": "enum",
      "members": {
        "CUSTOM_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_app"
          }
        },
        "DUO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duo"
          }
        },
        "EXTERNAL_IDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external_idp"
          }
        },
        "GOOGLE_OTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google_otp"
          }
        },
        "OKTA_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "okta_email"
          }
        },
        "OKTA_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "okta_password"
          }
        },
        "OKTA_VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "okta_verify"
          }
        },
        "ONPREM_MFA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onprem_mfa"
          }
        },
        "PHONE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phone_number"
          }
        },
        "SECURITY_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security_key"
          }
        },
        "SECURITY_QUESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security_question"
          }
        },
        "SMART_CARD_IDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart_card_idp"
          }
        },
        "SYMANTEC_VIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "symantec_vip"
          }
        },
        "WEBAUTHN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webauthn"
          }
        },
        "YUBIKEY_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yubikey_token"
          }
        },
        "TAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tac"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A human-readable string that identifies the authenticator"
      }
    },
    "com.okta.management#CustomAppUserVerificationEnum": {
      "type": "enum",
      "members": {
        "PREFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFERRED"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User verification setting"
      }
    },
    "com.okta.management#WellKnownAppAuthenticatorConfigurationSettings": {
      "type": "structure",
      "members": {
        "userVerification": {
          "target": "com.okta.management#CustomAppUserVerificationEnum"
        }
      },
      "traits": {}
    },
    "com.okta.management#SupportedMethods": {
      "type": "structure",
      "members": {
        "settings": {
          "target": "com.okta.management#SupportedMethodsSettings"
        },
        "status": {
          "target": "smithy.api#Document"
        },
        "type": {
          "target": "com.okta.management#SupportedMethodsType",
          "traits": {
            "smithy.api#documentation": "The type of authenticator method"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The supported methods of an authenticator"
      }
    },
    "com.okta.management#PushMethodKeyProtection": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY"
          }
        },
        "HARDWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARDWARE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether you must use a hardware key store"
      }
    },
    "com.okta.management#AuthenticatorMethodAlgorithm": {
      "type": "enum",
      "members": {
        "ES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES256"
          }
        },
        "RS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS256"
          }
        }
      },
      "traits": {}
    },
    "com.okta.management#SupportedMethodsSettingsAlgorithmsList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#AuthenticatorMethodAlgorithm"
      },
      "traits": {
        "smithy.api#documentation": "The encryption algorithm for this authenticator method"
      }
    },
    "com.okta.management#AuthenticatorMethodTransactionType": {
      "type": "enum",
      "members": {
        "CIBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIBA"
          }
        },
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN"
          }
        }
      },
      "traits": {}
    },
    "com.okta.management#SupportedMethodsSettingsTransactionTypesList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#AuthenticatorMethodTransactionType"
      },
      "traits": {
        "smithy.api#documentation": "The transaction type for this authenticator method"
      }
    },
    "com.okta.management#SupportedMethodsSettings": {
      "type": "structure",
      "members": {
        "keyProtection": {
          "target": "com.okta.management#PushMethodKeyProtection"
        },
        "algorithms": {
          "target": "com.okta.management#SupportedMethodsSettingsAlgorithmsList",
          "traits": {
            "smithy.api#documentation": "The encryption algorithm for this authenticator method"
          }
        },
        "transactionTypes": {
          "target": "com.okta.management#SupportedMethodsSettingsTransactionTypesList",
          "traits": {
            "smithy.api#documentation": "The transaction type for this authenticator method"
          }
        }
      },
      "traits": {}
    },
    "com.okta.management#SupportedMethodsType": {
      "type": "enum",
      "members": {
        "PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "push"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of authenticator method"
      }
    },
    "com.okta.management#WellKnownAppAuthenticatorConfigurationSupportedMethodsList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#SupportedMethods"
      },
      "traits": {}
    },
    "com.okta.management#WellKnownAppAuthenticatorConfigurationType": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of authenticator"
      }
    },
    "com.okta.management#GetWellKnownAppAuthenticatorConfigurationResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#WellKnownAppAuthenticatorConfiguration"
      },
      "traits": {}
    },
    "com.okta.management#GetWellKnownAppAuthenticatorConfigurationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.okta.management#GetWellKnownAppAuthenticatorConfigurationResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.okta.management#GetWellKnownAppAuthenticatorConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#GetWellKnownAppAuthenticatorConfigurationRequest"
      },
      "output": {
        "target": "com.okta.management#GetWellKnownAppAuthenticatorConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.okta.management#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/.well-known/app-authenticator-configuration",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the well-known app authenticator configuration\n\nRetrieves the well-known app authenticator configuration. Includes an app authenticator's settings, supported methods, and other details."
      }
    },
    "com.okta.management#GetAppleAppSiteAssociationWellKnownURIResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.okta.management#GetAppleAppSiteAssociationWellKnownURI": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.okta.management#GetAppleAppSiteAssociationWellKnownURIResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/.well-known/apple-app-site-association",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the customized apple-app-site-association URI content\n\nRetrieves the content of the `apple-app-site-assocation` well-known URI\n\n> **Note:**  When serving this URI, Okta adds `authsrv` content to provide a seamless experience for Okta Verify. You can't modify the content in the `authsrv` object."
      }
    },
    "com.okta.management#PublicAssetLinksWellKnownURI": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The well-known URI content in a JSON array of objects format"
      }
    },
    "com.okta.management#GetAssetLinksWellKnownURIResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.okta.management#PublicAssetLinksWellKnownURI",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.okta.management#GetAssetLinksWellKnownURI": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.okta.management#GetAssetLinksWellKnownURIResponse"
      },
      "errors": [
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/.well-known/assetlinks.json",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the customized assetlinks.json URI content\n\nRetrieves the content of the `assetlinks.json` well-known URI"
      }
    },
    "com.okta.management#WellKnownOrgMetadata": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Org unique identifier"
          }
        },
        "pipeline": {
          "target": "com.okta.management#PipelineType"
        },
        "_links": {
          "target": "com.okta.management#WellKnownOrgMetadataLinks",
          "traits": {
            "smithy.api#documentation": "Specifies link relations (see [Web Linking](https://www.rfc-editor.org/rfc/rfc8288)) available for this object using the [JSON Hypertext Application Language](https://datatracker.ietf.org/doc/html/draft-kelly-json-hal-06) specification"
          }
        }
      },
      "traits": {}
    },
    "com.okta.management#PipelineType": {
      "type": "enum",
      "members": {
        "IDX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idx"
          }
        },
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Okta authentication pipeline of the org"
      }
    },
    "com.okta.management#HrefHints": {
      "type": "structure",
      "members": {
        "allow": {
          "target": "com.okta.management#HrefHintsAllowList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes allowed HTTP verbs for the `href`"
      }
    },
    "com.okta.management#HttpMethod": {
      "type": "enum",
      "members": {
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        }
      },
      "traits": {}
    },
    "com.okta.management#HrefHintsAllowList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#HttpMethod"
      },
      "traits": {}
    },
    "com.okta.management#WellKnownOrgMetadataLinksAlternate": {
      "type": "structure",
      "members": {
        "hints": {
          "target": "com.okta.management#HrefHints"
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link URI",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link name"
          }
        },
        "templated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the link object's `href` property is a URI template."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type of the link. If omitted, it is implicitly `application/json`."
          }
        }
      },
      "traits": {}
    },
    "com.okta.management#WellKnownOrgMetadataLinksOrganization": {
      "type": "structure",
      "members": {
        "hints": {
          "target": "com.okta.management#HrefHints"
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link URI",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link name"
          }
        },
        "templated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the link object's `href` property is a URI template."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type of the link. If omitted, it is implicitly `application/json`."
          }
        }
      },
      "traits": {}
    },
    "com.okta.management#WellKnownOrgMetadataLinks": {
      "type": "structure",
      "members": {
        "alternate": {
          "target": "com.okta.management#WellKnownOrgMetadataLinksAlternate"
        },
        "organization": {
          "target": "com.okta.management#WellKnownOrgMetadataLinksOrganization"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies link relations (see [Web Linking](https://www.rfc-editor.org/rfc/rfc8288)) available for this object using the [JSON Hypertext Application Language](https://datatracker.ietf.org/doc/html/draft-kelly-json-hal-06) specification"
      }
    },
    "com.okta.management#GetWellknownOrgMetadata": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.okta.management#WellKnownOrgMetadata"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/.well-known/okta-organization",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the Org metadata\n\nRetrieves the org metadata, which includes the org ID, configured custom domains, and authentication pipeline"
      }
    },
    "com.okta.management#WellKnownSSFMetadata": {
      "type": "structure",
      "members": {
        "authorization_schemes": {
          "target": "com.okta.management#WellKnownSSFMetadataAuthorizationSchemesList",
          "traits": {
            "smithy.api#documentation": "An array of JSON objects that specify the authorization scheme properties supported by the transmitter"
          }
        },
        "configuration_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the SSF stream configuration endpoint"
          }
        },
        "default_subjects": {
          "target": "com.okta.management#WellKnownSSFMetadataDefaultSubjects",
          "traits": {
            "smithy.api#documentation": "A string that indicates the default behavior of newly created streams"
          }
        },
        "delivery_methods_supported": {
          "target": "com.okta.management#WellKnownSSFMetadataDeliveryMethodsSupportedList",
          "traits": {
            "smithy.api#documentation": "An array of supported SET delivery methods"
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issuer used in security event tokens. This value is set as `iss` in the claim."
          }
        },
        "jwks_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the JSON Web Key Set (JWKS) that contains the signing keys for validating the signatures of security event tokens (SETs)"
          }
        },
        "spec_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version identifying the implementer's draft or final specification implemented by the transmitter"
          }
        },
        "verification_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the SSF stream verification endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about Okta as a transmitter and relevant information for configuration."
      }
    },
    "com.okta.management#WellKnownSSFMetadataSpecUrn": {
      "type": "structure",
      "members": {
        "spec_urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URN that describes the specification of the protocol being used"
          }
        }
      },
      "traits": {}
    },
    "com.okta.management#WellKnownSSFMetadataAuthorizationSchemesList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#WellKnownSSFMetadataSpecUrn"
      },
      "traits": {
        "smithy.api#documentation": "An array of JSON objects that specify the authorization scheme properties supported by the transmitter"
      }
    },
    "com.okta.management#WellKnownSSFMetadataDefaultSubjects": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A string that indicates the default behavior of newly created streams"
      }
    },
    "com.okta.management#WellKnownSSFMetadataDeliveryMethodsSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of supported SET delivery methods"
      }
    },
    "com.okta.management#GetWellknownSsfMetadata": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.okta.management#WellKnownSSFMetadata"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/.well-known/ssf-configuration",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the SSF transmitter metadata\n\nRetrieves SSF transmitter configuration metadata. This includes all supported endpoints and key information about certain properties of the Okta org as the transmitter, such as `delivery_methods_supported`, `issuer`, and `jwks_uri`."
      }
    },
    "com.okta.management#GetWebAuthnWellKnownURIResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.okta.management#GetWebAuthnWellKnownURI": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.okta.management#GetWebAuthnWellKnownURIResponse"
      },
      "errors": [
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/.well-known/webauthn",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the customized webauthn URI content\n\nRetrieves the content of the `webauthn` well-known URI"
      }
    },
    "com.okta.management#AgentType": {
      "type": "enum",
      "members": {
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD"
          }
        },
        "IWA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IWA"
          }
        },
        "LDAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LDAP"
          }
        },
        "MFA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MFA"
          }
        },
        "OPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPP"
          }
        },
        "RUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUM"
          }
        },
        "RADIUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Radius"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Agent types that are being monitored"
      }
    },
    "com.okta.management#ListAgentPoolsRequest": {
      "type": "structure",
      "members": {
        "limitPerPoolType": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limitPerPoolType",
            "smithy.api#documentation": "Maximum number of agent pools returned"
          }
        },
        "poolType": {
          "target": "com.okta.management#AgentType",
          "traits": {
            "smithy.api#httpQuery": "poolType",
            "smithy.api#documentation": "Agent type to search for"
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "The cursor to use for pagination. It is an opaque string that specifies your current location in the list and is obtained from the `Link` response header. See [Pagination](https://developer.okta.com/docs/api/#pagination) and [Link header](https://developer.okta.com/docs/api/#link-header)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#AgentPool": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.okta.management#AgentPoolAgentsList"
        },
        "disruptedAgents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of agents in the pool that are in a disrupted state"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent pool ID"
          }
        },
        "inactiveAgents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of agents in the pool that are in an inactive state"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent pool name"
          }
        },
        "operationalStatus": {
          "target": "com.okta.management#OperationalStatus"
        },
        "type": {
          "target": "com.okta.management#AgentType"
        },
        "_links": {
          "target": "com.okta.management#LinksSelf"
        }
      },
      "traits": {
        "smithy.api#documentation": "An agent pool is a collection of agents that serve a common purpose. An agent pool has a unique ID within an org, and contains a collection of agents disjoint to every other agent pool, meaning that no two agent pools share an agent."
      }
    },
    "com.okta.management#Agent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the agent that's generated during installation"
          }
        },
        "isHidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if an agent is hidden from the Admin Console"
          }
        },
        "isLatestGAedVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if the agent is on the latest generally available version"
          }
        },
        "lastConnection": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when the agent last connected to Okta"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent name"
          }
        },
        "operationalStatus": {
          "target": "com.okta.management#OperationalStatus"
        },
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pool ID"
          }
        },
        "type": {
          "target": "com.okta.management#AgentType"
        },
        "updateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status message of the agent"
          }
        },
        "updateStatus": {
          "target": "com.okta.management#AgentUpdateInstanceStatus"
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent version number"
          }
        },
        "_links": {
          "target": "com.okta.management#LinksSelf"
        }
      },
      "traits": {
        "smithy.api#documentation": "Agent details"
      }
    },
    "com.okta.management#OperationalStatus": {
      "type": "enum",
      "members": {
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        },
        "DISRUPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISRUPTED"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "OPERATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATIONAL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operational status of a given agent"
      }
    },
    "com.okta.management#AgentUpdateInstanceStatus": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "PENDINGCOMPLETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingCompletion"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Success"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status for one agent regarding the status to auto-update that agent"
      }
    },
    "com.okta.management#LinksSelf": {
      "type": "structure",
      "members": {
        "self": {
          "target": "com.okta.management#HrefObjectSelfLink"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies link relations (see [Web Linking](https://www.rfc-editor.org/rfc/rfc8288)) available using the [JSON Hypertext Application Language](https://datatracker.ietf.org/doc/html/draft-kelly-json-hal-06) specification. This object is used for dynamic discovery of related resources and lifecycle operations."
      }
    },
    "com.okta.management#HrefObjectSelfLink": {
      "type": "structure",
      "members": {
        "hints": {
          "target": "com.okta.management#HrefHints"
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link URI",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link name"
          }
        },
        "templated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the link object's `href` property is a URI template."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type of the link. If omitted, it is implicitly `application/json`."
          }
        }
      },
      "traits": {}
    },
    "com.okta.management#AgentPoolAgentsList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#Agent"
      },
      "traits": {}
    },
    "com.okta.management#ListAgentPoolsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#AgentPool"
      },
      "traits": {}
    },
    "com.okta.management#ListAgentPoolsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.okta.management#ListAgentPoolsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.okta.management#ListAgentPools": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#ListAgentPoolsRequest"
      },
      "output": {
        "target": "com.okta.management#ListAgentPoolsResponse"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/agentPools",
          "code": 200
        },
        "smithy.api#documentation": "List all agent pools\n\nLists all agent pools with pagination support"
      }
    },
    "com.okta.management#ListAgentPoolsUpdatesRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "scheduled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "scheduled",
            "smithy.api#documentation": "Return only scheduled or ad-hoc updates. If this parameter isn't provided, Okta returns the entire list of updates."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#AgentPoolUpdate": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.okta.management#AgentPoolUpdateAgentsList"
        },
        "agentType": {
          "target": "com.okta.management#AgentType"
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if auto-update is enabled for the agent pool"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the agent pool update"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the agent pool update"
          }
        },
        "notifyAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the admin is notified about the update"
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for the update"
          }
        },
        "schedule": {
          "target": "com.okta.management#AutoUpdateSchedule"
        },
        "sortOrder": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the sort order"
          }
        },
        "status": {
          "target": "com.okta.management#AgentUpdateJobStatus"
        },
        "targetVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent version to update to"
          }
        },
        "_links": {
          "target": "com.okta.management#LinksSelf"
        }
      },
      "traits": {
        "smithy.api#documentation": "Various information about agent auto-update configuration"
      }
    },
    "com.okta.management#AgentPoolUpdateAgentsList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#Agent"
      },
      "traits": {}
    },
    "com.okta.management#AutoUpdateSchedule": {
      "type": "structure",
      "members": {
        "cron": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schedule of the update in cron format. The cron settings are limited to only the day of the month or the nth-day-of-the-week configurations. For example, `0 8 ? * 6#3` indicates every third Saturday at 8:00 AM."
          }
        },
        "delay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Delay in days"
          }
        },
        "duration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Duration in minutes"
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the update finished (only for a successful or failed update, not for a cancelled update). Null is returned if the job hasn't finished once yet."
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timezone of where the scheduled job takes place"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The schedule of auto-update configured by the admin"
      }
    },
    "com.okta.management#AgentUpdateJobStatus": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Paused"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Success"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Overall state for the auto-update job from the admin perspective"
      }
    },
    "com.okta.management#ListAgentPoolsUpdatesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#AgentPoolUpdate"
      },
      "traits": {}
    },
    "com.okta.management#ListAgentPoolsUpdatesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.okta.management#ListAgentPoolsUpdatesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.okta.management#ListAgentPoolsUpdates": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#ListAgentPoolsUpdatesRequest"
      },
      "output": {
        "target": "com.okta.management#ListAgentPoolsUpdatesResponse"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/agentPools/{poolId}/updates",
          "code": 200
        },
        "smithy.api#documentation": "List all agent pool updates\n\nLists all agent pool updates"
      }
    },
    "com.okta.management#AgentInput": {
      "type": "structure",
      "members": {
        "isHidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if an agent is hidden from the Admin Console"
          }
        },
        "isLatestGAedVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if the agent is on the latest generally available version"
          }
        },
        "lastConnection": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when the agent last connected to Okta"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent name"
          }
        },
        "operationalStatus": {
          "target": "com.okta.management#OperationalStatus"
        },
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pool ID"
          }
        },
        "type": {
          "target": "com.okta.management#AgentType"
        },
        "updateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status message of the agent"
          }
        },
        "updateStatus": {
          "target": "com.okta.management#AgentUpdateInstanceStatus"
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent version number"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Agent details"
      }
    },
    "com.okta.management#CreateAgentPoolsUpdateRequestAgentsList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#AgentInput"
      },
      "traits": {}
    },
    "com.okta.management#CreateAgentPoolsUpdateRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "agents": {
          "target": "com.okta.management#CreateAgentPoolsUpdateRequestAgentsList"
        },
        "agentType": {
          "target": "com.okta.management#AgentType"
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if auto-update is enabled for the agent pool"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the agent pool update"
          }
        },
        "notifyAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the admin is notified about the update"
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for the update"
          }
        },
        "schedule": {
          "target": "com.okta.management#AutoUpdateSchedule"
        },
        "sortOrder": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the sort order"
          }
        },
        "status": {
          "target": "com.okta.management#AgentUpdateJobStatus"
        },
        "targetVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent version to update to"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#CreateAgentPoolsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#CreateAgentPoolsUpdateRequest"
      },
      "output": {
        "target": "com.okta.management#AgentPoolUpdate"
      },
      "errors": [
        {
          "target": "com.okta.management#BadRequest"
        },
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/agentPools/{poolId}/updates",
          "code": 200
        },
        "smithy.api#documentation": "Create an agent pool update\n\nCreates an agent pool update"
      }
    },
    "com.okta.management#GetAgentPoolsUpdateSettingsRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#AgentPoolUpdateSettingResponse": {
      "type": "structure",
      "members": {
        "agentType": {
          "target": "com.okta.management#AgentType"
        },
        "continueOnError": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Continues the update even if some agents fail to update"
          }
        },
        "latestVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Latest version of the agent"
          }
        },
        "minimalSupportedVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimal version of the agent"
          }
        },
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the agent pool that the settings apply to"
          }
        },
        "poolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pool name"
          }
        },
        "releaseChannel": {
          "target": "com.okta.management#ReleaseChannel"
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for auto-update"
      }
    },
    "com.okta.management#ReleaseChannel": {
      "type": "enum",
      "members": {
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "EA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Release channel for auto-update"
      }
    },
    "com.okta.management#GetAgentPoolsUpdateSettings": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#GetAgentPoolsUpdateSettingsRequest"
      },
      "output": {
        "target": "com.okta.management#AgentPoolUpdateSettingResponse"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/agentPools/{poolId}/updates/settings",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an agent pool update's settings\n\nRetrieves the current state of the agent pool update instance settings"
      }
    },
    "com.okta.management#UpdateAgentPoolsUpdateSettingsRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "agentType": {
          "target": "com.okta.management#AgentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "continueOnError": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Continues the update even if some agents fail to update"
          }
        },
        "latestVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Latest version of the agent"
          }
        },
        "minimalSupportedVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimal version of the agent"
          }
        },
        "poolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pool name"
          }
        },
        "releaseChannel": {
          "target": "com.okta.management#ReleaseChannel"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#UpdateAgentPoolsUpdateSettings": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#UpdateAgentPoolsUpdateSettingsRequest"
      },
      "output": {
        "target": "com.okta.management#AgentPoolUpdateSettingResponse"
      },
      "errors": [
        {
          "target": "com.okta.management#BadRequest"
        },
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/agentPools/{poolId}/updates/settings",
          "code": 200
        },
        "smithy.api#documentation": "Update an agent pool update settings\n\nUpdates an agent pool update instance settings"
      }
    },
    "com.okta.management#GetAgentPoolsUpdateInstanceRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#GetAgentPoolsUpdateInstance": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#GetAgentPoolsUpdateInstanceRequest"
      },
      "output": {
        "target": "com.okta.management#AgentPoolUpdate"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/agentPools/{poolId}/updates/{updateId}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an agent pool update by ID\n\nRetrieves an agent pool update by its `updateId`"
      }
    },
    "com.okta.management#UpdateAgentPoolsUpdateRequestAgentsList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#AgentInput"
      },
      "traits": {}
    },
    "com.okta.management#UpdateAgentPoolsUpdateRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the update"
          }
        },
        "agents": {
          "target": "com.okta.management#UpdateAgentPoolsUpdateRequestAgentsList"
        },
        "agentType": {
          "target": "com.okta.management#AgentType"
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if auto-update is enabled for the agent pool"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the agent pool update"
          }
        },
        "notifyAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the admin is notified about the update"
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for the update"
          }
        },
        "schedule": {
          "target": "com.okta.management#AutoUpdateSchedule"
        },
        "sortOrder": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the sort order"
          }
        },
        "status": {
          "target": "com.okta.management#AgentUpdateJobStatus"
        },
        "targetVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent version to update to"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#UpdateAgentPoolsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#UpdateAgentPoolsUpdateRequest"
      },
      "output": {
        "target": "com.okta.management#AgentPoolUpdate"
      },
      "errors": [
        {
          "target": "com.okta.management#BadRequest"
        },
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/agentPools/{poolId}/updates/{updateId}",
          "code": 200
        },
        "smithy.api#documentation": "Update an agent pool update by ID\n\nUpdates an agent pool update instance and returns the latest agent pool update"
      }
    },
    "com.okta.management#DeleteAgentPoolsUpdateRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#DeleteAgentPoolsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#DeleteAgentPoolsUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/agentPools/{poolId}/updates/{updateId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an agent pool update\n\nDeletes agent pool update"
      }
    },
    "com.okta.management#ActivateAgentPoolsUpdateRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#ActivateAgentPoolsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#ActivateAgentPoolsUpdateRequest"
      },
      "output": {
        "target": "com.okta.management#AgentPoolUpdate"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/agentPools/{poolId}/updates/{updateId}/activate",
          "code": 200
        },
        "smithy.api#documentation": "Activate an agent pool update\n\nActivates a scheduled agent pool update"
      }
    },
    "com.okta.management#DeactivateAgentPoolsUpdateRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#DeactivateAgentPoolsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#DeactivateAgentPoolsUpdateRequest"
      },
      "output": {
        "target": "com.okta.management#AgentPoolUpdate"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/agentPools/{poolId}/updates/{updateId}/deactivate",
          "code": 200
        },
        "smithy.api#documentation": "Deactivate an agent pool update\n\nDeactivates scheduled agent pool update"
      }
    },
    "com.okta.management#PauseAgentPoolsUpdateRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#PauseAgentPoolsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#PauseAgentPoolsUpdateRequest"
      },
      "output": {
        "target": "com.okta.management#AgentPoolUpdate"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/agentPools/{poolId}/updates/{updateId}/pause",
          "code": 200
        },
        "smithy.api#documentation": "Pause an agent pool update\n\nPauses a running or queued agent pool update"
      }
    },
    "com.okta.management#ResumeAgentPoolsUpdateRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#ResumeAgentPoolsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#ResumeAgentPoolsUpdateRequest"
      },
      "output": {
        "target": "com.okta.management#AgentPoolUpdate"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/agentPools/{poolId}/updates/{updateId}/resume",
          "code": 200
        },
        "smithy.api#documentation": "Resume an agent pool update\n\nResumes a running or queued agent pool update"
      }
    },
    "com.okta.management#RetryAgentPoolsUpdateRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#RetryAgentPoolsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#RetryAgentPoolsUpdateRequest"
      },
      "output": {
        "target": "com.okta.management#AgentPoolUpdate"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/agentPools/{poolId}/updates/{updateId}/retry",
          "code": 200
        },
        "smithy.api#documentation": "Retry an agent pool update\n\nRetries an agent pool update if the update is unsuccessful or communication with Okta was interrupted during an agent auto-update"
      }
    },
    "com.okta.management#StopAgentPoolsUpdateRequest": {
      "type": "structure",
      "members": {
        "poolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the agent pool for which the settings apply to"
          }
        },
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#StopAgentPoolsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#StopAgentPoolsUpdateRequest"
      },
      "output": {
        "target": "com.okta.management#AgentPoolUpdate"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/agentPools/{poolId}/updates/{updateId}/stop",
          "code": 200
        },
        "smithy.api#documentation": "Stop an agent pool update\n\nStops an agent pool update"
      }
    },
    "com.okta.management#ApiToken": {
      "type": "structure",
      "members": {
        "clientName": {
          "target": "smithy.api#String"
        },
        "created": {
          "target": "smithy.api#String"
        },
        "expiresAt": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "lastUpdated": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.okta.management#ApiTokenNetwork",
          "traits": {
            "smithy.api#documentation": "The Network Condition of the API Token"
          }
        },
        "tokenWindow": {
          "target": "smithy.api#String"
        },
        "userId": {
          "target": "smithy.api#String"
        },
        "_link": {
          "target": "com.okta.management#LinksSelf"
        }
      },
      "traits": {
        "smithy.api#documentation": "An API token for an Okta User. This token is NOT scoped any further and can be used for any API the user has permissions to call."
      }
    },
    "com.okta.management#ApiTokenNetworkIncludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of included IP network zones"
      }
    },
    "com.okta.management#ApiTokenNetworkExcludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of excluded IP network zones"
      }
    },
    "com.okta.management#ApiTokenNetwork": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connection type of the Network Condition"
          }
        },
        "include": {
          "target": "com.okta.management#ApiTokenNetworkIncludeList",
          "traits": {
            "smithy.api#documentation": "List of included IP network zones"
          }
        },
        "exclude": {
          "target": "com.okta.management#ApiTokenNetworkExcludeList",
          "traits": {
            "smithy.api#documentation": "List of excluded IP network zones"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Network Condition of the API Token"
      }
    },
    "com.okta.management#ListApiTokensResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#ApiToken"
      },
      "traits": {}
    },
    "com.okta.management#ListApiTokensResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.okta.management#ListApiTokensResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.okta.management#ListApiTokens": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.okta.management#ListApiTokensResponse"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/api-tokens",
          "code": 200
        },
        "smithy.api#documentation": "List all API token metadata\n\nLists all the metadata of the active API tokens"
      }
    },
    "com.okta.management#RevokeCurrentApiToken": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/api-tokens/current",
          "code": 200
        },
        "smithy.api#documentation": "Revoke the current API token\n\nRevokes the API token provided in the Authorization header"
      }
    },
    "com.okta.management#GetApiTokenRequest": {
      "type": "structure",
      "members": {
        "apiTokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the API Token"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#GetApiToken": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#GetApiTokenRequest"
      },
      "output": {
        "target": "com.okta.management#ApiToken"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/api-tokens/{apiTokenId}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an API token's metadata\n\nRetrieves the metadata for an active API token by `apiTokenId`"
      }
    },
    "com.okta.management#UpsertApiTokenRequestNetworkIncludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of included IP network zones"
      }
    },
    "com.okta.management#UpsertApiTokenRequestNetworkExcludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of excluded IP network zones"
      }
    },
    "com.okta.management#UpsertApiTokenRequestNetwork": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connection type of the Network Condition"
          }
        },
        "include": {
          "target": "com.okta.management#UpsertApiTokenRequestNetworkIncludeList",
          "traits": {
            "smithy.api#documentation": "List of included IP network zones"
          }
        },
        "exclude": {
          "target": "com.okta.management#UpsertApiTokenRequestNetworkExcludeList",
          "traits": {
            "smithy.api#documentation": "List of excluded IP network zones"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Network Condition of the API Token"
      }
    },
    "com.okta.management#UpsertApiTokenRequest": {
      "type": "structure",
      "members": {
        "apiTokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the API Token"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name associated with the API Token"
          }
        },
        "network": {
          "target": "com.okta.management#UpsertApiTokenRequestNetwork",
          "traits": {
            "smithy.api#documentation": "The Network Condition of the API Token"
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The userId of the user who created the API Token"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#UpsertApiToken": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#UpsertApiTokenRequest"
      },
      "output": {
        "target": "com.okta.management#ApiToken"
      },
      "errors": [
        {
          "target": "com.okta.management#BadRequest"
        },
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/api-tokens/{apiTokenId}",
          "code": 200
        },
        "smithy.api#documentation": "Upsert an API token network condition\n\nUpserts an API Token Network Condition by `apiTokenId`"
      }
    },
    "com.okta.management#RevokeApiTokenRequest": {
      "type": "structure",
      "members": {
        "apiTokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the API Token"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#RevokeApiToken": {
      "type": "operation",
      "input": {
        "target": "com.okta.management#RevokeApiTokenRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.okta.management#Forbidden"
        },
        {
          "target": "com.okta.management#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/api-tokens/{apiTokenId}",
          "code": 200
        },
        "smithy.api#documentation": "Revoke an API token\n\nRevokes an API token by `apiTokenId`"
      }
    },
    "com.okta.management#ListApplicationsRequest": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q",
            "smithy.api#documentation": "Searches for apps with `name` or `label` properties that starts with the `q` value using the `startsWith` operation"
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Specifies the [pagination](/#pagination) cursor for the next page of results. Treat this as an opaque value obtained through the `next` link relationship."
          }
        },
        "useOptimization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "useOptimization",
            "smithy.api#documentation": "Specifies whether to use query optimization. If you specify `useOptimization=true` in the request query, the response contains a subset of app instance properties."
          }
        },
        "alwaysIncludeVpnSettings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "alwaysIncludeVpnSettings",
            "smithy.api#documentation": "Specifies whether to include the VPN configuration for existing notifications in the result, regardless of whether VPN notifications are configured"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Specifies the number of results per page"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "Filters apps with a supported expression for a subset of properties. Filtering supports the following limited number of properties: `id`, `status`, `credentials.signing.kid`, `settings.slo.enabled`, or `name`. See [Filter](https://developer.okta.com/docs/api/#filter)."
          }
        },
        "expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "expand",
            "smithy.api#documentation": "An optional parameter used for link expansion to embed more resources in the response.\nOnly supports `expand=user/{userId}` and must be used with the `user.id eq \"{userId}\"` filter query for the same user.\nReturns the assigned [application user](/openapi/okta-management/management/tags/applicationusers) in the `_embedded` property."
          }
        },
        "includeNonDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeNonDeleted",
            "smithy.api#documentation": "Specifies whether to include non-active, but not deleted apps in the results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.okta.management#Application": {
      "type": "structure",
      "members": {
        "accessibility": {
          "target": "com.okta.management#ApplicationAccessibility"
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the application object was created"
          }
        },
        "expressConfiguration": {
          "target": "com.okta.management#ApplicationExpressConfiguration"
        },
        "features": {
          "target": "com.okta.management#ApplicationFeaturesList",
          "traits": {
            "smithy.api#documentation": "Enabled app features\n> **Note:** See [Application Features](/openapi/okta-management/management/tags/applicationfeatures/) for app provisioning features.\n"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID for the app instance"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the application object was last updated"
          }
        },
        "licensing": {
          "target": "com.okta.management#ApplicationLicensing"
        },
        "orn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Okta resource name (ORN) for the current app instance"
          }
        },
        "profile": {
          "target": "com.okta.management#ApplicationProfileMap",
          "traits": {
            "smithy.api#documentation": "Contains any valid JSON schema for specifying properties that can be referenced from a request (only available to OAuth 2.0 client apps).\nFor example, add an app manager contact email address or define an allowlist of groups that you can then reference using the Okta Expression Language `getFilteredGroups` function.\n\n> **Notes:**\n> * `profile` isn't encrypted, so don't store sensitive data in it.\n> * `profile` doesn't limit the level of nesting in the JSON schema you created, but there is a practical size limit. Okta recommends a JSON schema size of 1 MB or less for best performance."
          }
        },
        "signOnMode": {
          "target": "com.okta.management#ApplicationSignOnMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.okta.management#ApplicationLifecycleStatus"
        },
        "universalLogout": {
          "target": "com.okta.management#ApplicationUniversalLogout"
        },
        "visibility": {
          "target": "com.okta.management#ApplicationVisibility"
        },
        "_embedded": {
          "target": "com.okta.management#ApplicationEmbedded",
          "traits": {
            "smithy.api#documentation": "Embedded resources related to the app using the [JSON Hypertext Application Language](https://datatracker.ietf.org/doc/html/draft-kelly-json-hal-06) specification. If the `expand=user/{userId}` query parameter is specified, then the assigned [Application User](/openapi/okta-management/management/tags/applicationusers) is embedded."
          }
        },
        "_links": {
          "target": "com.okta.management#ApplicationLinks"
        }
      },
      "traits": {}
    },
    "com.okta.management#ApplicationAccessibility": {
      "type": "structure",
      "members": {
        "errorRedirectUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom error page URL for the app"
          }
        },
        "loginRedirectUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom login page URL for the app\n> **Note:** The `loginRedirectUrl` property is deprecated in Identity Engine. This property is used with the custom app login feature. Orgs that actively use this feature can continue to do so. See [Okta-hosted sign-in (redirect authentication)](https://developer.okta.com/docs/guides/redirect-authentication/) or [configure IdP routing rules](https://help.okta.com/okta_help.htm?type=oie&id=ext-cfg-routing-rules) to redirect users to the appropriate sign-in app for orgs that don't use the custom app login feature."
          }
        },
        "selfService": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Represents whether the app can be self-assignable by users"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies access settings for the app"
      }
    },
    "com.okta.management#ApplicationExpressConfiguration": {
      "type": "structure",
      "members": {
        "enabledCapabilities": {
          "target": "com.okta.management#ApplicationExpressConfigurationEnabledCapabilitiesList",
          "traits": {
            "smithy.api#documentation": "Capabilities currently enabled for the app"
          }
        },
        "supportedCapabilities": {
          "target": "com.okta.management#ApplicationExpressConfigurationSupportedCapabilitiesList",
          "traits": {
            "smithy.api#documentation": "Capabilities supported by the app"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<div class=\"x-lifecycle-container\"><x-lifecycle class=\"oie\"></x-lifecycle></div>\nIndicates which Express Configuration capabilities the app supports and has enabled"
      }
    },
    "com.okta.management#ApplicationCapability": {
      "type": "enum",
      "members": {
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSO"
          }
        },
        "UNIVERSAL_LOGOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIVERSAL_LOGOUT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Capabilities supported by the app"
      }
    },
    "com.okta.management#ApplicationExpressConfigurationEnabledCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#ApplicationCapability"
      },
      "traits": {
        "smithy.api#documentation": "Capabilities currently enabled for the app"
      }
    },
    "com.okta.management#ApplicationExpressConfigurationSupportedCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#ApplicationCapability"
      },
      "traits": {
        "smithy.api#documentation": "Capabilities supported by the app"
      }
    },
    "com.okta.management#ApplicationFeaturesItem": {
      "type": "enum",
      "members": {
        "GROUP_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_PUSH"
          }
        },
        "IMPORT_NEW_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_NEW_USERS"
          }
        },
        "IMPORT_PROFILE_UPDATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_PROFILE_UPDATES"
          }
        },
        "IMPORT_USER_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_USER_SCHEMA"
          }
        },
        "PROFILE_MASTERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_MASTERING"
          }
        },
        "PUSH_NEW_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_NEW_USERS"
          }
        },
        "PUSH_PASSWORD_UPDATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_PASSWORD_UPDATES"
          }
        },
        "PUSH_PROFILE_UPDATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_PROFILE_UPDATES"
          }
        },
        "PUSH_USER_DEACTIVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_USER_DEACTIVATION"
          }
        },
        "REACTIVATE_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REACTIVATE_USERS"
          }
        },
        "OUTBOUND_DEL_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTBOUND_DEL_AUTH"
          }
        },
        "DESKTOP_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP_SSO"
          }
        },
        "FEDERATED_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDERATED_PROFILE"
          }
        },
        "SUPPRESS_ACTIVATION_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPRESS_ACTIVATION_EMAIL"
          }
        },
        "PUSH_PENDING_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_PENDING_USERS"
          }
        },
        "MFA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MFA"
          }
        },
        "UPDATE_EXISTING_USERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_EXISTING_USERNAME"
          }
        },
        "EXCLUDE_USERNAME_UPDATE_ON_PROFILE_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUDE_USERNAME_UPDATE_ON_PROFILE_PUSH"
          }
        },
        "EXCHANGE_ACTIVE_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_ACTIVE_SYNC"
          }
        },
        "IMPORT_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_SYNC"
          }
        },
        "IMPORT_SYNC_CONTACTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_SYNC_CONTACTS"
          }
        },
        "DEVICE_COMPLIANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_COMPLIANCE"
          }
        },
        "VPN_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPN_CONFIG"
          }
        },
        "IMPORT_SCHEMA_ENUM_VALUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_SCHEMA_ENUM_VALUES"
          }
        },
        "SCIM_PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCIM_PROVISIONING"
          }
        },
        "DEVICE_FILTER_IN_SIGN_ON_RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_FILTER_IN_SIGN_ON_RULES"
          }
        },
        "PROFILE_TEMPLATE_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_TEMPLATE_UPGRADE"
          }
        },
        "DEFAULT_PUSH_STATUS_TO_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_PUSH_STATUS_TO_PUSH"
          }
        },
        "REAL_TIME_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL_TIME_SYNC"
          }
        },
        "SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSO"
          }
        },
        "AUTHN_CONTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHN_CONTEXT"
          }
        },
        "JIT_PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JIT_PROVISIONING"
          }
        },
        "GROUP_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_SYNC"
          }
        },
        "OPP_SCIM_INCREMENTAL_IMPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPP_SCIM_INCREMENTAL_IMPORTS"
          }
        },
        "IN_MEMORY_APP_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_MEMORY_APP_USER"
          }
        },
        "LOG_STREAMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_STREAMING"
          }
        },
        "OAUTH_INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH_INTEGRATION"
          }
        },
        "IDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDP"
          }
        },
        "PUSH_NEW_USERS_WITHOUT_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_NEW_USERS_WITHOUT_PASSWORD"
          }
        },
        "SKYHOOK_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKYHOOK_SERVICE"
          }
        },
        "ENTITLEMENT_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_MANAGEMENT"
          }
        },
        "PUSH_NEW_USERS_WITH_HASHED_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_NEW_USERS_WITH_HASHED_PASSWORD"
          }
        }
      },
      "traits": {}
    },
    "com.okta.management#ApplicationFeaturesList": {
      "type": "list",
      "member": {
        "target": "com.okta.management#ApplicationFeaturesItem"
      },
      "traits": {
        "smithy.api#documentation": "Enabled app features\n> **Note:** See [Application Features](/openapi/okta-management/management/tags/applicationfeatures/) for app provisioning features.\n"
      }
    },
    "com.okta.management#ApplicationLicensing": {
      "type": "structure",
      "members": {
        "seatCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of licenses purchased for the app"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Licenses for the app"
      }
    },
    "com.okta.management#ApplicationProfileMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Contains any valid JSON schema for specifying properties that can be referenced from a request (only available to OAuth 2.0 client apps).\nFor example, add an app manager contact email address or define an allowlist of groups that you can then reference using the Okta Expression Language `getFilteredGroups` function.\n\n> **Notes:**\n> * `profile` isn't encrypted, so don't store sensitive data in it.\n> * `profile` doesn't limit the level of nesting in the JSON schema you created, but there is a practical size limit. Okta recommends a JSON schema size of 1 MB or less for best performance."
      }
    },
    "com.okta.management#ApplicationSignOnMode": {
      "type": "enum",
      "members": {
        "AUTO_LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_LOGIN"
          }
        },
        "BASIC_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_AUTH"
          }
        },
        "BOOKMARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOKMARK"
          }
        },
        "BROWSER_PLUGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROWSER_PLUGIN"
          }
        },
        "OPENID_CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENID_CONNECT"
          }
        },
        "SAML_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAML_1_1"
          }
        },
        "SAML_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAML_2_0"
          }
        },
        "SECURE_PASSWORD_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_PASSWORD_STORE"
          }
        },
        "WS_FEDERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WS_FEDERATION"
          }
        }
      },
      "traits": {
[...]
