{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.grafana.api#ListRolesRequest": {
      "type": "structure",
      "members": {
        "delegatable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "delegatable"
          }
        },
        "includeHidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeHidden"
          }
        },
        "targetOrgId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "targetOrgId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#RoleDTO": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "delegatable": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "global": {
          "target": "smithy.api#Boolean"
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        },
        "mapped": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.grafana.api#RoleDTOPermissionsList"
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.api#Permission": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String"
        },
        "created": {
          "target": "smithy.api#String"
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "updated": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Permission is the model for access control permissions"
      }
    },
    "com.grafana.api#RoleDTOPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#Permission"
      },
      "traits": {}
    },
    "com.grafana.api#ListRolesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#RoleDTO"
      },
      "traits": {}
    },
    "com.grafana.api#ListRolesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.grafana.api#ListRolesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.grafana.api#ListRoles": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#ListRolesRequest"
      },
      "output": {
        "target": "com.grafana.api#ListRolesResponse"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/access-control/roles",
          "code": 200
        },
        "smithy.api#documentation": "Get all roles.\n\nGets all existing roles. The response contains all global and organization local roles, for the organization which user is signed in.\n\nYou need to have a permission with action `roles:read` and scope `roles:*`.\n\nThe `delegatable` flag reduces the set of roles to only those for which the signed-in user has permissions to assign."
      }
    },
    "com.grafana.api#CreateRoleRequestPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#Permission"
      },
      "traits": {}
    },
    "com.grafana.api#CreateRoleRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "global": {
          "target": "smithy.api#Boolean"
        },
        "group": {
          "target": "smithy.api#String"
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "permissions": {
          "target": "com.grafana.api#CreateRoleRequestPermissionsList"
        },
        "uid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#CreateRole": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#CreateRoleRequest"
      },
      "output": {
        "target": "com.grafana.api#RoleDTO"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/access-control/roles",
          "code": 200
        },
        "smithy.api#documentation": "Create a new custom role.\n\nCreates a new custom role and maps given permissions to that role. Note that roles with the same prefix as Fixed Roles can’t be created.\n\nYou need to have a permission with action `roles:write` and scope `permissions:type:delegate`. `permissions:type:delegate` scope ensures that users can only create custom roles with the same, or a subset of permissions which the user has.\nFor example, if a user does not have required permissions for creating users, they won’t be able to create a custom role which allows to do that. This is done to prevent escalation of privileges."
      }
    },
    "com.grafana.api#GetRoleRequest": {
      "type": "structure",
      "members": {
        "roleUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#GetRole": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#GetRoleRequest"
      },
      "output": {
        "target": "com.grafana.api#RoleDTO"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/access-control/roles/{roleUID}",
          "code": 200
        },
        "smithy.api#documentation": "Get a role.\n\nGet a role for the given UID.\n\nYou need to have a permission with action `roles:read` and scope `roles:*`."
      }
    },
    "com.grafana.api#UpdateRoleRequestPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#Permission"
      },
      "traits": {}
    },
    "com.grafana.api#UpdateRoleRequest": {
      "type": "structure",
      "members": {
        "roleUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "global": {
          "target": "smithy.api#Boolean"
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "permissions": {
          "target": "com.grafana.api#UpdateRoleRequestPermissionsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#UpdateRole": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#UpdateRoleRequest"
      },
      "output": {
        "target": "com.grafana.api#RoleDTO"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/access-control/roles/{roleUID}",
          "code": 200
        },
        "smithy.api#documentation": "Update a custom role.\n\nYou need to have a permission with action `roles:write` and scope `permissions:type:delegate`. `permissions:type:delegate` scope ensures that users can only create custom roles with the same, or a subset of permissions which the user has."
      }
    },
    "com.grafana.api#DeleteRoleRequest": {
      "type": "structure",
      "members": {
        "roleUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "force"
          }
        },
        "global": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "global"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#SuccessResponseBody": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.grafana.api#DeleteRole": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#DeleteRoleRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/access-control/roles/{roleUID}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a custom role.\n\nDelete a role with the given UID, and it’s permissions. If the role is assigned to a built-in role, the deletion operation will fail, unless force query param is set to true, and in that case all assignments will also be deleted.\n\nYou need to have a permission with action `roles:delete` and scope `permissions:type:delegate`. `permissions:type:delegate` scope ensures that users can only delete a custom role with the same, or a subset of permissions which the user has. For example, if a user does not have required permissions for creating users, they won’t be able to delete a custom role which allows to do that."
      }
    },
    "com.grafana.api#GetRoleAssignmentsRequest": {
      "type": "structure",
      "members": {
        "roleUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#RoleAssignmentsDTO": {
      "type": "structure",
      "members": {
        "role_uid": {
          "target": "smithy.api#String"
        },
        "service_accounts": {
          "target": "com.grafana.api#RoleAssignmentsDTOServiceAccountsList"
        },
        "teams": {
          "target": "com.grafana.api#RoleAssignmentsDTOTeamsList"
        },
        "users": {
          "target": "com.grafana.api#RoleAssignmentsDTOUsersList"
        }
      },
      "traits": {}
    },
    "com.grafana.api#RoleAssignmentsDTOServiceAccountsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#RoleAssignmentsDTOTeamsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#RoleAssignmentsDTOUsersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#GetRoleAssignments": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#GetRoleAssignmentsRequest"
      },
      "output": {
        "target": "com.grafana.api#RoleAssignmentsDTO"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/access-control/roles/{roleUID}/assignments",
          "code": 200
        },
        "smithy.api#documentation": "Get role assignments.\n\nGet role assignments for the role with the given UID.\nDoes not include role assignments mapped through group attribute sync.\n\nYou need to have a permission with action `teams.roles:list` and scope `teams:id:*` and `users.roles:list` and scope `users:id:*`."
      }
    },
    "com.grafana.api#SetRoleAssignmentsRequestServiceAccountsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#SetRoleAssignmentsRequestTeamsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#SetRoleAssignmentsRequestUsersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#SetRoleAssignmentsRequest": {
      "type": "structure",
      "members": {
        "roleUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_accounts": {
          "target": "com.grafana.api#SetRoleAssignmentsRequestServiceAccountsList"
        },
        "teams": {
          "target": "com.grafana.api#SetRoleAssignmentsRequestTeamsList"
        },
        "users": {
          "target": "com.grafana.api#SetRoleAssignmentsRequestUsersList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#SetRoleAssignments": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#SetRoleAssignmentsRequest"
      },
      "output": {
        "target": "com.grafana.api#RoleAssignmentsDTO"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/access-control/roles/{roleUID}/assignments",
          "code": 200
        },
        "smithy.api#documentation": "Set role assignments.\n\nSet role assignments for the role with the given UID.\n\nYou need to have a permission with action `teams.roles:add` and `teams.roles:remove` and scope `permissions:type:delegate`, and `users.roles:add` and `users.roles:remove` and scope `permissions:type:delegate`."
      }
    },
    "com.grafana.api#AccessControlStatus": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.grafana.api#GetAccessControlStatus": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.grafana.api#AccessControlStatus"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/access-control/status",
          "code": 200
        },
        "smithy.api#documentation": "Get status.\n\nReturns an indicator to check if fine-grained access control is enabled or not.\n\nYou need to have a permission with action `status:accesscontrol` and scope `services:accesscontrol`."
      }
    },
    "com.grafana.api#ListTeamsRolesRequestTeamIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#ListTeamsRolesRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#ListTeamsRolesRequest": {
      "type": "structure",
      "members": {
        "includeHidden": {
          "target": "smithy.api#Boolean"
        },
        "orgId": {
          "target": "smithy.api#Integer"
        },
        "teamIds": {
          "target": "com.grafana.api#ListTeamsRolesRequestTeamIdsList"
        },
        "userIds": {
          "target": "com.grafana.api#ListTeamsRolesRequestUserIdsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#ListTeamsRolesResponseBodyValueList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#RoleDTO"
      },
      "traits": {}
    },
    "com.grafana.api#ListTeamsRolesResponseBodyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.grafana.api#ListTeamsRolesResponseBodyValueList"
      },
      "traits": {}
    },
    "com.grafana.api#ListTeamsRolesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.grafana.api#ListTeamsRolesResponseBodyMap",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.grafana.api#ListTeamsRoles": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#ListTeamsRolesRequest"
      },
      "output": {
        "target": "com.grafana.api#ListTeamsRolesResponse"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/access-control/teams/roles/search",
          "code": 200
        },
        "smithy.api#documentation": "List roles assigned to multiple teams.\n\nLists the roles that have been directly assigned to the given teams.\n\nYou need to have a permission with action `teams.roles:read` and scope `teams:id:*`."
      }
    },
    "com.grafana.api#ListTeamRolesRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "targetOrgId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "targetOrgId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#ListTeamRoles": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#ListTeamRolesRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/access-control/teams/{teamId}/roles",
          "code": 200
        },
        "smithy.api#documentation": "Get team roles.\n\nYou need to have a permission with action `teams.roles:read` and scope `teams:id:<team ID>`."
      }
    },
    "com.grafana.api#AddTeamRoleRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "roleUid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#AddTeamRole": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#AddTeamRoleRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/access-control/teams/{teamId}/roles",
          "code": 200
        },
        "smithy.api#documentation": "Add team role.\n\nYou need to have a permission with action `teams.roles:add` and scope `permissions:type:delegate`."
      }
    },
    "com.grafana.api#SetTeamRolesRequestRoleUidsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.api#SetTeamRolesRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "targetOrgId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "targetOrgId"
          }
        },
        "includeHidden": {
          "target": "smithy.api#Boolean"
        },
        "roleUids": {
          "target": "com.grafana.api#SetTeamRolesRequestRoleUidsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#SetTeamRoles": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#SetTeamRolesRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/access-control/teams/{teamId}/roles",
          "code": 200
        },
        "smithy.api#documentation": "Update team role.\n\nYou need to have a permission with action `teams.roles:add` and `teams.roles:remove` and scope `permissions:type:delegate` for each."
      }
    },
    "com.grafana.api#RemoveTeamRoleRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "roleUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#RemoveTeamRole": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#RemoveTeamRoleRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/access-control/teams/{teamId}/roles/{roleUID}",
          "code": 200
        },
        "smithy.api#documentation": "Remove team role.\n\nYou need to have a permission with action `teams.roles:remove` and scope `permissions:type:delegate`."
      }
    },
    "com.grafana.api#ListUsersRolesRequestTeamIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#ListUsersRolesRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#ListUsersRolesRequest": {
      "type": "structure",
      "members": {
        "includeHidden": {
          "target": "smithy.api#Boolean"
        },
        "orgId": {
          "target": "smithy.api#Integer"
        },
        "teamIds": {
          "target": "com.grafana.api#ListUsersRolesRequestTeamIdsList"
        },
        "userIds": {
          "target": "com.grafana.api#ListUsersRolesRequestUserIdsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#ListUsersRolesResponseBodyValueList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#RoleDTO"
      },
      "traits": {}
    },
    "com.grafana.api#ListUsersRolesResponseBodyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.grafana.api#ListUsersRolesResponseBodyValueList"
      },
      "traits": {}
    },
    "com.grafana.api#ListUsersRolesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.grafana.api#ListUsersRolesResponseBodyMap",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.grafana.api#ListUsersRoles": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#ListUsersRolesRequest"
      },
      "output": {
        "target": "com.grafana.api#ListUsersRolesResponse"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/access-control/users/roles/search",
          "code": 200
        },
        "smithy.api#documentation": "List roles assigned to multiple users.\n\nLists the roles that have been directly assigned to the given users. The list does not include built-in roles (Viewer, Editor, Admin or Grafana Admin), and it does not include roles that have been inherited from a team.\n\nYou need to have a permission with action `users.roles:read` and scope `users:id:*`."
      }
    },
    "com.grafana.api#ListUserRolesRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "includeHidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeHidden"
          }
        },
        "targetOrgId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "targetOrgId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#ListUserRolesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#RoleDTO"
      },
      "traits": {}
    },
    "com.grafana.api#ListUserRolesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.grafana.api#ListUserRolesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.grafana.api#ListUserRoles": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#ListUserRolesRequest"
      },
      "output": {
        "target": "com.grafana.api#ListUserRolesResponse"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/access-control/users/{userId}/roles",
          "code": 200
        },
        "smithy.api#documentation": "List roles assigned to a user.\n\nLists the roles that have been directly assigned to a given user. The list does not include built-in roles (Viewer, Editor, Admin or Grafana Admin), and it does not include roles that have been inherited from a team.\n\nYou need to have a permission with action `users.roles:read` and scope `users:id:<user ID>`."
      }
    },
    "com.grafana.api#AddUserRoleRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "global": {
          "target": "smithy.api#Boolean"
        },
        "roleUid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#AddUserRole": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#AddUserRoleRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/access-control/users/{userId}/roles",
          "code": 200
        },
        "smithy.api#documentation": "Add a user role assignment.\n\nAssign a role to a specific user. For bulk updates consider Set user role assignments.\n\nYou need to have a permission with action `users.roles:add` and scope `permissions:type:delegate`. `permissions:type:delegate` scope ensures that users can only assign roles which have same, or a subset of permissions which the user has. For example, if a user does not have required permissions for creating users, they won’t be able to assign a role which will allow to do that. This is done to prevent escalation of privileges."
      }
    },
    "com.grafana.api#SetUserRolesRequestRoleUidsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.api#SetUserRolesRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "targetOrgId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "targetOrgId"
          }
        },
        "global": {
          "target": "smithy.api#Boolean"
        },
        "includeHidden": {
          "target": "smithy.api#Boolean"
        },
        "roleUids": {
          "target": "com.grafana.api#SetUserRolesRequestRoleUidsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#SetUserRoles": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#SetUserRolesRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/access-control/users/{userId}/roles",
          "code": 200
        },
        "smithy.api#documentation": "Set user role assignments.\n\nUpdate the user’s role assignments to match the provided set of UIDs. This will remove any assigned roles that aren’t in the request and add roles that are in the set but are not already assigned to the user.\nRoles mapped through group attribute sync are not impacted.\nIf you want to add or remove a single role, consider using Add a user role assignment or Remove a user role assignment instead.\n\nYou need to have a permission with action `users.roles:add` and `users.roles:remove` and scope `permissions:type:delegate` for each. `permissions:type:delegate`  scope ensures that users can only assign or unassign roles which have same, or a subset of permissions which the user has. For example, if a user does not have required permissions for creating users, they won’t be able to assign or unassign a role which will allow to do that. This is done to prevent escalation of privileges."
      }
    },
    "com.grafana.api#RemoveUserRoleRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "roleUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "global": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "global",
            "smithy.api#documentation": "A flag indicating if the assignment is global or not. If set to false, the default org ID of the authenticated user will be used from the request to remove assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#RemoveUserRole": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#RemoveUserRoleRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/access-control/users/{userId}/roles/{roleUID}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a user role assignment.\n\nRevoke a role from a user. For bulk updates consider Set user role assignments.\n\nYou need to have a permission with action `users.roles:remove` and scope `permissions:type:delegate`. `permissions:type:delegate` scope ensures that users can only unassign roles which have same, or a subset of permissions which the user has. For example, if a user does not have required permissions for creating users, they won’t be able to unassign a role which will allow to do that. This is done to prevent escalation of privileges."
      }
    },
    "com.grafana.api#GetResourceDescriptionRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#Description": {
      "type": "structure",
      "members": {
        "assignments": {
          "target": "com.grafana.api#Assignments"
        },
        "permissions": {
          "target": "com.grafana.api#DescriptionPermissionsList"
        }
      },
      "traits": {}
    },
    "com.grafana.api#Assignments": {
      "type": "structure",
      "members": {
        "builtInRoles": {
          "target": "smithy.api#Boolean"
        },
        "serviceAccounts": {
          "target": "smithy.api#Boolean"
        },
        "teams": {
          "target": "smithy.api#Boolean"
        },
        "users": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.grafana.api#DescriptionPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.api#GetResourceDescription": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#GetResourceDescriptionRequest"
      },
      "output": {
        "target": "com.grafana.api#Description"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/access-control/{resource}/description",
          "code": 200
        },
        "smithy.api#documentation": "Get a description of a resource's access control properties."
      }
    },
    "com.grafana.api#GetResourcePermissionsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#ResourcePermissionDTO": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.grafana.api#ResourcePermissionDTOActionsList"
        },
        "builtInRole": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "isInherited": {
          "target": "smithy.api#Boolean"
        },
        "isManaged": {
          "target": "smithy.api#Boolean"
        },
        "isServiceAccount": {
          "target": "smithy.api#Boolean"
        },
        "permission": {
          "target": "smithy.api#String"
        },
        "roleName": {
          "target": "smithy.api#String"
        },
        "team": {
          "target": "smithy.api#String"
        },
        "teamAvatarUrl": {
          "target": "smithy.api#String"
        },
        "teamId": {
          "target": "smithy.api#Integer"
        },
        "teamUid": {
          "target": "smithy.api#String"
        },
        "userAvatarUrl": {
          "target": "smithy.api#String"
        },
        "userId": {
          "target": "smithy.api#Integer"
        },
        "userLogin": {
          "target": "smithy.api#String"
        },
        "userUid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.grafana.api#ResourcePermissionDTOActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.api#GetResourcePermissionsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#ResourcePermissionDTO"
      },
      "traits": {}
    },
    "com.grafana.api#GetResourcePermissionsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.grafana.api#GetResourcePermissionsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.grafana.api#GetResourcePermissions": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#GetResourcePermissionsRequest"
      },
      "output": {
        "target": "com.grafana.api#GetResourcePermissionsResponse"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/access-control/{resource}/{resourceID}",
          "code": 200
        },
        "smithy.api#documentation": "Get permissions for a resource."
      }
    },
    "com.grafana.api#SetResourcePermissionCommand": {
      "type": "structure",
      "members": {
        "builtInRole": {
          "target": "smithy.api#String"
        },
        "permission": {
          "target": "smithy.api#String"
        },
        "teamId": {
          "target": "smithy.api#Integer"
        },
        "userId": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.grafana.api#SetResourcePermissionsRequestPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#SetResourcePermissionCommand"
      },
      "traits": {}
    },
    "com.grafana.api#SetResourcePermissionsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.grafana.api#SetResourcePermissionsRequestPermissionsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#SetResourcePermissions": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#SetResourcePermissionsRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/access-control/{resource}/{resourceID}",
          "code": 200
        },
        "smithy.api#documentation": "Set resource permissions.\n\nAssigns permissions for a resource by a given type (`:resource`) and `:resourceID` to one or many\nassignment types. Allowed resources are `datasources`, `teams`, `dashboards`, `folders`, and `serviceaccounts`.\nRefer to the `/access-control/{resource}/description` endpoint for allowed Permissions."
      }
    },
    "com.grafana.api#SetResourcePermissionsForBuiltInRoleRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "builtInRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "permission": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#SetResourcePermissionsForBuiltInRole": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#SetResourcePermissionsForBuiltInRoleRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/access-control/{resource}/{resourceID}/builtInRoles/{builtInRole}",
          "code": 200
        },
        "smithy.api#documentation": "Set resource permissions for a built-in role.\n\nAssigns permissions for a resource by a given type (`:resource`) and `:resourceID` to a built-in role.\nAllowed resources are `datasources`, `teams`, `dashboards`, `folders`, and `serviceaccounts`.\nRefer to the `/access-control/{resource}/description` endpoint for allowed Permissions."
      }
    },
    "com.grafana.api#SetResourcePermissionsForTeamRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "permission": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#SetResourcePermissionsForTeam": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#SetResourcePermissionsForTeamRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/access-control/{resource}/{resourceID}/teams/{teamID}",
          "code": 200
        },
        "smithy.api#documentation": "Set resource permissions for a team.\n\nAssigns permissions for a resource by a given type (`:resource`) and `:resourceID` to a team.\nAllowed resources are `datasources`, `teams`, `dashboards`, `folders`, and `serviceaccounts`.\nRefer to the `/access-control/{resource}/description` endpoint for allowed Permissions."
      }
    },
    "com.grafana.api#SetResourcePermissionsForUserRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "permission": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#SetResourcePermissionsForUser": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#SetResourcePermissionsForUserRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/access-control/{resource}/{resourceID}/users/{userID}",
          "code": 200
        },
        "smithy.api#documentation": "Set resource permissions for a user.\n\nAssigns permissions for a resource by a given type (`:resource`) and `:resourceID` to a user or a service account.\nAllowed resources are `datasources`, `teams`, `dashboards`, `folders`, and `serviceaccounts`.\nRefer to the `/access-control/{resource}/description` endpoint for allowed Permissions."
      }
    },
    "com.grafana.api#ActiveSyncStatusDTO": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "nextSync": {
          "target": "smithy.api#String"
        },
        "prevSync": {
          "target": "com.grafana.api#SyncResult"
        },
        "schedule": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "ActiveSyncStatusDTO holds the information for LDAP background Sync"
      }
    },
    "com.grafana.api#SyncResult": {
      "type": "structure",
      "members": {
        "Elapsed": {
          "target": "smithy.api#Integer"
        },
        "FailedUsers": {
          "target": "com.grafana.api#SyncResultFailedUsersList"
        },
        "MissingUserIds": {
          "target": "com.grafana.api#SyncResultMissingUserIdsList"
        },
        "Started": {
          "target": "smithy.api#String"
        },
        "UpdatedUserIds": {
          "target": "com.grafana.api#SyncResultUpdatedUserIdsList"
        }
      },
      "traits": {}
    },
    "com.grafana.api#FailedUser": {
      "type": "structure",
      "members": {
        "Error": {
          "target": "smithy.api#String"
        },
        "Login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "FailedUser holds the information of an user that failed"
      }
    },
    "com.grafana.api#SyncResultFailedUsersList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#FailedUser"
      },
      "traits": {}
    },
    "com.grafana.api#SyncResultMissingUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#SyncResultUpdatedUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.grafana.api#GetSyncStatus": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.grafana.api#ActiveSyncStatusDTO"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin/ldap-sync-status",
          "code": 200
        },
        "smithy.api#documentation": "Returns the current state of the LDAP background sync integration.\n\nYou need to have a permission with action `ldap.status:read`."
      }
    },
    "com.grafana.api#ReloadLDAPCfg": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin/ldap/reload",
          "code": 200
        },
        "smithy.api#documentation": "Reloads the LDAP configuration.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `ldap.config:reload`."
      }
    },
    "com.grafana.api#GetLDAPStatus": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin/ldap/status",
          "code": 200
        },
        "smithy.api#documentation": "Attempts to connect to all the configured LDAP servers and returns information on whenever they're available or not.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `ldap.status:read`."
      }
    },
    "com.grafana.api#PostSyncUserWithLDAPRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#PostSyncUserWithLDAP": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#PostSyncUserWithLDAPRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin/ldap/sync/{user_id}",
          "code": 200
        },
        "smithy.api#documentation": "Enables a single Grafana user to be synchronized against LDAP.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `ldap.user:sync`."
      }
    },
    "com.grafana.api#GetUserFromLDAPRequest": {
      "type": "structure",
      "members": {
        "user_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#GetUserFromLDAP": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#GetUserFromLDAPRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin/ldap/{user_name}",
          "code": 200
        },
        "smithy.api#documentation": "Finds an user based on a username in LDAP. This helps illustrate how would the particular user be mapped in Grafana when synced.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `ldap.user:read`."
      }
    },
    "com.grafana.api#AdminProvisioningReloadAccessControl": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin/provisioning/access-control/reload",
          "code": 200
        },
        "smithy.api#documentation": "You need to have a permission with action `provisioning:reload` with scope `provisioners:accesscontrol`."
      }
    },
    "com.grafana.api#AdminProvisioningReloadDashboards": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin/provisioning/dashboards/reload",
          "code": 200
        },
        "smithy.api#documentation": "Reload dashboard provisioning configurations.\n\nReloads the provisioning config files for dashboards again. It won’t return until the new provisioned entities are already stored in the database. In case of dashboards, it will stop polling for changes in dashboard files and then restart it with new configurations after returning.\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `provisioning:reload` and scope `provisioners:dashboards`."
      }
    },
    "com.grafana.api#AdminProvisioningReloadDatasources": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin/provisioning/datasources/reload",
          "code": 200
        },
        "smithy.api#documentation": "Reload datasource provisioning configurations.\n\nReloads the provisioning config files for datasources again. It won’t return until the new provisioned entities are already stored in the database. In case of dashboards, it will stop polling for changes in dashboard files and then restart it with new configurations after returning.\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `provisioning:reload` and scope `provisioners:datasources`."
      }
    },
    "com.grafana.api#AdminProvisioningReloadPlugins": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin/provisioning/plugins/reload",
          "code": 200
        },
        "smithy.api#documentation": "Reload plugin provisioning configurations.\n\nReloads the provisioning config files for plugins again. It won’t return until the new provisioned entities are already stored in the database. In case of dashboards, it will stop polling for changes in dashboard files and then restart it with new configurations after returning.\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `provisioning:reload` and scope `provisioners:plugin`."
      }
    },
    "com.grafana.api#SettingsBag": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.grafana.api#SettingsBagValueMap"
      },
      "traits": {}
    },
    "com.grafana.api#SettingsBagValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.api#AdminGetSettingsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.grafana.api#SettingsBag",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.grafana.api#AdminGetSettings": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.grafana.api#AdminGetSettingsResponse"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin/settings",
          "code": 200
        },
        "smithy.api#documentation": "Fetch settings.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `settings:read` and scopes: `settings:*`, `settings:auth.saml:` and `settings:auth.saml:enabled` (property level)."
      }
    },
    "com.grafana.api#AdminStats": {
      "type": "structure",
      "members": {
        "activeAdmins": {
          "target": "smithy.api#Integer"
        },
        "activeDevices": {
          "target": "smithy.api#Integer"
        },
        "activeEditors": {
          "target": "smithy.api#Integer"
        },
        "activeSessions": {
          "target": "smithy.api#Integer"
        },
        "activeUsers": {
          "target": "smithy.api#Integer"
        },
        "activeViewers": {
          "target": "smithy.api#Integer"
        },
        "admins": {
          "target": "smithy.api#Integer"
        },
        "alerts": {
          "target": "smithy.api#Integer"
        },
        "dailyActiveAdmins": {
          "target": "smithy.api#Integer"
        },
        "dailyActiveEditors": {
          "target": "smithy.api#Integer"
        },
        "dailyActiveSessions": {
          "target": "smithy.api#Integer"
        },
        "dailyActiveUsers": {
          "target": "smithy.api#Integer"
        },
        "dailyActiveViewers": {
          "target": "smithy.api#Integer"
        },
        "dashboards": {
          "target": "smithy.api#Integer"
        },
        "datasources": {
          "target": "smithy.api#Integer"
        },
        "editors": {
          "target": "smithy.api#Integer"
        },
        "monthlyActiveUsers": {
          "target": "smithy.api#Integer"
        },
        "orgs": {
          "target": "smithy.api#Integer"
        },
        "playlists": {
          "target": "smithy.api#Integer"
        },
        "snapshots": {
          "target": "smithy.api#Integer"
        },
        "stars": {
          "target": "smithy.api#Integer"
        },
        "tags": {
          "target": "smithy.api#Integer"
        },
        "users": {
          "target": "smithy.api#Integer"
        },
        "viewers": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.grafana.api#AdminGetStats": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.grafana.api#AdminStats"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin/stats",
          "code": 200
        },
        "smithy.api#documentation": "Fetch Grafana Stats.\n\nOnly works with Basic Authentication (username and password). See introduction for an explanation.\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `server:stats:read`."
      }
    },
    "com.grafana.api#AdminCreateUserRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        },
        "login": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "orgId": {
          "target": "smithy.api#Integer"
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#AdminCreateUserResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "uid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.grafana.api#AdminCreateUser": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#AdminCreateUserRequest"
      },
      "output": {
        "target": "com.grafana.api#AdminCreateUserResponse"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin/users",
          "code": 200
        },
        "smithy.api#documentation": "Create new user.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `users:create`.\nNote that OrgId is an optional parameter that can be used to assign a new user to a different organization when `auto_assign_org` is set to `true`."
      }
    },
    "com.grafana.api#AdminDeleteUserRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#AdminDeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#AdminDeleteUserRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/admin/users/{user_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete global User.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `users:delete` and scope `global.users:*`."
      }
    },
    "com.grafana.api#AdminGetUserAuthTokensRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#UserToken": {
      "type": "structure",
      "members": {
        "AuthToken": {
          "target": "smithy.api#String"
        },
        "AuthTokenSeen": {
          "target": "smithy.api#Boolean"
        },
        "ClientIp": {
          "target": "smithy.api#String"
        },
        "CreatedAt": {
          "target": "smithy.api#Integer"
        },
        "ExternalSessionId": {
          "target": "smithy.api#Integer"
        },
        "Id": {
          "target": "smithy.api#Integer"
        },
        "PrevAuthToken": {
          "target": "smithy.api#String"
        },
        "RevokedAt": {
          "target": "smithy.api#Integer"
        },
        "RotatedAt": {
          "target": "smithy.api#Integer"
        },
        "SeenAt": {
          "target": "smithy.api#Integer"
        },
        "UnhashedToken": {
          "target": "smithy.api#String"
        },
        "UpdatedAt": {
          "target": "smithy.api#Integer"
        },
        "UserAgent": {
          "target": "smithy.api#String"
        },
        "UserId": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "UserToken represents a user token"
      }
    },
    "com.grafana.api#AdminGetUserAuthTokensResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#UserToken"
      },
      "traits": {}
    },
    "com.grafana.api#AdminGetUserAuthTokensResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.grafana.api#AdminGetUserAuthTokensResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.grafana.api#AdminGetUserAuthTokens": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#AdminGetUserAuthTokensRequest"
      },
      "output": {
        "target": "com.grafana.api#AdminGetUserAuthTokensResponse"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin/users/{user_id}/auth-tokens",
          "code": 200
        },
        "smithy.api#documentation": "Return a list of all auth tokens (devices) that the user currently have logged in from.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `users.authtoken:list` and scope `global.users:*`."
      }
    },
    "com.grafana.api#AdminDisableUserRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#AdminDisableUser": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#AdminDisableUserRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin/users/{user_id}/disable",
          "code": 200
        },
        "smithy.api#documentation": "Disable user.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `users:disable` and scope `global.users:1` (userIDScope)."
      }
    },
    "com.grafana.api#AdminEnableUserRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#AdminEnableUser": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#AdminEnableUserRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin/users/{user_id}/enable",
          "code": 200
        },
        "smithy.api#documentation": "Enable user.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `users:enable` and scope `global.users:1` (userIDScope)."
      }
    },
    "com.grafana.api#AdminLogoutUserRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#AdminLogoutUser": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#AdminLogoutUserRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin/users/{user_id}/logout",
          "code": 200
        },
        "smithy.api#documentation": "Logout user revokes all auth tokens (devices) for the user. User of issued auth tokens (devices) will no longer be logged in and will be required to authenticate again upon next activity.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `users.logout` and scope `global.users:*`."
      }
    },
    "com.grafana.api#AdminUpdateUserPasswordRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#AdminUpdateUserPassword": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#AdminUpdateUserPasswordRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/admin/users/{user_id}/password",
          "code": 200
        },
        "smithy.api#documentation": "Set password for user.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `users.password:update` and scope `global.users:*`."
      }
    },
    "com.grafana.api#AdminUpdateUserPermissionsRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "isGrafanaAdmin": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#AdminUpdateUserPermissions": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#AdminUpdateUserPermissionsRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/admin/users/{user_id}/permissions",
          "code": 200
        },
        "smithy.api#documentation": "Set permissions for user.\n\nOnly works with Basic Authentication (username and password). See introduction for an explanation.\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `users.permissions:update` and scope `global.users:*`."
      }
    },
    "com.grafana.api#GetUserQuotaRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#QuotaDTO": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer"
        },
        "org_id": {
          "target": "smithy.api#Integer"
        },
        "target": {
          "target": "smithy.api#String"
        },
        "used": {
          "target": "smithy.api#Integer"
        },
        "user_id": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.grafana.api#GetUserQuotaResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#QuotaDTO"
      },
      "traits": {}
    },
    "com.grafana.api#GetUserQuotaResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.grafana.api#GetUserQuotaResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.grafana.api#GetUserQuota": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#GetUserQuotaRequest"
      },
      "output": {
        "target": "com.grafana.api#GetUserQuotaResponse"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin/users/{user_id}/quotas",
          "code": 200
        },
        "smithy.api#documentation": "Fetch user quota.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `users.quotas:list` and scope `global.users:1` (userIDScope)."
      }
    },
    "com.grafana.api#UpdateUserQuotaRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "quota_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer"
        },
        "target": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#UpdateUserQuota": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#UpdateUserQuotaRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/admin/users/{user_id}/quotas/{quota_target}",
          "code": 200
        },
        "smithy.api#documentation": "Update user quota.\n\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `users.quotas:update` and scope `global.users:1` (userIDScope)."
      }
    },
    "com.grafana.api#AdminRevokeUserAuthTokenRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "authTokenId": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#AdminRevokeUserAuthToken": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#AdminRevokeUserAuthTokenRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        },
        {
          "target": "com.grafana.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin/users/{user_id}/revoke-auth-token",
          "code": 200
        },
        "smithy.api#documentation": "Revoke auth token for user.\n\nRevokes the given auth token (device) for the user. User of issued auth token (device) will no longer be logged in and will be required to authenticate again upon next activity.\nIf you are running Grafana Enterprise and have Fine-grained access control enabled, you need to have a permission with action `users.authtoken:update` and scope `global.users:*`."
      }
    },
    "com.grafana.api#GetAnnotationsRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.api#GetAnnotationsRequestType": {
      "type": "enum",
      "members": {
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert"
          }
        },
        "ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "annotation"
          }
        }
      },
      "traits": {}
    },
    "com.grafana.api#GetAnnotationsRequest": {
      "type": "structure",
      "members": {
        "from": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "from",
            "smithy.api#documentation": "Find annotations created after specific epoch datetime in milliseconds."
          }
        },
        "to": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "to",
            "smithy.api#documentation": "Find annotations created before specific epoch datetime in milliseconds."
          }
        },
        "userId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "userId",
            "smithy.api#documentation": "Limit response to annotations created by specific user."
          }
        },
        "userUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "userUID",
            "smithy.api#documentation": "Limit response to annotations created by a specific user, identified by UID."
          }
        },
        "alertId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "alertId",
            "smithy.api#documentation": "Find annotations for a specified alert rule by its ID.\ndeprecated: AlertID is deprecated and will be removed in future versions. Please use AlertUID instead."
          }
        },
        "alertUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "alertUID",
            "smithy.api#documentation": "Find annotations for a specified alert rule by its UID."
          }
        },
        "dashboardId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "dashboardId",
            "smithy.api#documentation": "Find annotations that are scoped to a specific dashboard"
          }
        },
        "dashboardUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dashboardUID",
            "smithy.api#documentation": "Find annotations that are scoped to a specific dashboard"
          }
        },
        "panelId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "panelId",
            "smithy.api#documentation": "Find annotations that are scoped to a specific panel"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Max limit for results returned."
          }
        },
        "tags": {
          "target": "com.grafana.api#GetAnnotationsRequestTagsList",
          "traits": {
            "smithy.api#httpQuery": "tags",
            "smithy.api#documentation": "Use this to filter organization annotations. Organization annotations are annotations from an annotation data source that are not connected specifically to a dashboard or panel. You can filter by multiple tags."
          }
        },
        "type": {
          "target": "com.grafana.api#GetAnnotationsRequestType",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Return alerts or user created annotations\nDescription:\n- `alert`\n- `annotation`"
          }
        },
        "matchAny": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "matchAny",
            "smithy.api#documentation": "Match any or all tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#Annotation": {
      "type": "structure",
      "members": {
        "alertId": {
          "target": "smithy.api#Integer"
        },
        "alertName": {
          "target": "smithy.api#String"
        },
        "avatarUrl": {
          "target": "smithy.api#String"
        },
        "created": {
          "target": "smithy.api#Integer"
        },
        "dashboardId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use DashboardUID and OrgID instead"
          }
        },
        "dashboardUID": {
          "target": "smithy.api#String"
        },
        "data": {
          "target": "smithy.api#Document"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "login": {
          "target": "smithy.api#String"
        },
        "newState": {
          "target": "smithy.api#String"
        },
        "panelId": {
          "target": "smithy.api#Integer"
        },
        "prevState": {
          "target": "smithy.api#String"
        },
        "tags": {
          "target": "com.grafana.api#AnnotationTagsList"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "time": {
          "target": "smithy.api#Integer"
        },
        "timeEnd": {
          "target": "smithy.api#Integer"
        },
        "updated": {
          "target": "smithy.api#Integer"
        },
        "userId": {
          "target": "smithy.api#Integer"
        },
        "userUID": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.grafana.api#AnnotationTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.api#GetAnnotationsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#Annotation"
      },
      "traits": {}
    },
    "com.grafana.api#GetAnnotationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.grafana.api#GetAnnotationsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.grafana.api#GetAnnotations": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#GetAnnotationsRequest"
      },
      "output": {
        "target": "com.grafana.api#GetAnnotationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/annotations",
          "code": 200
        },
        "smithy.api#documentation": "Find Annotations.\n\nStarting in Grafana v6.4 regions annotations are now returned in one entity that now includes the timeEnd property."
      }
    },
    "com.grafana.api#PostAnnotationRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.api#PostAnnotationRequest": {
      "type": "structure",
      "members": {
        "dashboardId": {
          "target": "smithy.api#Integer"
        },
        "dashboardUID": {
          "target": "smithy.api#String"
        },
        "data": {
          "target": "smithy.api#Document"
        },
        "panelId": {
          "target": "smithy.api#Integer"
        },
        "tags": {
          "target": "com.grafana.api#PostAnnotationRequestTagsList"
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "time": {
          "target": "smithy.api#Integer"
        },
        "timeEnd": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#PostAnnotationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID Identifier of the created annotation.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message Message of the created annotation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.grafana.api#PostAnnotation": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#PostAnnotationRequest"
      },
      "output": {
        "target": "com.grafana.api#PostAnnotationResponse"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/annotations",
          "code": 200
        },
        "smithy.api#documentation": "Create Annotation.\n\nCreates an annotation in the Grafana database. The dashboardId and panelId fields are optional. If they are not specified then an organization annotation is created and can be queried in any dashboard that adds the Grafana annotations data source. When creating a region annotation include the timeEnd property.\nThe format for `time` and `timeEnd` should be epoch numbers in millisecond resolution.\nThe response for this HTTP request is slightly different in versions prior to v6.4. In prior versions you would also get an endId if you where creating a region. But in 6.4 regions are represented using a single event with time and timeEnd properties."
      }
    },
    "com.grafana.api#PostGraphiteAnnotationRequest": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String"
        },
        "tags": {
          "target": "smithy.api#Document"
        },
        "what": {
          "target": "smithy.api#String"
        },
        "when": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#PostGraphiteAnnotationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID Identifier of the created annotation.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message Message of the created annotation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.grafana.api#PostGraphiteAnnotation": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#PostGraphiteAnnotationRequest"
      },
      "output": {
        "target": "com.grafana.api#PostGraphiteAnnotationResponse"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/annotations/graphite",
          "code": 200
        },
        "smithy.api#documentation": "Create Annotation in Graphite format.\n\nCreates an annotation by using Graphite-compatible event format. The `when` and `data` fields are optional. If `when` is not specified then the current time will be used as annotation’s timestamp. The `tags` field can also be in prior to Graphite `0.10.0` format (string with multiple tags being separated by a space)."
      }
    },
    "com.grafana.api#MassDeleteAnnotationsRequest": {
      "type": "structure",
      "members": {
        "annotationId": {
          "target": "smithy.api#Integer"
        },
        "dashboardId": {
          "target": "smithy.api#Integer"
        },
        "dashboardUID": {
          "target": "smithy.api#String"
        },
        "panelId": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#MassDeleteAnnotations": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#MassDeleteAnnotationsRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/annotations/mass-delete",
          "code": 200
        },
        "smithy.api#documentation": "Delete multiple annotations."
      }
    },
    "com.grafana.api#GetAnnotationTagsRequest": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tag",
            "smithy.api#documentation": "Tag is a string that you can use to filter tags."
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Max limit for results returned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#GetAnnotationTagsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.grafana.api#FindTagsResult"
        }
      },
      "traits": {}
    },
    "com.grafana.api#FindTagsResult": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.grafana.api#FindTagsResultTagsList"
        }
      },
      "traits": {}
    },
    "com.grafana.api#TagsDTO": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "tag": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.grafana.api#FindTagsResultTagsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.api#TagsDTO"
      },
      "traits": {}
    },
    "com.grafana.api#GetAnnotationTags": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#GetAnnotationTagsRequest"
      },
      "output": {
        "target": "com.grafana.api#GetAnnotationTagsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/annotations/tags",
          "code": 200
        },
        "smithy.api#documentation": "Find Annotations Tags.\n\nFind all the event tags created in the annotations."
      }
    },
    "com.grafana.api#GetAnnotationByIDRequest": {
      "type": "structure",
      "members": {
        "annotation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#GetAnnotationByID": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#GetAnnotationByIDRequest"
      },
      "output": {
        "target": "com.grafana.api#Annotation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/annotations/{annotation_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get Annotation by ID."
      }
    },
    "com.grafana.api#UpdateAnnotationRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.api#UpdateAnnotationRequest": {
      "type": "structure",
      "members": {
        "annotation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "tags": {
          "target": "com.grafana.api#UpdateAnnotationRequestTagsList"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "time": {
          "target": "smithy.api#Integer"
        },
        "timeEnd": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.api#UpdateAnnotation": {
      "type": "operation",
      "input": {
        "target": "com.grafana.api#UpdateAnnotationRequest"
      },
      "output": {
        "target": "com.grafana.api#SuccessResponseBody"
      },
      "errors": [
        {
          "target": "com.grafana.api#BadRequest"
        },
        {
          "target": "com.grafana.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/annotations/{annotation_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update Annotation.\n\nUpdates all properties of an annotation that matches the specified id. To only update certain property, consider using the Patch Annotation operation."
      }
    },
[...]
