{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.remote.api#OAuth2TokenParams": {
      "type": "union",
      "members": {
        "AuthorizationCodeParams": {
          "target": "com.remote.api#AuthorizationCodeParams"
        },
        "ClientCredentialsParams": {
          "target": "com.remote.api#ClientCredentialsParams"
        },
        "RefreshTokenParams": {
          "target": "com.remote.api#RefreshTokenParams"
        },
        "AssertionTokenParams": {
          "target": "com.remote.api#AssertionTokenParams"
        }
      },
      "traits": {}
    },
    "com.remote.api#AuthorizationCodeParams": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authorization code generated in Authorization Code flow",
            "smithy.api#required": {}
          }
        },
        "grant_type": {
          "target": "com.remote.api#AuthorizationCodeParamsGrantType",
          "traits": {
            "smithy.api#documentation": "The Authorization flow",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#AuthorizationCodeParamsGrantType": {
      "type": "enum",
      "members": {
        "AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorization_code"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Authorization flow"
      }
    },
    "com.remote.api#ClientCredentialsParams": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client id generated during registration",
            "smithy.api#required": {}
          }
        },
        "grant_type": {
          "target": "com.remote.api#ClientCredentialsParamsGrantType",
          "traits": {
            "smithy.api#documentation": "The Authorization flow",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#ClientCredentialsParamsGrantType": {
      "type": "enum",
      "members": {
        "CLIENT_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_credentials"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Authorization flow"
      }
    },
    "com.remote.api#RefreshTokenParams": {
      "type": "structure",
      "members": {
        "grant_type": {
          "target": "com.remote.api#RefreshTokenParamsGrantType",
          "traits": {
            "smithy.api#documentation": "The Authorization flow",
            "smithy.api#required": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refresh token generated in the Authorization Code flow",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#RefreshTokenParamsGrantType": {
      "type": "enum",
      "members": {
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Authorization flow"
      }
    },
    "com.remote.api#AssertionTokenParams": {
      "type": "structure",
      "members": {
        "assertion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The assertion token",
            "smithy.api#required": {}
          }
        },
        "grant_type": {
          "target": "com.remote.api#AssertionTokenParamsGrantType",
          "traits": {
            "smithy.api#documentation": "The Assertion flow grant type",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The assertion token is a JWT token that contains the following claims:\n\n- `sub`: The subject of the token, in one of the following formats:\n  - `urn:remote-api:employment:<employment_id>` — mints an **employee-role** access token whose `sub` is the employment owner's user slug. Scopes are restricted to those valid for the employee role (e.g. `personal_detail:read`, `timeoff:write`).\n  - `urn:remote-api:employee:employment:<employment_id>` — same as above; the recommended format for new integrations. Use this when issuing a token on behalf of an employee so they can submit their own onboarding data (e.g. `PUT /v1/employee/address`).\n  - `urn:remote-api:company-manager:user:<user_id>` — mints a **company_manager-role** access token. Scopes are restricted to those valid for the company-manager role.\n\n- `iss`: The issuer of the token, which is the client ID\n- `aud`: The audience of the token, which is the OAuth audience\n- `exp`: The expiration time of the token (max 10 minutes in the future)\n- `iat`: The issued at time of the token\n- `scope`: The scope of the token (space-separated). Optional. If omitted, the minted access token defaults to `all:write` for the subject's role. If provided, every scope must be valid for the subject's role or the assertion is rejected.\n\nThe assertion must be signed with the client secret (HS256).\n\n**Example — minting an employee token to submit a residential address:**\n\n```\nsub:   urn:remote-api:employee:employment:emp_2t3h9\niss:   <your client_id>\naud:   <configured OAuth audience>\nexp:   <now + 300 seconds>\niat:   <now>\nscope: address:write\n```\n\nThe resulting access token can be used at `PUT /v1/employee/address` to submit the address for that employment.\n"
      }
    },
    "com.remote.api#AssertionTokenParamsGrantType": {
      "type": "enum",
      "members": {
        "URN_IETF_PARAMS_OAUTH_GRANT_TYPE_JWT_BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "urn:ietf:params:oauth:grant-type:jwt-bearer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Assertion flow grant type"
      }
    },
    "com.remote.api#PostAuthOauth2TokenRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.remote.api#OAuth2TokenParams",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.remote.api#OAuth2Tokens": {
      "type": "union",
      "members": {
        "AuthorizationCodeResponse": {
          "target": "com.remote.api#AuthorizationCodeResponse"
        },
        "ClientCredentialsResponse": {
          "target": "com.remote.api#BaseTokenResponse"
        },
        "RefreshTokenResponse": {
          "target": "com.remote.api#RefreshTokenResponse"
        }
      },
      "traits": {}
    },
    "com.remote.api#AuthorizationCodeResponse": {
      "type": "structure",
      "members": {
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JWT token.",
            "smithy.api#sensitive": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds until token is expired."
          }
        },
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the token. For now, always `Bearer`."
          }
        },
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the connected company."
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refresh token. This token must be stored and used for issuing new access tokens for managing the company's resources.",
            "smithy.api#sensitive": {}
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user who connected the company."
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#BaseTokenResponse": {
      "type": "structure",
      "members": {
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JWT token.",
            "smithy.api#sensitive": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds until token is expired."
          }
        },
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the token. For now, always `Bearer`."
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#RefreshTokenResponse": {
      "type": "structure",
      "members": {
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JWT token.",
            "smithy.api#sensitive": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds until token is expired."
          }
        },
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the token. For now, always `Bearer`."
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refresh token",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#PostAuthOauth2TokenResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.remote.api#OAuth2Tokens",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.remote.api#PostAuthOauth2Token": {
      "type": "operation",
      "input": {
        "target": "com.remote.api#PostAuthOauth2TokenRequest"
      },
      "output": {
        "target": "com.remote.api#PostAuthOauth2TokenResponse"
      },
      "errors": [
        {
          "target": "com.remote.api#BadRequest"
        },
        {
          "target": "com.remote.api#NotFound"
        },
        {
          "target": "com.remote.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/auth/oauth2/token",
          "code": 200
        },
        "smithy.api#documentation": "Token\n\nEndpoint to exchange tokens in the Authorization Code, Assertion Flow, Client Credentials and Refresh Token flows"
      }
    },
    "com.remote.api#BenefitOfferByEmploymentResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.remote.api#BenefitOfferByEmploymentResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#BenefitOffersByEmployment": {
      "type": "structure",
      "members": {
        "benefit_offers": {
          "target": "com.remote.api#BenefitOffersByEmploymentBenefitOffersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "costs": {
          "target": "com.remote.api#Costs",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "employment": {
          "target": "com.remote.api#BenefitOffersEmployment",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#BenefitOffer": {
      "type": "structure",
      "members": {
        "benefit_group": {
          "target": "com.remote.api#BenefitGroup",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "benefit_tier": {
          "target": "com.remote.api#BenefitTier",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "benefits": {
          "target": "com.remote.api#BenefitOfferBenefitsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "costs": {
          "target": "com.remote.api#Costs",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#BenefitGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the benefit group.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the benefit category (e.g., \"Health\", \"Dental\", \"Life Insurance\").",
            "smithy.api#required": {}
          }
        },
        "policy_end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when the policy period ends for this benefit group (ISO 8601 format). Benefits may need to be renewed after this date.",
            "smithy.api#required": {}
          }
        },
        "policy_start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when the policy period begins for this benefit group (ISO 8601 format).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A category of benefits (e.g., \"Health\", \"Dental\", \"Life Insurance\") with a defined policy period. Each group contains one or more tiers representing different coverage levels."
      }
    },
    "com.remote.api#BenefitTier": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A detailed description of what this tier covers, including the types of benefits included.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the benefit tier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this tier (e.g., \"Premium 2024 (Medical, Dental and Vision)\").",
            "smithy.api#required": {}
          }
        },
        "providers": {
          "target": "com.remote.api#BenefitTierProvidersList",
          "traits": {
            "smithy.api#documentation": "The insurance carriers or providers associated with this tier.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A specific coverage level within a benefit group. For example, a \"Health\" benefit group might have tiers like \"Basic\", \"Standard\", and \"Premium\", each with different coverage and providers."
      }
    },
    "com.remote.api#BenefitProvider": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the benefit provider.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the insurance carrier or benefit provider (e.g., \"Allianz\", \"Bupa\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The insurance carrier or provider that underwrites a benefit tier. May be null if the benefit tier does not have a specific external provider assigned."
      }
    },
    "com.remote.api#BenefitTierProvidersList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#BenefitProvider"
      },
      "traits": {
        "smithy.api#documentation": "The insurance carriers or providers associated with this tier."
      }
    },
    "com.remote.api#Benefit": {
      "type": "structure",
      "members": {
        "costs": {
          "target": "com.remote.api#Costs",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "coverage_end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when benefit coverage ends (ISO 8601).",
            "smithy.api#required": {}
          }
        },
        "coverage_start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when benefit coverage begins (ISO 8601).",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the benefit.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the benefit (e.g., \"Health Insurance\", \"Dental Plan\").",
            "smithy.api#required": {}
          }
        },
        "projected_costs": {
          "target": "com.remote.api#Costs",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "provider": {
          "target": "com.remote.api#BenefitProvider",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.remote.api#BenefitStatus",
          "traits": {
            "smithy.api#documentation": "The enrollment status of this benefit for the employee.\n\n- `offered`: The benefit has been offered but the employee has not yet enrolled.\n- `enrolled`: The employee is actively enrolled in this benefit.\n- `waived`: The employee declined or opted out of this benefit.\n",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type/category of the benefit.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Benefits with status enrolled have their summed costs in costs.\nBenefits with status offered have their summed costs in projected_costs.\nBenefit-offers where the employer opted-out have benefit_tier: null in the response.\n"
      }
    },
    "com.remote.api#Costs": {
      "type": "structure",
      "members": {
        "employee_cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The employee's portion of the benefit cost, in cents.",
            "smithy.api#required": {}
          }
        },
        "employer_cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The employer's portion of the benefit cost, in cents.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The cost breakdown between employee and employer for a benefit. Amounts are in the company's billing currency, in cents."
      }
    },
    "com.remote.api#BenefitStatus": {
      "type": "enum",
      "members": {
        "OFFERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "offered"
          }
        },
        "ENROLLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enrolled"
          }
        },
        "WAIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enrollment status of this benefit for the employee.\n\n- `offered`: The benefit has been offered but the employee has not yet enrolled.\n- `enrolled`: The employee is actively enrolled in this benefit.\n- `waived`: The employee declined or opted out of this benefit.\n"
      }
    },
    "com.remote.api#BenefitOfferBenefitsList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#Benefit"
      },
      "traits": {}
    },
    "com.remote.api#BenefitOffersByEmploymentBenefitOffersList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#BenefitOffer"
      },
      "traits": {}
    },
    "com.remote.api#BenefitOffersEmployment": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.remote.api#Country",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "given_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The employee's given (first) name. Null if not available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the employment.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The employee's full name.",
            "smithy.api#required": {}
          }
        },
        "surname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The employee's surname (last name). Null if not available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A lightweight employment representation used in benefit offer listings."
      }
    },
    "com.remote.api#Country": {
      "type": "structure",
      "members": {
        "alpha_2_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO 3166-1 alpha-2 country code (e.g., \"PT\").",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO 3166-1 alpha-3 country code (e.g., \"PRT\"). This is the primary code used across the Remote API.",
            "smithy.api#required": {}
          }
        },
        "contractor_products_available": {
          "target": "com.remote.api#CountryContractorProductsAvailableList",
          "traits": {
            "smithy.api#documentation": "Contractor product names available for this country"
          }
        },
        "country_subdivisions": {
          "target": "com.remote.api#CountryCountrySubdivisionsList",
          "traits": {
            "smithy.api#documentation": "Administrative subdivisions of the country (e.g., states, provinces, districts). Null if the country has no subdivisions relevant to Remote's services.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "employment_agreement_preview_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an Employment Agreement preview is available for this country."
          }
        },
        "eor_onboarding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether EOR (Employer of Record) onboarding is available in this country."
          }
        },
        "locked_benefits": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When benefit plan selections become locked for this country (e.g., \"after_first_hire\" means benefits cannot be changed after the first employee is hired)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country's full English name.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geographic region the country belongs to (e.g., \"Europe\", \"Asia\", \"Americas\")."
          }
        },
        "subregion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geographic subregion (e.g., \"Southern Europe\", \"Southeast Asia\"). Null for some countries.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "supported_json_schemas": {
          "target": "com.remote.api#CountrySupportedJsonSchemasList",
          "traits": {
            "smithy.api#documentation": "The list of JSON schema form names available for this country (e.g., \"address_details\", \"contract_details\"). Use these with the Show form schema endpoint to get country-specific field requirements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A supported country on Remote"
      }
    },
    "com.remote.api#CountryContractorProductsAvailableItem": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "COR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cor"
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#CountryContractorProductsAvailableList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#CountryContractorProductsAvailableItem"
      },
      "traits": {
        "smithy.api#documentation": "Contractor product names available for this country"
      }
    },
    "com.remote.api#CountrySubdivision": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO 3166-2 subdivision code (e.g., \"PT-11\" for Lisboa)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subdivision's name (e.g., \"Lisboa\", \"California\").",
            "smithy.api#required": {}
          }
        },
        "subdivision_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of subdivision (e.g., \"District\", \"State\", \"Province\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subdivision of a supported country on Remote"
      }
    },
    "com.remote.api#CountryCountrySubdivisionsList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#CountrySubdivision"
      },
      "traits": {
        "smithy.api#documentation": "Administrative subdivisions of the country (e.g., states, provinces, districts). Null if the country has no subdivisions relevant to Remote's services."
      }
    },
    "com.remote.api#CountrySupportedJsonSchemasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of JSON schema form names available for this country (e.g., \"address_details\", \"contract_details\"). Use these with the Show form schema endpoint to get country-specific field requirements."
      }
    },
    "com.remote.api#BenefitOfferByEmploymentResponseDataBenefitOffersByEmploymentList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#BenefitOffersByEmployment"
      },
      "traits": {}
    },
    "com.remote.api#Currency": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "symbol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of money in general use in a particular country"
      }
    },
    "com.remote.api#BenefitOfferByEmploymentResponseData": {
      "type": "structure",
      "members": {
        "benefit_offers_by_employment": {
          "target": "com.remote.api#BenefitOfferByEmploymentResponseDataBenefitOffersByEmploymentList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the company.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.remote.api#Currency",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#GetV1BenefitOffers": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.remote.api#BenefitOfferByEmploymentResponse"
      },
      "errors": [
        {
          "target": "com.remote.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/benefit-offers",
          "code": 200
        },
        "smithy.api#documentation": "List Benefit Offers By Employment\n\nList benefit offers by employment.\n\n\n## Scopes"
      }
    },
    "com.remote.api#CountrySummariesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.remote.api#CountrySummariesResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing a company's benefit offering summaries broken down by country. Each country includes aggregate enrollment statistics and details of all offered benefit groups and tiers."
      }
    },
    "com.remote.api#CountrySummary": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.remote.api#Country",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "employee_stats": {
          "target": "com.remote.api#EmployeeStats",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "offered_benefit_groups": {
          "target": "com.remote.api#CountrySummaryOfferedBenefitGroupsList",
          "traits": {
            "smithy.api#documentation": "All benefit groups that have been offered to employees in this country.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A per-country summary of benefit offerings, including aggregate enrollment statistics and a breakdown of all offered benefit groups and their tiers for that country."
      }
    },
    "com.remote.api#EmployeeStats": {
      "type": "structure",
      "members": {
        "number_of_employees_enrolled": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of employees currently enrolled in this benefit. An enrolled employee has an active benefit record.",
            "smithy.api#required": {}
          }
        },
        "number_of_employees_offered": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of employees who have been offered this benefit. An employee is counted as offered once a benefit offer record exists, regardless of whether they have enrolled.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enrollment statistics for a benefit at a given level (country, group, or tier). Shows how many employees have been offered the benefit versus how many are actively enrolled."
      }
    },
    "com.remote.api#OfferedBenefitGroup": {
      "type": "structure",
      "members": {
        "benefit_group": {
          "target": "com.remote.api#BenefitGroup",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "employee_stats": {
          "target": "com.remote.api#EmployeeStats",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "offered_benefit_tiers": {
          "target": "com.remote.api#OfferedBenefitGroupOfferedBenefitTiersList",
          "traits": {
            "smithy.api#documentation": "The individual tiers within this group that have been offered, each with their own enrollment statistics.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A benefit group that has been offered to employees, including enrollment statistics aggregated across all tiers and the individual offered tiers with their own statistics."
      }
    },
    "com.remote.api#OfferedBenefitTier": {
      "type": "structure",
      "members": {
        "benefit_tier": {
          "target": "com.remote.api#BenefitTier",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "employee_stats": {
          "target": "com.remote.api#EmployeeStats",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A benefit tier that has been offered to employees, combined with enrollment statistics for that tier."
      }
    },
    "com.remote.api#OfferedBenefitGroupOfferedBenefitTiersList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#OfferedBenefitTier"
      },
      "traits": {
        "smithy.api#documentation": "The individual tiers within this group that have been offered, each with their own enrollment statistics."
      }
    },
    "com.remote.api#CountrySummaryOfferedBenefitGroupsList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#OfferedBenefitGroup"
      },
      "traits": {
        "smithy.api#documentation": "All benefit groups that have been offered to employees in this country."
      }
    },
    "com.remote.api#CountrySummariesResponseDataCountrySummariesList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#CountrySummary"
      },
      "traits": {
        "smithy.api#documentation": "Benefit offering summaries for each country where the company has employees."
      }
    },
    "com.remote.api#CountrySummariesResponseData": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the company these benefit summaries belong to.",
            "smithy.api#required": {}
          }
        },
        "country_summaries": {
          "target": "com.remote.api#CountrySummariesResponseDataCountrySummariesList",
          "traits": {
            "smithy.api#documentation": "Benefit offering summaries for each country where the company has employees.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#GetV1BenefitOffersCountrySummaries": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.remote.api#CountrySummariesResponse"
      },
      "errors": [
        {
          "target": "com.remote.api#NotFound"
        },
        {
          "target": "com.remote.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/benefit-offers/country-summaries",
          "code": 200
        },
        "smithy.api#documentation": "List Benefit Offers\n\nList benefit offers for each country.\n\n\n## Scopes"
      }
    },
    "com.remote.api#GetV1BenefitRenewalRequestsRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Starts fetching records after the given page"
          }
        },
        "page_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page_size",
            "smithy.api#documentation": "Number of items per page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.remote.api#BenefitRenewalRequestsListBenefitRenewalRequestResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.remote.api#BenefitRenewalRequestsListBenefitRenewalRequestResponseData"
        }
      },
      "traits": {
        "smithy.api#documentation": "Response schema listing many benefit_renewal_requests"
      }
    },
    "com.remote.api#BenefitRenewalRequestsBenefitRenewalRequest": {
      "type": "structure",
      "members": {
        "benefit_group": {
          "target": "com.remote.api#BenefitRenewalRequestsMinimalBenefitGroup",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "benefit_renewal_response": {
          "target": "com.remote.api#BenefitRenewalRequestsMinimalBenefitRenewalResponse",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "coverage_end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "coverage_start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current_benefit_tier": {
          "target": "com.remote.api#NullableMinimalBenefitTier",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the benefit renewal request.",
            "smithy.api#required": {}
          }
        },
        "number_of_affected_employees": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of employees who will be affected by this benefit renewal.",
            "smithy.api#required": {}
          }
        },
        "renewal_selection_end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "renewal_selection_instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instructions for the employer about the renewal process, available plans, and deadlines.",
            "smithy.api#required": {}
          }
        },
        "renewal_selection_start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#BenefitRenewalRequestsMinimalBenefitGroup": {
      "type": "structure",
      "members": {
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO 3166-1 3-letter country code for this benefit group.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the benefit group.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the benefit group (e.g., \"Health\", \"Life Insurance\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A lightweight benefit group reference used in renewal requests."
      }
    },
    "com.remote.api#BenefitRenewalRequestsMinimalBenefitRenewalResponse": {
      "type": "structure",
      "members": {
        "benefit_tier": {
          "target": "com.remote.api#NullableMinimalBenefitTier",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#NullableMinimalBenefitTier": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of what this tier includes.",
            "smithy.api#required": {}
          }
        },
        "display_cost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable cost estimate for this tier (e.g., \"~$100\"). Null if cost is not available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the benefit tier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the benefit tier (e.g., \"Premium\", \"Standard\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#BenefitRenewalRequestsListBenefitRenewalRequestResponseDataBenefitRenewalRequestsList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#BenefitRenewalRequestsBenefitRenewalRequest"
      },
      "traits": {}
    },
    "com.remote.api#BenefitRenewalRequestsListBenefitRenewalRequestResponseData": {
      "type": "structure",
      "members": {
        "benefit_renewal_requests": {
          "target": "com.remote.api#BenefitRenewalRequestsListBenefitRenewalRequestResponseDataBenefitRenewalRequestsList"
        },
        "current_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current page among all of the total_pages"
          }
        },
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of records in the result"
          }
        },
        "total_pages": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of pages the user can go through"
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#GetV1BenefitRenewalRequests": {
      "type": "operation",
      "input": {
        "target": "com.remote.api#GetV1BenefitRenewalRequestsRequest"
      },
      "output": {
        "target": "com.remote.api#BenefitRenewalRequestsListBenefitRenewalRequestResponse"
      },
      "errors": [
        {
          "target": "com.remote.api#BadRequest"
        },
        {
          "target": "com.remote.api#NotFound"
        },
        {
          "target": "com.remote.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/benefit-renewal-requests",
          "code": 200
        },
        "smithy.api#documentation": "List Benefit Renewal Requests\n\nList Benefit Renewal Requests for each country.\n\n## Scopes"
      }
    },
    "com.remote.api#GetV1BenefitRenewalRequestsBenefitRenewalRequestIdRequest": {
      "type": "structure",
      "members": {
        "benefit_renewal_request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Benefit Renewal Request Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.remote.api#BenefitRenewalRequestsBenefitRenewalRequestResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.remote.api#BenefitRenewalRequestsBenefitRenewalRequestResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Benefit Renewal Request Response"
      }
    },
    "com.remote.api#BenefitRenewalRequestsBenefitRenewalRequestResponseData": {
      "type": "structure",
      "members": {
        "benefit_renewal_request": {
          "target": "com.remote.api#BenefitRenewalRequestsBenefitRenewalRequest",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#GetV1BenefitRenewalRequestsBenefitRenewalRequestId": {
      "type": "operation",
      "input": {
        "target": "com.remote.api#GetV1BenefitRenewalRequestsBenefitRenewalRequestIdRequest"
      },
      "output": {
        "target": "com.remote.api#BenefitRenewalRequestsBenefitRenewalRequestResponse"
      },
      "errors": [
        {
          "target": "com.remote.api#NotFound"
        },
        {
          "target": "com.remote.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/benefit-renewal-requests/{benefit_renewal_request_id}",
          "code": 200
        },
        "smithy.api#documentation": "Show Benefit Renewal Request\n\nShow Benefit Renewal Request details.\n\n## Scopes"
      }
    },
    "com.remote.api#PostV1BenefitRenewalRequestsBenefitRenewalRequestIdRequestJsonSchemaVersionCase1": {
      "type": "enum",
      "members": {
        "LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use latest version"
      }
    },
    "com.remote.api#PostV1BenefitRenewalRequestsBenefitRenewalRequestIdRequestJsonSchemaVersion": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "com.remote.api#PostV1BenefitRenewalRequestsBenefitRenewalRequestIdRequestJsonSchemaVersionCase1"
        }
      },
      "traits": {}
    },
    "com.remote.api#PostV1BenefitRenewalRequestsBenefitRenewalRequestIdRequest": {
      "type": "structure",
      "members": {
        "benefit_renewal_request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Benefit Renewal Request Id"
          }
        },
        "json_schema_version": {
          "target": "com.remote.api#PostV1BenefitRenewalRequestsBenefitRenewalRequestIdRequestJsonSchemaVersion",
          "traits": {
            "smithy.api#httpQuery": "json_schema_version",
            "smithy.api#documentation": "Version of the form schema"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.remote.api#SuccessResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.remote.api#SuccessResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A generic success response returned by operations that don't produce a specific resource (e.g., updates, deletes)."
      }
    },
    "com.remote.api#SuccessResponseData": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The result status. Always `\"ok\"` for successful operations."
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#PostV1BenefitRenewalRequestsBenefitRenewalRequestId": {
      "type": "operation",
      "input": {
        "target": "com.remote.api#PostV1BenefitRenewalRequestsBenefitRenewalRequestIdRequest"
      },
      "output": {
        "target": "com.remote.api#SuccessResponse"
      },
      "errors": [
        {
          "target": "com.remote.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/benefit-renewal-requests/{benefit_renewal_request_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a Benefit Renewal Request Response\n\nUpdates a Benefit Renewal Request with the given response.\n\n## Scopes"
      }
    },
    "com.remote.api#GetV1BenefitRenewalRequestsBenefitRenewalRequestIdSchemaRequestJsonSchemaVersionCase1": {
      "type": "enum",
      "members": {
        "LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use latest version"
      }
    },
    "com.remote.api#GetV1BenefitRenewalRequestsBenefitRenewalRequestIdSchemaRequestJsonSchemaVersion": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "com.remote.api#GetV1BenefitRenewalRequestsBenefitRenewalRequestIdSchemaRequestJsonSchemaVersionCase1"
        }
      },
      "traits": {}
    },
    "com.remote.api#GetV1BenefitRenewalRequestsBenefitRenewalRequestIdSchemaRequest": {
      "type": "structure",
      "members": {
        "benefit_renewal_request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Benefit Renewal Request Id"
          }
        },
        "json_schema_version": {
          "target": "com.remote.api#GetV1BenefitRenewalRequestsBenefitRenewalRequestIdSchemaRequestJsonSchemaVersion",
          "traits": {
            "smithy.api#httpQuery": "json_schema_version",
            "smithy.api#documentation": "Version of the form schema"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.remote.api#BenefitRenewalRequestsBenefitRenewalRequestFormResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#documentation": "Benefit Renewal Request Form Response, an object with required and optional fields, its descriptions and suggested presentation.\n"
      }
    },
    "com.remote.api#GetV1BenefitRenewalRequestsBenefitRenewalRequestIdSchema": {
      "type": "operation",
      "input": {
        "target": "com.remote.api#GetV1BenefitRenewalRequestsBenefitRenewalRequestIdSchemaRequest"
      },
      "output": {
        "target": "com.remote.api#BenefitRenewalRequestsBenefitRenewalRequestFormResponse"
      },
      "errors": [
        {
          "target": "com.remote.api#NotFound"
        },
        {
          "target": "com.remote.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/benefit-renewal-requests/{benefit_renewal_request_id}/schema",
          "code": 200
        },
        "smithy.api#documentation": "Show benefit renewal request schema\n\nReturns the json schema of the `benefit_renewal_request` form for a specific request.\nThis endpoint requires a company access token, as forms are dependent on certain\nproperties of companies and their current employments.\n\n\n## Scopes"
      }
    },
    "com.remote.api#GetV1BillingDocumentsRequest": {
      "type": "structure",
      "members": {
        "period": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "period",
            "smithy.api#documentation": "The month for the billing documents (in ISO-8601 format)"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Starts fetching records after the given page"
          }
        },
        "page_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page_size",
            "smithy.api#documentation": "Number of items per page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.remote.api#BillingDocumentsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.remote.api#BillingDocumentsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a list of billing documents"
      }
    },
    "com.remote.api#BillingDocumentsResponseDataBillingDocumentsItemBillingDocumentType": {
      "type": "enum",
      "members": {
        "RECONCILIATION_INVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reconciliation_invoice"
          }
        },
        "PREFUNDING_INVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prefunding_invoice"
          }
        },
        "SUPPLEMENTAL_SERVICE_INVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "supplemental_service_invoice"
          }
        },
        "RECONCILIATION_CREDIT_NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reconciliation_credit_note"
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#BillingDocumentsResponseDataBillingDocumentsItem": {
      "type": "structure",
      "members": {
        "bill_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity issuing the billing document. Null if not applicable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_document_period": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing period in YYYY-MM format."
          }
        },
        "billing_document_type": {
          "target": "com.remote.api#BillingDocumentsResponseDataBillingDocumentsItemBillingDocumentType"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the billing document."
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#BillingDocumentsResponseDataBillingDocumentsList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#BillingDocumentsResponseDataBillingDocumentsItem"
      },
      "traits": {}
    },
    "com.remote.api#BillingDocumentsResponseData": {
      "type": "structure",
      "members": {
        "billing_documents": {
          "target": "com.remote.api#BillingDocumentsResponseDataBillingDocumentsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current page among all of the total_pages",
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of records returned counting all pages",
            "smithy.api#required": {}
          }
        },
        "total_pages": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of pages the user can go through",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#GetV1BillingDocuments": {
      "type": "operation",
      "input": {
        "target": "com.remote.api#GetV1BillingDocumentsRequest"
      },
      "output": {
        "target": "com.remote.api#BillingDocumentsResponse"
      },
      "errors": [
        {
          "target": "com.remote.api#NotFound"
        },
        {
          "target": "com.remote.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/billing-documents",
          "code": 200
        },
        "smithy.api#documentation": "List Billing Documents\n\nList billing documents for a company\n\n## Scopes"
      }
    },
    "com.remote.api#GetV1BillingDocumentsBillingDocumentIdRequest": {
      "type": "structure",
      "members": {
        "billing_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The billing document's ID"
          }
        },
        "include_unrecognized_types": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_unrecognized_types",
            "smithy.api#documentation": "When true, includes billing document items whose type is not part of the standard set for the invoice type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.remote.api#BillingDocumentResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.remote.api#BillingDocumentResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of a billing document"
      }
    },
    "com.remote.api#BillingDocument": {
      "type": "structure",
      "members": {
        "billing_document_currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO 4217 currency code of the billing document.",
            "smithy.api#required": {}
          }
        },
        "billing_document_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable document number (e.g., invoice number).",
            "smithy.api#required": {}
          }
        },
        "billing_document_period": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing period this document covers, in YYYY-MM format.",
            "smithy.api#required": {}
          }
        },
        "billing_document_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of billing document.\n\n- `reconciliation_invoice`: A regular invoice reconciling payroll costs for the period.\n- `prefunding_invoice`: An invoice for advance funding of payroll before it is processed.\n- `supplemental_service_invoice`: An invoice for additional services beyond standard payroll.\n- `reconciliation_credit_note`: A credit note adjusting a previous reconciliation invoice.\n",
            "smithy.api#required": {}
          }
        },
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the company this billing document belongs to.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the billing document.",
            "smithy.api#required": {}
          }
        },
        "issued_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the billing document was issued (ISO 8601 date format).",
            "smithy.api#required": {}
          }
        },
        "items": {
          "target": "com.remote.api#BillingDocumentItemsList",
          "traits": {
            "smithy.api#documentation": "The line items that make up this billing document.",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total amount of the billing document, in cents.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A billing document (invoice or credit note) issued to a company by Remote for employment management services."
      }
    },
    "com.remote.api#BillingDocumentAmountItem": {
      "type": "structure",
      "members": {
        "billing_document_amount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount for this line item in the billing document currency, in cents.",
            "smithy.api#required": {}
          }
        },
        "billing_document_currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO 4217 currency code of the billing document.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "employment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (UUID) of the employment this line item relates to. Null for company-level charges.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_amount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The original amount in the source (local) currency, in cents. May differ from billing_document_amount due to currency conversion."
          }
        },
        "source_currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO 4217 currency code of the source (local) currency. Null if same as billing document currency.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cost category for this line item (e.g., \"base_salary\", \"allowances\", \"bonuses\", \"deductions\", \"taxes\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A line item on a billing document, representing a specific cost category (e.g., base salary, allowances, taxes) for an employment."
      }
    },
    "com.remote.api#BillingDocumentItemsList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#BillingDocumentAmountItem"
      },
      "traits": {
        "smithy.api#documentation": "The line items that make up this billing document."
      }
    },
    "com.remote.api#BillingDocumentResponseData": {
      "type": "structure",
      "members": {
        "billing_document": {
          "target": "com.remote.api#BillingDocument",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#GetV1BillingDocumentsBillingDocumentId": {
      "type": "operation",
      "input": {
        "target": "com.remote.api#GetV1BillingDocumentsBillingDocumentIdRequest"
      },
      "output": {
        "target": "com.remote.api#BillingDocumentResponse"
      },
      "errors": [
        {
          "target": "com.remote.api#BadRequest"
        },
        {
          "target": "com.remote.api#NotFound"
        },
        {
          "target": "com.remote.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/billing-documents/{billing_document_id}",
          "code": 200
        },
        "smithy.api#documentation": "Show Billing Document\n\nShows a billing document details.\n\nPlease contact api-support@remote.com to request access to this endpoint.\n\n\n## Scopes"
      }
    },
    "com.remote.api#GetV1BillingDocumentsBillingDocumentIdBreakdownRequest": {
      "type": "structure",
      "members": {
        "billing_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The billing document's ID"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Filters the results by the type of the billing breakdown item. Matched exactly against the `type` field of\nthe returned items, so unrecognised values yield an empty list. Card spend is reported as `Card expenses`,\nseparately from payroll-reimbursed `Expenses`.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.remote.api#BillingDocumentBreakdownResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.remote.api#BillingDocumentBreakdownResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a billing document breakdown"
      }
    },
    "com.remote.api#BillingDocumentBreakdownItem": {
      "type": "structure",
      "members": {
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country code according to ISO 3166-1 3-digit alphabetic codes. May be null for legal-entity-wide lines.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of this cost item.",
            "smithy.api#required": {}
          }
        },
        "employment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier in UUID v4 format for the employment this cost belongs to. May be null for legal-entity-wide lines that apply to the whole legal entity rather than a single employment.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fx_rate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The foreign exchange rate applied to convert from the source currency to the invoice currency.",
            "smithy.api#required": {}
          }
        },
        "invoice_amount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Invoice amount in cents",
            "smithy.api#required": {}
          }
        },
        "invoice_currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "invoice_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The invoice number associated with this breakdown item.",
            "smithy.api#required": {}
          }
        },
        "invoice_period": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The invoice period in YYYY-MM format.",
            "smithy.api#required": {}
          }
        },
        "source_amount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Source amount in cents",
            "smithy.api#required": {}
          }
        },
        "source_currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cost category (e.g., \"Base Salary\", \"Employer Contributions\", \"Benefits\").",
            "smithy.api#required": {}
          }
        },
        "variance_from_invoice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable note about any variance between the breakdown amount and the invoiced amount, typically due to FX rounding.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "variance_from_invoice_amount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Variance from invoice amount in cents",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Item in a billing document breakdown"
      }
    },
    "com.remote.api#BillingDocumentBreakdownResponseDataBillingDocumentBreakdownList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#BillingDocumentBreakdownItem"
      },
      "traits": {}
    },
    "com.remote.api#BillingDocumentBreakdownResponseData": {
      "type": "structure",
      "members": {
        "billing_document_breakdown": {
          "target": "com.remote.api#BillingDocumentBreakdownResponseDataBillingDocumentBreakdownList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#GetV1BillingDocumentsBillingDocumentIdBreakdown": {
      "type": "operation",
      "input": {
        "target": "com.remote.api#GetV1BillingDocumentsBillingDocumentIdBreakdownRequest"
      },
      "output": {
        "target": "com.remote.api#BillingDocumentBreakdownResponse"
      },
      "errors": [
        {
          "target": "com.remote.api#BadRequest"
        },
        {
          "target": "com.remote.api#NotFound"
        },
        {
          "target": "com.remote.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/billing-documents/{billing_document_id}/breakdown",
          "code": 200
        },
        "smithy.api#documentation": "Get Billing Document Breakdown\n\nGet billing document breakdown\n\n## Scopes"
      }
    },
    "com.remote.api#GetV1BillingDocumentsBillingDocumentIdPdfRequest": {
      "type": "structure",
      "members": {
        "billing_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The billing document's ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.remote.api#GetV1BillingDocumentsBillingDocumentIdPdfResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.remote.api#GetV1BillingDocumentsBillingDocumentIdPdf": {
      "type": "operation",
      "input": {
        "target": "com.remote.api#GetV1BillingDocumentsBillingDocumentIdPdfRequest"
      },
      "output": {
        "target": "com.remote.api#GetV1BillingDocumentsBillingDocumentIdPdfResponse"
      },
      "errors": [
        {
          "target": "com.remote.api#NotFound"
        },
        {
          "target": "com.remote.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/billing-documents/{billing_document_id}/pdf",
          "code": 200
        },
        "smithy.api#documentation": "Download a billing document PDF\n\nDownloads a billing document PDF\n\n## Scopes"
      }
    },
    "com.remote.api#BulkEmploymentEmployeePayload": {
      "type": "structure",
      "members": {
        "activate_global_payroll": {
          "target": "smithy.api#Boolean"
        },
        "send_invitation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Per-employee override for onboarding invitations. Takes precedence over the batch-level `send_invitation` value when present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Employee payload. The nested fields must match the employment schema for the selected country. `activate_global_payroll` is currently supported only for Serbia (SRB) and is controlled by the `bulk_gp_product_activation` feature flag."
      }
    },
    "com.remote.api#PostV1BulkEmploymentJobsRequestEmployeesList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#BulkEmploymentEmployeePayload"
      },
      "traits": {}
    },
    "com.remote.api#PostV1BulkEmploymentJobsRequest": {
      "type": "structure",
      "members": {
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "employees": {
          "target": "com.remote.api#PostV1BulkEmploymentJobsRequestEmployeesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "send_invitation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Batch default for onboarding invitations. Each employee can override it with their own `send_invitation` value. Defaults to `false` when omitted."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.remote.api#PostV1BulkEmploymentJobs": {
      "type": "operation",
      "input": {
        "target": "com.remote.api#PostV1BulkEmploymentJobsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.remote.api#BadRequest"
        },
        {
          "target": "com.remote.api#Forbidden"
        },
        {
          "target": "com.remote.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/bulk-employment-jobs",
          "code": 200
        },
        "smithy.api#documentation": "Create bulk employment job\n\nCreates a job to bulk-create employments for multiple employees at once. Each employee payload must match the employment schema for the selected country.\n\n## Scopes"
      }
    },
    "com.remote.api#GetV1BulkEmploymentJobsJobIdRequest": {
      "type": "structure",
      "members": {
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Bulk employment job id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.remote.api#BulkEmploymentImportJobResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.remote.api#BulkEmploymentImportJob",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#BulkEmploymentImportJob": {
      "type": "structure",
      "members": {
        "column_mapping": {
          "target": "com.remote.api#BulkEmploymentImportJobColumnMapping",
          "traits": {
            "smithy.api#documentation": "The column mapping for the import job. For times when imported data columns do not match the schema fields and\nneed to be manually mapped to the correct schema fields.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name to be displayed for the user interface"
          }
        },
        "errors": {
          "target": "com.remote.api#BulkEmploymentImportJobErrorsList"
        },
        "failed_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows that failed to be processed",
            "smithy.api#required": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "imported_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows that have been imported in previous submission stages"
          }
        },
        "inserted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "inserted_by": {
          "target": "com.remote.api#BulkEmploymentImportJobInsertedBy",
          "traits": {
            "smithy.api#documentation": "Someone registered in Remote using a unique email address.",
            "smithy.api#required": {}
          }
        },
        "legal_entity": {
          "target": "com.remote.api#BulkEmploymentImportJobLegalEntity",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The metadata for the import job",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "processed_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of processed rows, regardless of success or failure",
            "smithy.api#required": {}
          }
        },
        "stage": {
          "target": "com.remote.api#BulkEmploymentImportJobStage",
          "traits": {
            "smithy.api#documentation": "  The stage of the import job.\n  * `creation` - The import job is in the creation stage, which means the rows are being created.\n  * `column_mapping` - The import job is in the column mapping stage, which means the CSV headers are being mapped to JSON schema fields.\n  * `validation` - The import job is in the validation stage, which means the rows are being validated.\n  * `submission` - The import job is in the submission stage, which means the rows are being submitted.\n",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.remote.api#BulkEmploymentImportJobStatus",
          "traits": {
            "smithy.api#documentation": "  * `draft` - **Deprecated**, the import job data has been uploaded and the job created, but not yet started\n  * `uploaded` - **Deprecated**, replaced by the `draft` status\n  * `in_progress` - Data is actively being imported\n  * `finished` - The import job has finished processing\n  * `failed` - The import job has failed completely, nothing has been imported\n",
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of rows to import",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#BulkEmploymentImportJobColumnMappingAutoMappedColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The column names that have been automatically mapped by Tiger (rawr!) and maybe also by AI."
      }
    },
    "com.remote.api#BulkEmploymentImportJobColumnMappingSourceColumnsItem": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the data column in the file",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the data column",
            "smithy.api#required": {}
          }
        },
        "sample_data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A sample data value from the data column",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#BulkEmploymentImportJobColumnMappingSourceColumnsList": {
      "type": "list",
      "member": {
        "target": "com.remote.api#BulkEmploymentImportJobColumnMappingSourceColumnsItem"
      },
      "traits": {
        "smithy.api#documentation": "The data columns to map to"
      }
    },
    "com.remote.api#BulkEmploymentImportJobColumnMapping": {
      "type": "structure",
      "members": {
        "auto_mapped_columns": {
          "target": "com.remote.api#BulkEmploymentImportJobColumnMappingAutoMappedColumnsList",
          "traits": {
            "smithy.api#documentation": "The column names that have been automatically mapped by Tiger (rawr!) and maybe also by AI."
          }
        },
        "mapping": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The map of schema fields paths to data columns",
            "smithy.api#required": {}
          }
        },
        "source_columns": {
          "target": "com.remote.api#BulkEmploymentImportJobColumnMappingSourceColumnsList",
          "traits": {
            "smithy.api#documentation": "The data columns to map to",
            "smithy.api#required": {}
          }
        },
        "unmapped_column_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of columns that have not been mapped",
            "smithy.api#required": {}
          }
        },
        "unmapped_required_field_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of required schema field paths that have not been mapped",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The column mapping for the import job. For times when imported data columns do not match the schema fields and\nneed to be manually mapped to the correct schema fields.\n"
      }
    },
    "com.remote.api#BulkEmploymentImportJobErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.remote.api#MinimalUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email used for authentication. It may be hidden in case no permission is given to see sensible data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "personal_details": {
          "target": "com.remote.api#PersonalDetails",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "profile_picture": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.remote.api#MinimalUserStatus"
        }
      },
      "traits": {}
    },
    "com.remote.api#PersonalDetails": {
      "type": "structure",
      "members": {
        "birthdate": {
          "target": "smithy.api#String"
        },
        "full_preferred_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gender": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gender_description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "given_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_us_person": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mobile_number": {
          "target": "smithy.api#String"
        },
        "nationality": {
          "target": "com.remote.api#PersonalDetailsNationalityList"
        },
        "preferred_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "preferred_pronouns": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "recovery_number": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redacted_fields": {
          "target": "com.remote.api#PersonalDetailsRedactedFieldsList",
          "traits": {
            "smithy.api#documentation": "Names of fields redacted because the caller lacks the required attribute permission"
          }
        },
        "sex": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "surname": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "com.remote.api#PersonalDetailsTitle",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Personal details for a user, includes sensitive information"
      }
    },
    "com.remote.api#PersonalDetailsNationalityList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.remote.api#PersonalDetailsRedactedFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Names of fields redacted because the caller lacks the required attribute permission"
      }
    },
    "com.remote.api#PersonalDetailsTitle": {
      "type": "enum",
      "members": {
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mr"
          }
        },
        "MRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mrs"
          }
        },
        "MISS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "miss"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ms"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mx"
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#MinimalUserStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "INITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initiated"
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#AccountsAccount": {
      "type": "structure",
      "members": {
        "login_email": {
          "target": "com.remote.api#Email",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login_synced_with": {
          "target": "com.remote.api#AccountsLoginSyncedWith",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "personal_email": {
          "target": "com.remote.api#AccountsAccountPersonalEmail",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.remote.api#AccountsAccountStatus"
        }
      },
      "traits": {
        "smithy.api#documentation": "An Account"
      }
    },
    "com.remote.api#Email": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "confirmed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login_synced": {
          "target": "smithy.api#Boolean"
        },
        "status": {
          "target": "com.remote.api#EmailStatus"
        },
        "type": {
          "target": "com.remote.api#EmailType"
        },
        "unconfirmed_address": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#EmailStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "CONFIRMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "confirmed"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#EmailType": {
      "type": "enum",
      "members": {
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "login"
          }
        },
        "PERSONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personal"
          }
        },
        "WORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "work"
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#AccountsLoginSyncedWith": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "PERSONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personal"
          }
        },
        "WORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "work"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates which email type the account login is synchronized with."
      }
    },
    "com.remote.api#AccountsAccountPersonalEmail": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Email": {
          "target": "com.remote.api#Email"
        }
      },
      "traits": {}
    },
    "com.remote.api#AccountsAccountStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "locked"
          }
        }
      },
      "traits": {}
    },
    "com.remote.api#AccountsAssignedRoles": {
      "type": "list",
      "member": {
        "target": "com.remote.api#AccountsAssignedRolesItem"
      },
      "traits": {}
    },
    "com.remote.api#AccountsAssignedRolesItemDataScope": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "EMPLOYMENT_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employment_entities"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        },
        "RPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rps"
          }
        },
        "SECONDARY_REPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary_reports"
          }
        },
        "DIRECT_REPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct_reports"
          }
        },
        "ASSIGNED_BILLING_LEGAL_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assigned_billing_legal_entities"
          }
        },
        "EMPLOYMENT_COUNTRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employment_countries"
          }
        },
        "EMPLOYMENT_DEPARTMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employment_departments"
          }
        },
        "DIRECT_AND_INDIRECT_REPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct_and_indirect_reports"
          }
        },
        "EMPLOYMENT_COMPANY_STRUCTURE_NODES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employment_company_structure_nodes"
[...]
