{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.porkbun.api#PingGetResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "yourIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The caller's public IP address",
            "smithy.api#required": {}
          }
        },
        "xForwardedFor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw value of the X-Forwarded-For header"
          }
        },
        "credentialsValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Present and true when valid credentials were supplied"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#PingGet": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.porkbun.api#PingGetResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ping",
          "code": 200
        },
        "smithy.api#documentation": "Test credentials and get caller IP\n\nReturns the caller's public IP address. Optionally validates API credentials.\n\n- **No credentials supplied** — returns IP only.\n- **Valid credentials supplied** — returns IP with `credentialsValid: true`.\n- **Invalid credentials supplied** — returns an error.\n\nUseful for agents and clients to verify their API key is working before making other calls."
      }
    },
    "com.porkbun.api#PingResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "yourIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The caller's public IP address",
            "smithy.api#required": {}
          }
        },
        "xForwardedFor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw value of the X-Forwarded-For header"
          }
        },
        "credentialsValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Present and true when valid credentials were supplied"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#Ping": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.porkbun.api#PingResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ping",
          "code": 200
        },
        "smithy.api#documentation": "Test credentials and get caller IP\n\nReturns the caller's public IP address. Optionally validates API credentials.\n\n- **No credentials supplied** — returns IP only.\n- **Valid credentials supplied** — returns IP with `credentialsValid: true`.\n- **Invalid credentials supplied** — returns an error.\n\nUseful for agents and clients to verify their API key is working before making other calls."
      }
    },
    "com.porkbun.api#IpResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "yourIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The caller's public IP address",
            "smithy.api#required": {}
          }
        },
        "xForwardedFor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw value of the X-Forwarded-For header"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetIp": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.porkbun.api#IpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ip",
          "code": 200
        },
        "smithy.api#documentation": "Get caller IP address\n\nReturns the caller's public IP address. No credentials required. Use the `api-ipv4.porkbun.com` hostname if you need to force an IPv4 address."
      }
    },
    "com.porkbun.api#IpPost": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.porkbun.api#IpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ip",
          "code": 200
        },
        "smithy.api#documentation": "Get caller IP address\n\nReturns the caller's public IP address. No credentials required. Use the `api-ipv4.porkbun.com` hostname if you need to force an IPv4 address."
      }
    },
    "com.porkbun.api#GetPricingGetResponsePricingValueCouponsValueFirstYearOnly": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingGetResponsePricingValueCouponsValue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String"
        },
        "max_per_user": {
          "target": "smithy.api#Integer"
        },
        "first_year_only": {
          "target": "com.porkbun.api#GetPricingGetResponsePricingValueCouponsValueFirstYearOnly"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "amount": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingGetResponsePricingValueCouponsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.porkbun.api#GetPricingGetResponsePricingValueCouponsValue"
      },
      "traits": {
        "smithy.api#documentation": "Active coupon codes for this TLD, keyed by product type"
      }
    },
    "com.porkbun.api#GetPricingGetResponsePricingValue": {
      "type": "structure",
      "members": {
        "registration": {
          "target": "smithy.api#String"
        },
        "renewal": {
          "target": "smithy.api#String"
        },
        "transfer": {
          "target": "smithy.api#String"
        },
        "specialType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present only for special TLDs (e.g. 'handshake')"
          }
        },
        "coupons": {
          "target": "com.porkbun.api#GetPricingGetResponsePricingValueCouponsMap",
          "traits": {
            "smithy.api#documentation": "Active coupon codes for this TLD, keyed by product type"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingGetResponsePricingMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.porkbun.api#GetPricingGetResponsePricingValue"
      },
      "traits": {
        "smithy.api#documentation": "Object keyed by TLD string"
      }
    },
    "com.porkbun.api#GetPricingGetResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "pricing": {
          "target": "com.porkbun.api#GetPricingGetResponsePricingMap",
          "traits": {
            "smithy.api#documentation": "Object keyed by TLD string"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#GetPricingGet": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.porkbun.api#GetPricingGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/pricing/get",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve domain pricing (public)\n\nRetrieve default domain pricing information for all supported TLDs. Does not require authentication. Prices are in US dollars.\n\nThis GET form returns pricing for all TLDs. To filter by specific TLDs, use `POST /pricing/get` with a `tlds` array in the request body."
      }
    },
    "com.porkbun.api#GetPricingRequestTldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional array of TLDs to filter results. If omitted, all supported TLDs are returned."
      }
    },
    "com.porkbun.api#GetPricingRequest": {
      "type": "structure",
      "members": {
        "tlds": {
          "target": "com.porkbun.api#GetPricingRequestTldsList",
          "traits": {
            "smithy.api#documentation": "Optional array of TLDs to filter results. If omitted, all supported TLDs are returned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#GetPricingResponsePricingValueCouponsValueFirstYearOnly": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingResponsePricingValueCouponsValue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String"
        },
        "max_per_user": {
          "target": "smithy.api#Integer"
        },
        "first_year_only": {
          "target": "com.porkbun.api#GetPricingResponsePricingValueCouponsValueFirstYearOnly"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "amount": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingResponsePricingValueCouponsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.porkbun.api#GetPricingResponsePricingValueCouponsValue"
      },
      "traits": {
        "smithy.api#documentation": "Active coupon codes for this TLD, keyed by product type"
      }
    },
    "com.porkbun.api#GetPricingResponsePricingValue": {
      "type": "structure",
      "members": {
        "registration": {
          "target": "smithy.api#String"
        },
        "renewal": {
          "target": "smithy.api#String"
        },
        "transfer": {
          "target": "smithy.api#String"
        },
        "specialType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present only for special TLDs (e.g. 'handshake')"
          }
        },
        "coupons": {
          "target": "com.porkbun.api#GetPricingResponsePricingValueCouponsMap",
          "traits": {
            "smithy.api#documentation": "Active coupon codes for this TLD, keyed by product type"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingResponsePricingMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.porkbun.api#GetPricingResponsePricingValue"
      },
      "traits": {
        "smithy.api#documentation": "Object keyed by TLD string"
      }
    },
    "com.porkbun.api#GetPricingResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "pricing": {
          "target": "com.porkbun.api#GetPricingResponsePricingMap",
          "traits": {
            "smithy.api#documentation": "Object keyed by TLD string"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#GetPricing": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#GetPricingRequest"
      },
      "output": {
        "target": "com.porkbun.api#GetPricingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pricing/get",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve domain pricing (public)\n\nRetrieve default domain pricing information for all supported TLDs. Does not require authentication. Prices are in US dollars."
      }
    },
    "com.porkbun.api#ApikeyRequestRequestCodeChallengeMethod": {
      "type": "enum",
      "members": {
        "S256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S256"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PKCE challenge method. Only S256 is supported."
      }
    },
    "com.porkbun.api#ApikeyRequestRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the application/integration requesting access. Optional but strongly recommended: it is shown to the account holder on the approval screen so they know what they're granting access to. If omitted, the approval page shows \"No application name was provided.\""
          }
        },
        "codeChallenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional PKCE (RFC 7636) binding. base64url(SHA-256(codeVerifier)), 43 unpadded chars. When present, the request uses lazy-mint delivery: after approval the account holder copies nothing, and /apikey/retrieve returns BOTH the public and secret keys once to the caller that presents the matching codeVerifier. Omit for the legacy flow (secret shown only in the browser)."
          }
        },
        "codeChallengeMethod": {
          "target": "com.porkbun.api#ApikeyRequestRequestCodeChallengeMethod",
          "traits": {
            "smithy.api#documentation": "PKCE challenge method. Only S256 is supported."
          }
        },
        "sandbox": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, skip the approval flow and immediately return a throwaway SANDBOX key pair (public `pk1_sb_`, secret `sk1_sb_`) for a fresh test account seeded with $1000 fake credit. Use it as apikey/secretapikey against the same base URL to run the whole API in the isolated sandbox — no real registry actions, DNS changes, or charges. Rate-limited (20/IP/hour)."
          }
        },
        "returnUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional app-return redirect for native/mobile apps. Requires codeChallenge (PKCE). Must be an HTTPS URL your app claims as a Universal Link / App Link (custom URI schemes are rejected — another app could hijack them). After the account holder approves in the system browser, Porkbun redirects here with `?status=approved&requestToken=<token>` (or `status=denied`) so control returns to your app; it then calls /apikey/retrieve with its codeVerifier to receive the keys. The key is NEVER placed in the redirect — only the request token and status."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#ApikeyRequestResponseDeliveryMode": {
      "type": "enum",
      "members": {
        "LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy"
          }
        },
        "PKCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkce"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which delivery flow this request uses. 'pkce' when a codeChallenge was supplied (the secret is returned once via /apikey/retrieve to the verifier holder); 'legacy' otherwise (the secret is shown only in the browser)."
      }
    },
    "com.porkbun.api#ApikeyRequestResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "requestToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to poll `/apikey/retrieve` to check approval status.",
            "smithy.api#required": {}
          }
        },
        "authUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL the account holder must visit to approve the request"
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO datetime when this request expires (30 minutes from creation)"
          }
        },
        "deliveryMode": {
          "target": "com.porkbun.api#ApikeyRequestResponseDeliveryMode",
          "traits": {
            "smithy.api#documentation": "Which delivery flow this request uses. 'pkce' when a codeChallenge was supplied (the secret is returned once via /apikey/retrieve to the verifier holder); 'legacy' otherwise (the secret is shown only in the browser)."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable instructions"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#ApikeyRequest": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#ApikeyRequestRequest"
      },
      "output": {
        "target": "com.porkbun.api#ApikeyRequestResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apikey/request",
          "code": 200
        },
        "smithy.api#documentation": "Initiate an API key authorization request\n\nInitiate an API key authorization flow. No credentials are required. Returns a `requestToken` and `authUrl` that the account holder must visit (while logged in to Porkbun in that browser) to approve the request. The `authUrl` is valid for **30 minutes** (long enough for a brand-new user to create an account and verify their email); if it lapses, call this endpoint again for a fresh token. After approval, call `/apikey/retrieve` to get the public API key. By default (legacy flow) the secret API key is shown only once, in the user's browser, and must be pasted into the application manually. To let an agent receive the secret without a browser copy, supply a PKCE `codeChallenge` (see the parameter below): the key is then minted lazily and BOTH keys are returned once from `/apikey/retrieve` to the caller presenting the matching `codeVerifier`.\n\n**Rate limit:** 20 requests per IP per 3600 seconds.\n\nSANDBOX: pass `sandbox: true` to skip approval and get a sandbox key pair back immediately (both `apikey` and `secretapikey` in the response, plus `sandbox: true`)."
      }
    },
    "com.porkbun.api#ApikeyRetrieveRequest": {
      "type": "structure",
      "members": {
        "requestToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token returned by /apikey/request. Must be a 64-character lowercase hex string.",
            "smithy.api#required": {}
          }
        },
        "codeVerifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PKCE verifier (RFC 7636). Required only when the request was created with a codeChallenge. The high-entropy secret whose base64url(SHA-256(codeVerifier)) equals that challenge. When it matches, this response includes the secret key (secretapikey) once."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#ApikeyRetrieveResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#ApikeyRetrieveResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.porkbun.api#ApikeyRetrieveResponseStatus"
        },
        "apikey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approved public API key. Present only when status is SUCCESS.",
            "smithy.api#sensitive": {}
          }
        },
        "secretapikey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret API key. Returned ONLY for a PKCE request, exactly once, on the retrieve that presents a valid codeVerifier. Never returned for legacy requests, and never again after the first successful claim (later calls return apikey only, with code SECRET_ALREADY_CLAIMED). Store it immediately."
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable error code. Present when status is ERROR."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#ApikeyRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#ApikeyRetrieveRequest"
      },
      "output": {
        "target": "com.porkbun.api#ApikeyRetrieveResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        },
        {
          "target": "com.porkbun.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apikey/retrieve",
          "code": 200
        },
        "smithy.api#documentation": "Poll for API key approval\n\nPoll to check whether the account holder has approved an API key authorization request. Returns `status: PENDING` while awaiting approval. On approval, returns the public API key. For a **PKCE** request (one created with a codeChallenge), pass the matching codeVerifier here to receive BOTH keys once (secretapikey is included in that single response and never again); the secret must be claimed within 10 minutes of approval or the request expires (`REQUEST_EXPIRED`) and a new one is needed. For a **legacy** request the secret API key is never transmitted via this endpoint — it is displayed in the user's browser and must be pasted into the application.\n\n**Rate limit:** 120 requests per IP per 3600 seconds."
      }
    },
    "com.porkbun.api#DomainCheckDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#CheckDomainResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.porkbun.api#CheckDomainResponseResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limits": {
          "target": "com.porkbun.api#CheckDomainResponseLimits",
          "traits": {
            "smithy.api#documentation": "Current rate limit usage for this account"
          }
        },
        "ttlRemaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds remaining until the rate limit window resets"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CheckDomainResponseResponseAvail": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the domain is available for registration"
      }
    },
    "com.porkbun.api#CheckDomainResponseResponseFirstYearPromo": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the returned price is a first-year promotional price"
      }
    },
    "com.porkbun.api#CheckDomainResponseResponsePremium": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether this is a premium domain"
      }
    },
    "com.porkbun.api#CheckDomainResponseResponseAdditionalRenewal": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "price": {
          "target": "smithy.api#String"
        },
        "regularPrice": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CheckDomainResponseResponseAdditionalTransfer": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "price": {
          "target": "smithy.api#String"
        },
        "regularPrice": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CheckDomainResponseResponseAdditional": {
      "type": "structure",
      "members": {
        "renewal": {
          "target": "com.porkbun.api#CheckDomainResponseResponseAdditionalRenewal"
        },
        "transfer": {
          "target": "com.porkbun.api#CheckDomainResponseResponseAdditionalTransfer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Renewal and transfer pricing for this domain"
      }
    },
    "com.porkbun.api#CheckDomainResponseResponse": {
      "type": "structure",
      "members": {
        "avail": {
          "target": "com.porkbun.api#CheckDomainResponseResponseAvail",
          "traits": {
            "smithy.api#documentation": "Whether the domain is available for registration"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The price type (always 'registration' for the primary price)"
          }
        },
        "price": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Registration price per year in USD"
          }
        },
        "firstYearPromo": {
          "target": "com.porkbun.api#CheckDomainResponseResponseFirstYearPromo",
          "traits": {
            "smithy.api#documentation": "Whether the returned price is a first-year promotional price"
          }
        },
        "regularPrice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Standard (non-promo) registration price in USD"
          }
        },
        "premium": {
          "target": "com.porkbun.api#CheckDomainResponseResponsePremium",
          "traits": {
            "smithy.api#documentation": "Whether this is a premium domain"
          }
        },
        "minDuration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum registration duration in years required by the registry"
          }
        },
        "additional": {
          "target": "com.porkbun.api#CheckDomainResponseResponseAdditional",
          "traits": {
            "smithy.api#documentation": "Renewal and transfer pricing for this domain"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CheckDomainResponseLimits": {
      "type": "structure",
      "members": {
        "TTL": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rate limit window in seconds"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum checks allowed in the window"
          }
        },
        "used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of checks used so far in the current window"
          }
        },
        "naturalLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable rate limit summary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current rate limit usage for this account"
      }
    },
    "com.porkbun.api#DomainCheckDomain": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#DomainCheckDomainRequest"
      },
      "output": {
        "target": "com.porkbun.api#CheckDomainResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/checkDomain/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Check domain availability\n\nCheck if a domain is available for registration and retrieve current pricing. Includes registration, renewal, and transfer prices.\n\n**Rate limit:** Configurable per API key. Default is 1 check per 10 seconds per account. Rate limit usage is returned in the `limits` field of the response."
      }
    },
    "com.porkbun.api#DomainCreateRequestAgreeToTerms": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Must be 'yes' or '1' to confirm agreement to the Domain Name Registration Agreement, Product Terms of Service, Privacy Policy, and automatic renewal terms."
      }
    },
    "com.porkbun.api#DomainCreateRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The registration cost in pennies (USD cents). Must exactly equal the total price for the domain at its minimum registration duration. Obtain this from /domain/checkDomain first.",
            "smithy.api#required": {}
          }
        },
        "agreeToTerms": {
          "target": "com.porkbun.api#DomainCreateRequestAgreeToTerms",
          "traits": {
            "smithy.api#documentation": "Must be 'yes' or '1' to confirm agreement to the Domain Name Registration Agreement, Product Terms of Service, Privacy Policy, and automatic renewal terms.",
            "smithy.api#required": {}
          }
        },
        "whoisPrivacy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Override WHOIS privacy for this registration. When omitted, the account-level default is used (set under Account Security Settings on porkbun.com/account — defaults to enabled). Pass `true` to force-enable privacy or `false` to register with public contact info. Strings `\"on\"`/`\"off\"`, `\"true\"`/`\"false\"`, `\"yes\"`/`\"no\"`, `\"1\"`/`\"0\"` are also accepted. Has no effect on TLDs that don't support WHOIS privacy (privacy stays off regardless)."
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, runs all pre-flight validation (availability, pricing, cost match, eligibility, funds, spend limit) and returns a preview with `dryRun: true` and `wouldSucceed` WITHOUT creating an order or charging. Nothing is registered and the rate-limit budget is not consumed. Use it to safely confirm an operation before committing."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#CreateDomainResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The registered domain name",
            "smithy.api#required": {}
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total amount charged in pennies"
          }
        },
        "orderId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Internal Porkbun order ID",
            "smithy.api#required": {}
          }
        },
        "limits": {
          "target": "com.porkbun.api#CreateDomainResponseLimits",
          "traits": {
            "smithy.api#documentation": "Current rate limit state for both attempt and success limits"
          }
        },
        "balance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Remaining account credit balance in pennies after the charge"
          }
        },
        "ttlRemaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds until the success rate limit window resets"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-request UUID (also in the X-Request-Id header). Present on every API response."
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CreateDomainResponseLimitsAttempts": {
      "type": "structure",
      "members": {
        "TTL": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Window in seconds"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max attempts allowed"
          }
        },
        "used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Attempts used"
          }
        },
        "naturalLanguage": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Create-attempt rate limit state"
      }
    },
    "com.porkbun.api#CreateDomainResponseLimitsSuccess": {
      "type": "structure",
      "members": {
        "TTL": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Window in seconds"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max successes allowed"
          }
        },
        "used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Successes used"
          }
        },
        "naturalLanguage": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Successful-registration rate limit state"
      }
    },
    "com.porkbun.api#CreateDomainResponseLimits": {
      "type": "structure",
      "members": {
        "attempts": {
          "target": "com.porkbun.api#CreateDomainResponseLimitsAttempts",
          "traits": {
            "smithy.api#documentation": "Create-attempt rate limit state"
          }
        },
        "success": {
          "target": "com.porkbun.api#CreateDomainResponseLimitsSuccess",
          "traits": {
            "smithy.api#documentation": "Successful-registration rate limit state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current rate limit state for both attempt and success limits"
      }
    },
    "com.porkbun.api#DryRunPreviewResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always true on a dry-run preview — distinguishes it from a real success response.",
            "smithy.api#required": {}
          }
        },
        "wouldSucceed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the operation would complete given current funds and spend-limit state. (Hard validation failures — unavailable, bad price, ineligible — return a normal error response instead of a preview.)",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "com.porkbun.api#DryRunPreviewResponseOperation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tld": {
          "target": "smithy.api#String"
        },
        "available": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Availability as reported by the registry check (e.g. `available` / `unavailable`)."
          }
        },
        "premium": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain is a premium/aftermarket name."
          }
        },
        "duration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Term in years that would be purchased."
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total cost in pennies that would be charged.",
            "smithy.api#required": {}
          }
        },
        "costDisplay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable cost."
          }
        },
        "balance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current account credit balance in pennies."
          }
        },
        "sufficientFunds": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the balance covers the cost."
          }
        },
        "monthlySpendLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The account's monthly API spend cap in pennies. Present only if a cap is configured."
          }
        },
        "monthlySpendSoFar": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "API spend so far this calendar month in pennies. Present only if a cap is configured."
          }
        },
        "withinMonthlySpendLimit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this cost stays within the monthly cap. Present only if a cap is configured."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable summary of the preview outcome."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-request UUID (also in the X-Request-Id header). Present on every API response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returned (HTTP 200) by /domain/create, /domain/renew, and /domain/transfer when the request includes `dryRun: true`. All validation has run but nothing was created or charged. All money amounts are in pennies (USD cents)."
      }
    },
    "com.porkbun.api#DryRunPreviewResponseOperation": {
      "type": "enum",
      "members": {
        "REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registration"
          }
        },
        "RENEWAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "renewal"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#DomainCreateResponseBody": {
      "type": "union",
      "members": {
        "CreateDomainResponse": {
          "target": "com.porkbun.api#CreateDomainResponse"
        },
        "DryRunPreviewResponse": {
          "target": "com.porkbun.api#DryRunPreviewResponse"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#DomainCreateResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.porkbun.api#DomainCreateResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#DomainCreate": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#DomainCreateRequest"
      },
      "output": {
        "target": "com.porkbun.api#DomainCreateResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/create/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Register a domain\n\nRegister a domain using account credit. Requirements:\n- Account email and phone must be verified\n- Account must have sufficient credit\n- `agreeToTerms` must be `'yes'` or `'1'`\n- `cost` must equal the current price for the domain's minimum registration duration (in pennies)\n- Account must have placed at least one previous domain registration\n- Premium domains cannot be registered via API\n\nRegistrations are always for the registry-minimum duration (usually 1 year).\n\n**WHOIS privacy.** WHOIS privacy is automatically enabled on new registrations (when the TLD supports it). Pass the optional `whoisPrivacy` field to override this on a per-registration basis, or change the account-level default under Account Security Settings on porkbun.com/account.\n\n**Rate limits (both apply):**\n- Attempt limit (default: 1 attempt per 10 seconds per account)\n- Success limit (default: 50 successful registrations per 86400 seconds per account)\n\nBoth limits are configurable per API key and their current values are returned in the `limits` field of the response.\n\n## Dry run\n\nAdd `dryRun: true` to validate everything and preview the cost WITHOUT registering or charging — nothing is created. Example response:\n\n```json\n{\n  \"status\": \"SUCCESS\",\n  \"dryRun\": true,\n  \"wouldSucceed\": true,\n  \"operation\": \"registration\",\n  \"domain\": \"example.com\",\n  \"tld\": \"com\",\n  \"available\": \"available\",\n  \"premium\": false,\n  \"duration\": 1,\n  \"cost\": 973,\n  \"costDisplay\": \"$9.73\",\n  \"balance\": 5000,\n  \"sufficientFunds\": true,\n  \"message\": \"Dry run: this registration would succeed and cost $9.73. No order was created and no charge was made.\",\n  \"requestId\": \"019e04fa-258d-7d11-aa86-4d5795c3fe8f\"\n}\n```"
      }
    },
    "com.porkbun.api#DomainRenewRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The renewal cost in pennies (USD cents). Must exactly equal the total price for the domain at its minimum renewal duration. Obtain this from /domain/checkDomain first.",
            "smithy.api#required": {}
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, runs all pre-flight validation and returns a preview with `dryRun: true` and `wouldSucceed` WITHOUT renewing or charging. Nothing changes and the rate-limit budget is not consumed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#RenewDomainResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The renewed domain name",
            "smithy.api#required": {}
          }
        },
        "expirationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new expiration date returned by the registry"
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total amount charged in pennies"
          }
        },
        "orderId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Internal Porkbun order ID",
            "smithy.api#required": {}
          }
        },
        "limits": {
          "target": "com.porkbun.api#RenewDomainResponseLimits",
          "traits": {
            "smithy.api#documentation": "Current rate limit state for both attempt and success limits"
          }
        },
        "balance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Remaining account credit balance in pennies after the charge"
          }
        },
        "ttlRemaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds until the success rate limit window resets"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-request UUID (also in the X-Request-Id header). Present on every API response."
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#RenewDomainResponseLimitsAttempts": {
      "type": "structure",
      "members": {
        "TTL": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Window in seconds"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max attempts allowed"
          }
        },
        "used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Attempts used"
          }
        },
        "naturalLanguage": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#RenewDomainResponseLimitsSuccess": {
      "type": "structure",
      "members": {
        "TTL": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Window in seconds"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max successes allowed"
          }
        },
        "used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Successes used"
          }
        },
        "naturalLanguage": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#RenewDomainResponseLimits": {
      "type": "structure",
      "members": {
        "attempts": {
          "target": "com.porkbun.api#RenewDomainResponseLimitsAttempts"
        },
        "success": {
          "target": "com.porkbun.api#RenewDomainResponseLimitsSuccess"
        }
      },
      "traits": {
        "smithy.api#documentation": "Current rate limit state for both attempt and success limits"
      }
    },
    "com.porkbun.api#DomainRenewResponseBody": {
      "type": "union",
      "members": {
        "RenewDomainResponse": {
          "target": "com.porkbun.api#RenewDomainResponse"
        },
        "DryRunPreviewResponse": {
          "target": "com.porkbun.api#DryRunPreviewResponse"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#DomainRenewResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.porkbun.api#DomainRenewResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#DomainRenew": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#DomainRenewRequest"
      },
      "output": {
        "target": "com.porkbun.api#DomainRenewResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/renew/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Renew a domain\n\nRenew a domain using account credit. Requirements:\n- Domain must be in your account and active\n- Domain must be opted in to API access\n- Account email and phone must be verified\n- Account must have sufficient credit\n- `cost` must equal the current renewal price for the domain's minimum renewal duration (in pennies)\n- Domain must have been registered more than 30 days ago (checked against the domain's creation date)\n- Domain must not have been successfully renewed within the last 30 days\n- Premium renewals are not currently supported via API\n\nRenewals are always for the registry-minimum duration (usually 1 year). Use `/domain/checkDomain/{domain}` with `priceType=renewal` to get the current price before renewing.\n\n**Rate limits (both apply):**\n- Attempt limit (default: 1 attempt per 10 seconds per account)\n- Success limit (default: 50 successful renewals per 86400 seconds per account)\n\nBoth limits are configurable per API key and their current values are returned in the `limits` field of the response.\n\n## Dry run\n\nAdd `dryRun: true` to validate everything and preview the cost WITHOUT renewing or charging — nothing is created. Example response:\n\n```json\n{\n  \"status\": \"SUCCESS\",\n  \"dryRun\": true,\n  \"wouldSucceed\": true,\n  \"operation\": \"renewal\",\n  \"domain\": \"example.com\",\n  \"tld\": \"com\",\n  \"available\": \"unavailable\",\n  \"premium\": false,\n  \"duration\": 1,\n  \"cost\": 1099,\n  \"costDisplay\": \"$10.99\",\n  \"balance\": 5000,\n  \"sufficientFunds\": true,\n  \"message\": \"Dry run: this renewal would succeed and cost $10.99. No order was created and no charge was made.\",\n  \"requestId\": \"019e04fa-3c11-7a02-9bd2-1f7c0e4a8b55\"\n}\n```"
      }
    },
    "com.porkbun.api#TransferDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The domain name to transfer (e.g. `example.com`)."
          }
        },
        "authCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The EPP auth code for the domain.",
            "smithy.api#required": {}
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The transfer cost in cents as returned by the pricing API. Must match exactly.",
            "smithy.api#required": {}
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, runs all pre-flight validation and returns a preview with `dryRun: true` and `wouldSucceed` WITHOUT initiating the transfer or charging. Nothing changes and the rate-limit budget is not consumed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#TransferDomainResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.porkbun.api#TransferDomainResponseStatus"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "orderId": {
          "target": "smithy.api#Integer"
        },
        "transferId": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "balance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Remaining account credit balance in cents."
          }
        },
        "ttlRemaining": {
          "target": "smithy.api#Integer"
        },
        "limits": {
          "target": "com.porkbun.api#TransferDomainResponseLimits"
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-request UUID (also in the X-Request-Id header). Present on every API response."
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#TransferDomainResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#TransferDomainResponseLimits": {
      "type": "structure",
      "members": {
        "attempts": {
          "target": "smithy.api#Document"
        },
        "success": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#TransferDomainResponseBody": {
      "type": "union",
      "members": {
        "TransferDomainResponse": {
          "target": "com.porkbun.api#TransferDomainResponse"
        },
        "DryRunPreviewResponse": {
          "target": "com.porkbun.api#DryRunPreviewResponse"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#TransferDomainResponse2": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.porkbun.api#TransferDomainResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#TransferDomain": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#TransferDomainRequest"
      },
      "output": {
        "target": "com.porkbun.api#TransferDomainResponse2"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/transfer/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Initiate a domain transfer\n\nInitiates an inbound domain transfer to Porkbun using account credit. The transfer is processed asynchronously and typically takes 5–7 days to complete.\n\n**Requirements:**\n- Account email and phone must be verified.\n- Sufficient account credit to cover the transfer cost.\n- Domain must not already be in your account.\n- No other active transfer for the same domain.\n- `.uk` and manage-only TLDs are not supported via API.\n- Premium domain transfers are not supported via API.\n\n## Dry run\n\nAdd `dryRun: true` to validate everything and preview the cost WITHOUT initiating the transfer or charging — nothing is created. Example response:\n\n```json\n{\n  \"status\": \"SUCCESS\",\n  \"dryRun\": true,\n  \"wouldSucceed\": true,\n  \"operation\": \"transfer\",\n  \"domain\": \"example.com\",\n  \"tld\": \"com\",\n  \"available\": \"unavailable\",\n  \"premium\": false,\n  \"duration\": 1,\n  \"cost\": 999,\n  \"costDisplay\": \"$9.99\",\n  \"balance\": 5000,\n  \"sufficientFunds\": true,\n  \"message\": \"Dry run: this transfer would succeed and cost $9.99. No order was created and no charge was made.\",\n  \"requestId\": \"019e04fa-5f22-7c93-8a41-2e9d0b3f6c77\"\n}\n```"
      }
    },
    "com.porkbun.api#GetTransferGetRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The domain name (e.g. `example.com`)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#GetTransferResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.porkbun.api#GetTransferResponseStatus"
        },
        "transfer": {
          "target": "com.porkbun.api#GetTransferResponseTransfer"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetTransferResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetTransferResponseTransferStatus": {
      "type": "enum",
      "members": {
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "PENDINGAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDINGAUTH"
          }
        },
        "PENDINGSUBMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDINGSUBMIT"
          }
        },
        "PENDINGTRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDINGTRANSFER"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "INIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INIT"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetTransferResponseTransfer": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.porkbun.api#GetTransferResponseTransferStatus"
        },
        "statusDescription": {
          "target": "smithy.api#String"
        },
        "transferDate": {
          "target": "smithy.api#String"
        },
        "orderId": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetTransferGet": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#GetTransferGetRequest"
      },
      "output": {
        "target": "com.porkbun.api#GetTransferResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domain/getTransfer/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Get transfer status\n\nReturns the most recent transfer record for the specified domain in your account. Authenticate using `X-API-Key` and `X-Secret-API-Key` headers, or `Authorization: Bearer <token>`."
      }
    },
    "com.porkbun.api#ListTransfersResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.porkbun.api#ListTransfersResponseStatus"
        },
        "transfers": {
          "target": "com.porkbun.api#ListTransfersResponseTransfersList"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#ListTransfersResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#ListTransfersResponseTransfersItemStatus": {
      "type": "enum",
      "members": {
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "PENDINGAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDINGAUTH"
          }
        },
        "PENDINGSUBMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDINGSUBMIT"
          }
        },
        "PENDINGTRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDINGTRANSFER"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "INIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INIT"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#ListTransfersResponseTransfersItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.porkbun.api#ListTransfersResponseTransfersItemStatus"
        },
        "statusDescription": {
          "target": "smithy.api#String"
        },
        "transferDate": {
          "target": "smithy.api#String"
        },
        "orderId": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#ListTransfersResponseTransfersList": {
      "type": "list",
      "member": {
        "target": "com.porkbun.api#ListTransfersResponseTransfersItem"
      },
      "traits": {}
    },
    "com.porkbun.api#ListTransfersGet": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.porkbun.api#ListTransfersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domain/listTransfers",
          "code": 200
        },
        "smithy.api#documentation": "List active transfers\n\nReturns all active inbound domain transfers for your account (excludes completed and canceled transfers). Authenticate using `X-API-Key` and `X-Secret-API-Key` headers, or `Authorization: Bearer <token>`."
      }
    },
    "com.porkbun.api#GetDomainsRequestIncludeLabels": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetDomainsRequestTldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.porkbun.api#GetDomainsRequestAutoRenew": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetDomainsRequestApiAccess": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetDomainsRequestSortName": {
      "type": "enum",
      "members": {
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain"
          }
        },
        "TLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tld"
          }
        },
        "CREATE_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_date"
          }
        },
        "EXPIRE_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expire_date"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetDomainsRequestSortDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetDomainsRequest": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "start",
            "smithy.api#documentation": "Zero-based offset for pagination. Returns up to 1000 domains per call."
          }
        },
        "includeLabels": {
          "target": "com.porkbun.api#GetDomainsRequestIncludeLabels",
          "traits": {
            "smithy.api#httpQuery": "includeLabels",
            "smithy.api#documentation": "Return label metadata for each domain. Defaults to no."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "domain",
            "smithy.api#documentation": "Exact domain name match. Returns 0 or 1 result."
          }
        },
        "nameContains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "nameContains",
            "smithy.api#documentation": "Substring match against the full domain name. Case-insensitive."
          }
        },
        "expiringWithinDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "expiringWithinDays",
            "smithy.api#documentation": "Filter to domains expiring within this many days."
          }
        },
        "tlds": {
          "target": "com.porkbun.api#GetDomainsRequestTldsList",
          "traits": {
            "smithy.api#httpQuery": "tlds",
            "smithy.api#documentation": "Limit to these TLDs (no leading dot). Use bracket form: `?tlds[]=com&tlds[]=io`."
          }
        },
        "autoRenew": {
          "target": "com.porkbun.api#GetDomainsRequestAutoRenew",
          "traits": {
            "smithy.api#httpQuery": "autoRenew",
            "smithy.api#documentation": "Filter to domains with auto-renew on or off."
          }
        },
        "apiAccess": {
          "target": "com.porkbun.api#GetDomainsRequestApiAccess",
          "traits": {
            "smithy.api#httpQuery": "apiAccess",
            "smithy.api#documentation": "Filter to domains opted in to API access."
          }
        },
        "sortName": {
          "target": "com.porkbun.api#GetDomainsRequestSortName",
          "traits": {
            "smithy.api#httpQuery": "sortName",
            "smithy.api#documentation": "Field to sort by. Default: `expire_date` ascending."
          }
        },
        "sortDirection": {
          "target": "com.porkbun.api#GetDomainsRequestSortDirection",
          "traits": {
            "smithy.api#httpQuery": "sortDirection",
            "smithy.api#documentation": "Sort direction. Default: asc."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#DomainListAllResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of domains returned in this page."
          }
        },
        "domains": {
          "target": "com.porkbun.api#DomainListAllResponseDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#DomainListAllResponseDomainsItemLabelsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "color": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#DomainListAllResponseDomainsItemLabelsList": {
      "type": "list",
      "member": {
        "target": "com.porkbun.api#DomainListAllResponseDomainsItemLabelsItem"
      },
      "traits": {
        "smithy.api#documentation": "Only present when includeLabels=yes"
      }
    },
    "com.porkbun.api#DomainListAllResponseDomainsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain registration status (e.g. ACTIVE)"
          }
        },
        "tld": {
          "target": "smithy.api#String"
        },
        "createDate": {
          "target": "smithy.api#String"
        },
        "expireDate": {
          "target": "smithy.api#String"
        },
        "securityLock": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1 if transfer lock is enabled, 0 otherwise"
          }
        },
        "whoisPrivacy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1 if WHOIS privacy is enabled, 0 otherwise"
          }
        },
        "autoRenew": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1 if auto-renew is enabled, 0 otherwise"
          }
        },
        "apiAccess": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1 if the domain is opted in to API access, 0 otherwise. Per-domain API access can be toggled at porkbun.com/account or globally via the `Opt In All Domains` setting."
          }
        },
        "notLocal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1 if the domain is externally managed (not authoritative), 0 otherwise"
          }
        },
        "labels": {
          "target": "com.porkbun.api#DomainListAllResponseDomainsItemLabelsList",
          "traits": {
            "smithy.api#documentation": "Only present when includeLabels=yes"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#DomainListAllResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.porkbun.api#DomainListAllResponseDomainsItem"
      },
      "traits": {}
    },
    "com.porkbun.api#GetDomains": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#GetDomainsRequest"
      },
      "output": {
        "target": "com.porkbun.api#DomainListAllResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domain/listAll",
          "code": 200
        },
        "smithy.api#documentation": "List all domains\n\nRetrieve domains in the authenticated account. Results are returned in chunks of up to 1000 domains. Use `start` to paginate.\n\n**Filtering:** all filter parameters are optional. Combine them freely.\n\n- `domain` — exact match (returns 0 or 1)\n- `nameContains` — substring search\n- `tlds` — limit to these TLDs\n- `expiringWithinDays` — only domains expiring within N days\n- `autoRenew` — `yes` / `no`\n- `apiAccess` — `yes` / `no` (filter to domains the API key can operate on)\n- `sortName` — `domain` / `tld` / `create_date` / `expire_date`\n- `sortDirection` — `asc` / `desc`\n\nSupports both GET (with header auth) and POST (with body or header auth). For multi-value `tlds` on GET, use bracket syntax: `?tlds[]=com&tlds[]=io`."
      }
    },
    "com.porkbun.api#ListDomainsRequestIncludeLabels": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Return label metadata for each domain. Defaults to no."
      }
    },
    "com.porkbun.api#ListDomainsRequestTldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Limit to these TLDs (without leading dot)."
      }
    },
    "com.porkbun.api#ListDomainsRequestAutoRenew": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter to domains with auto-renew on or off."
      }
    },
    "com.porkbun.api#ListDomainsRequestApiAccess": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter to domains opted in to API access (yes) or not (no). Useful for finding domains an API key can actually operate on."
      }
    },
    "com.porkbun.api#ListDomainsRequestSortName": {
      "type": "enum",
      "members": {
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain"
          }
        },
        "TLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tld"
          }
        },
        "CREATE_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_date"
          }
        },
        "EXPIRE_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expire_date"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Field to sort by. Default: `expire_date` ascending."
      }
    },
    "com.porkbun.api#ListDomainsRequestSortDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort direction. Default: asc."
      }
    },
    "com.porkbun.api#ListDomainsRequest": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Zero-based offset for pagination (default: 0). Returns up to 1000 domains per call."
          }
        },
        "includeLabels": {
          "target": "com.porkbun.api#ListDomainsRequestIncludeLabels",
          "traits": {
            "smithy.api#documentation": "Return label metadata for each domain. Defaults to no."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact domain name match. Returns 0 or 1 result. Useful as an alternative to `/domain/get/{domain}`."
          }
        },
        "nameContains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Substring match against the full domain name. Case-insensitive."
          }
        },
        "expiringWithinDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Filter to domains expiring within this many days (relative to now)."
          }
        },
        "tlds": {
          "target": "com.porkbun.api#ListDomainsRequestTldsList",
          "traits": {
            "smithy.api#documentation": "Limit to these TLDs (without leading dot)."
          }
        },
        "autoRenew": {
          "target": "com.porkbun.api#ListDomainsRequestAutoRenew",
          "traits": {
            "smithy.api#documentation": "Filter to domains with auto-renew on or off."
          }
        },
        "apiAccess": {
          "target": "com.porkbun.api#ListDomainsRequestApiAccess",
          "traits": {
            "smithy.api#documentation": "Filter to domains opted in to API access (yes) or not (no). Useful for finding domains an API key can actually operate on."
          }
        },
        "sortName": {
          "target": "com.porkbun.api#ListDomainsRequestSortName",
          "traits": {
            "smithy.api#documentation": "Field to sort by. Default: `expire_date` ascending."
          }
        },
        "sortDirection": {
          "target": "com.porkbun.api#ListDomainsRequestSortDirection",
          "traits": {
            "smithy.api#documentation": "Sort direction. Default: asc."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#ListDomains": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#ListDomainsRequest"
      },
      "output": {
        "target": "com.porkbun.api#DomainListAllResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/listAll",
          "code": 200
        },
        "smithy.api#documentation": "List all domains\n\nRetrieve domains in the authenticated account. Results are returned in chunks of up to 1000 domains. Use `start` to paginate.\n\n**Filtering:** all filter parameters are optional. Combine them freely.\n\n- `domain` — exact match (returns 0 or 1)\n- `nameContains` — substring search\n- `tlds` — limit to these TLDs\n- `expiringWithinDays` — only domains expiring within N days\n- `autoRenew` — `yes` / `no`\n- `apiAccess` — `yes` / `no` (filter to domains the API key can operate on)\n- `sortName` — `domain` / `tld` / `create_date` / `expire_date`\n- `sortDirection` — `asc` / `desc`\n\nSupports both GET (with header auth) and POST (with body or header auth). For multi-value `tlds` on GET, use bracket syntax: `?tlds[]=com&tlds[]=io`."
      }
    },
    "com.porkbun.api#GetDomainRequestIncludeLabels": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fully qualified domain name in the authenticated account."
          }
        },
        "includeLabels": {
          "target": "com.porkbun.api#GetDomainRequestIncludeLabels",
          "traits": {
            "smithy.api#httpQuery": "includeLabels",
            "smithy.api#documentation": "Return label metadata. Defaults to no."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#GetDomainResponseDomain": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "tld": {
          "target": "smithy.api#String"
        },
        "createDate": {
          "target": "smithy.api#String"
        },
        "expireDate": {
          "target": "smithy.api#String"
        },
        "securityLock": {
          "target": "smithy.api#Integer"
        },
        "whoisPrivacy": {
          "target": "smithy.api#Integer"
        },
        "autoRenew": {
          "target": "smithy.api#Integer"
        },
        "apiAccess": {
          "target": "smithy.api#Integer"
        },
        "notLocal": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetDomainResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "com.porkbun.api#GetDomainResponseDomain"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#GetDomain": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#GetDomainRequest"
      },
      "output": {
        "target": "com.porkbun.api#GetDomainResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domain/get/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Get a single domain\n\nGet the metadata for a single domain in the authenticated account. Returns the same per-domain shape as `listAll` items but as a single object. Returns HTTP 404 with code `DOMAIN_NOT_FOUND` if the domain isn't in the account."
      }
    },
    "com.porkbun.api#DomainUpdateAutoRenewRequestStatus": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auto-renew status to set"
      }
    },
    "com.porkbun.api#DomainUpdateAutoRenewRequestDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of additional domain names to update. Combined with the domain in the URL path if provided."
      }
    },
    "com.porkbun.api#DomainUpdateAutoRenewRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Optional single domain in URL. Omit or use `/domain/updateAutoRenew/` (without trailing domain) when using the `domains` body array instead."
          }
        },
        "status": {
          "target": "com.porkbun.api#DomainUpdateAutoRenewRequestStatus",
          "traits": {
            "smithy.api#documentation": "Auto-renew status to set",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.porkbun.api#DomainUpdateAutoRenewRequestDomainsList",
          "traits": {
            "smithy.api#documentation": "Array of additional domain names to update. Combined with the domain in the URL path if provided."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#DomainUpdateAutoRenewResponseResultsValue": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#DomainUpdateAutoRenewResponseResultsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.porkbun.api#DomainUpdateAutoRenewResponseResultsValue"
      },
      "traits": {
        "smithy.api#documentation": "Object keyed by domain name"
      }
    },
    "com.porkbun.api#DomainUpdateAutoRenewResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "results": {
          "target": "com.porkbun.api#DomainUpdateAutoRenewResponseResultsMap",
          "traits": {
            "smithy.api#documentation": "Object keyed by domain name"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#DomainUpdateAutoRenew": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#DomainUpdateAutoRenewRequest"
      },
      "output": {
        "target": "com.porkbun.api#DomainUpdateAutoRenewResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/updateAutoRenew/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Update auto-renew setting\n\nUpdate the auto-renew setting for one or more domains. The domain can be passed in the URL path or in the `domains` array in the request body (or both). Both are combined and deduplicated."
      }
    },
    "com.porkbun.api#GetDomainNsRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#GetDomainNsResponseNsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.porkbun.api#GetDomainNsResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "ns": {
          "target": "com.porkbun.api#GetDomainNsResponseNsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#GetDomainNs": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#GetDomainNsRequest"
      },
      "output": {
        "target": "com.porkbun.api#GetDomainNsResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domain/getNs/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Get nameservers\n\nRetrieve the authoritative nameservers listed at the registry for the domain. Supports both GET (with header auth) and POST (with body or header auth)."
      }
    },
    "com.porkbun.api#DomainGetNsRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#DomainGetNsResponseNsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.porkbun.api#DomainGetNsResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "ns": {
          "target": "com.porkbun.api#DomainGetNsResponseNsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#DomainGetNs": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#DomainGetNsRequest"
      },
      "output": {
        "target": "com.porkbun.api#DomainGetNsResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/getNs/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Get nameservers\n\nRetrieve the authoritative nameservers listed at the registry for the domain. Supports both GET (with header auth) and POST (with body or header auth)."
      }
    },
    "com.porkbun.api#DomainUpdateNsRequestNsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Ordered array of nameserver hostnames"
      }
    },
    "com.porkbun.api#DomainUpdateNsRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ns": {
          "target": "com.porkbun.api#DomainUpdateNsRequestNsList",
          "traits": {
            "smithy.api#documentation": "Ordered array of nameserver hostnames",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#BasicResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.porkbun.api#BasicResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable message. Present on ERROR, sometimes on SUCCESS."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable error code. Present when status is ERROR."
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#BasicResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#DomainUpdateNs": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#DomainUpdateNsRequest"
      },
      "output": {
        "target": "com.porkbun.api#BasicResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/updateNs/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Update nameservers\n\nUpdate the nameservers for the domain at the registry."
      }
    },
    "com.porkbun.api#GetDomainGlueRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#GetDomainGlueResponseHostsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Two-element array: [0] full hostname string, [1] IP addresses object"
      }
    },
    "com.porkbun.api#GetDomainGlueResponseHostsList": {
      "type": "list",
      "member": {
        "target": "com.porkbun.api#GetDomainGlueResponseHostsItemList"
      },
      "traits": {
        "smithy.api#documentation": "Array of [hostname, ipAddresses] tuples. Each element is a two-item array: index 0 is the full hostname (string), index 1 is an object with `v4` (array of IPv4 strings) and `v6` (array of IPv6 strings). Example: `[\"ns1.example.com\", {\"v4\": [\"1.2.3.4\"], \"v6\": []}]`"
      }
    },
    "com.porkbun.api#GetDomainGlueResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "hosts": {
          "target": "com.porkbun.api#GetDomainGlueResponseHostsList",
          "traits": {
            "smithy.api#documentation": "Array of [hostname, ipAddresses] tuples. Each element is a two-item array: index 0 is the full hostname (string), index 1 is an object with `v4` (array of IPv4 strings) and `v6` (array of IPv6 strings). Example: `[\"ns1.example.com\", {\"v4\": [\"1.2.3.4\"], \"v6\": []}]`"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#GetDomainGlue": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#GetDomainGlueRequest"
      },
      "output": {
        "target": "com.porkbun.api#GetDomainGlueResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domain/getGlue/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Get glue records\n\nRetrieve all glue records (host objects) registered under the domain. Supports both GET (with header auth) and POST (with body or header auth)."
      }
    },
    "com.porkbun.api#DomainGetGlueRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#DomainGetGlueResponseHostsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Two-element array: [0] full hostname string, [1] IP addresses object"
      }
    },
    "com.porkbun.api#DomainGetGlueResponseHostsList": {
[...]
