{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "org.apache.superset.api#GetApiV1AdvancedDataTypeConvertRequest": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#AdvancedDataTypeSchema": {
      "type": "structure",
      "members": {
        "display_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string representation of the parsed values"
          }
        },
        "error_message": {
          "target": "smithy.api#String"
        },
        "valid_filter_operators": {
          "target": "org.apache.superset.api#AdvancedDataTypeSchemaValidFilterOperatorsList"
        },
        "values": {
          "target": "org.apache.superset.api#AdvancedDataTypeSchemaValuesList"
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#AdvancedDataTypeSchemaValidFilterOperatorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.superset.api#AdvancedDataTypeSchemaValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AdvancedDataTypeConvert": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#GetApiV1AdvancedDataTypeConvertRequest"
      },
      "output": {
        "target": "org.apache.superset.api#AdvancedDataTypeSchema"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#Forbidden"
        },
        {
          "target": "org.apache.superset.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/advanced_data_type/convert",
          "code": 200
        },
        "smithy.api#documentation": "Return an AdvancedDataTypeResponse\n\nReturns an AdvancedDataTypeResponse object populated with the passed in args."
      }
    },
    "org.apache.superset.api#GetApiV1AdvancedDataTypeTypesResponseResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AdvancedDataTypeTypesResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "org.apache.superset.api#GetApiV1AdvancedDataTypeTypesResponseResultList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#GetApiV1AdvancedDataTypeTypes": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "org.apache.superset.api#GetApiV1AdvancedDataTypeTypesResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#Forbidden"
        },
        {
          "target": "org.apache.superset.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/advanced_data_type/types",
          "code": 200
        },
        "smithy.api#documentation": "Return a list of available advanced data types"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerRequest": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerResponseDescriptionColumns": {
      "type": "structure",
      "members": {
        "column_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description for the column name. Will be translated by babel"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerResponseIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of item ids, useful when you don't know the column id"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerResponseLabelColumns": {
      "type": "structure",
      "members": {
        "column_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label for the column name. Will be translated by babel"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerResponseListColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of columns"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerResponseOrderColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of allowed columns to sort"
      }
    },
    "org.apache.superset.api#AnnotationLayerRestApiGetList": {
      "type": "structure",
      "members": {
        "changed_by": {
          "target": "org.apache.superset.api#AnnotationLayerRestApiGetListUser1"
        },
        "changed_on": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "changed_on_delta_humanized": {
          "target": "smithy.api#Document"
        },
        "created_by": {
          "target": "org.apache.superset.api#AnnotationLayerRestApiGetListUser"
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "descr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#AnnotationLayerRestApiGetListUser1": {
      "type": "structure",
      "members": {
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#AnnotationLayerRestApiGetListUser": {
      "type": "structure",
      "members": {
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerResponseResultList": {
      "type": "list",
      "member": {
        "target": "org.apache.superset.api#AnnotationLayerRestApiGetList"
      },
      "traits": {
        "smithy.api#documentation": "The result from the get list query"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total record count on the backend"
          }
        },
        "description_columns": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerResponseDescriptionColumns"
        },
        "ids": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerResponseIdsList",
          "traits": {
            "smithy.api#documentation": "A list of item ids, useful when you don't know the column id"
          }
        },
        "label_columns": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerResponseLabelColumns"
        },
        "list_columns": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerResponseListColumnsList",
          "traits": {
            "smithy.api#documentation": "A list of columns"
          }
        },
        "list_title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A title to render. Will be translated by babel"
          }
        },
        "order_columns": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerResponseOrderColumnsList",
          "traits": {
            "smithy.api#documentation": "A list of allowed columns to sort"
          }
        },
        "result": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerResponseResultList",
          "traits": {
            "smithy.api#documentation": "The result from the get list query"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayer": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerRequest"
      },
      "output": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/annotation_layer/",
          "code": 200
        },
        "smithy.api#documentation": "Get a list of annotation layers (annotation-layer)\n\nGets a list of annotation layers, use Rison or JSON query parameters for filtering, sorting, pagination and for selecting specific columns and metadata."
      }
    },
    "org.apache.superset.api#PostApiV1AnnotationLayerRequest": {
      "type": "structure",
      "members": {
        "descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Give a description for this annotation layer",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation layer name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#AnnotationLayerRestApiPost": {
      "type": "structure",
      "members": {
        "descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Give a description for this annotation layer",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation layer name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#PostApiV1AnnotationLayerResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double"
        },
        "result": {
          "target": "org.apache.superset.api#AnnotationLayerRestApiPost"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#PostApiV1AnnotationLayer": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#PostApiV1AnnotationLayerRequest"
      },
      "output": {
        "target": "org.apache.superset.api#PostApiV1AnnotationLayerResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/annotation_layer/",
          "code": 200
        },
        "smithy.api#documentation": "Create an annotation layer (annotation-layer)"
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayerRequest": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayerResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayer": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#DeleteApiV1AnnotationLayerRequest"
      },
      "output": {
        "target": "org.apache.superset.api#DeleteApiV1AnnotationLayerResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#NotFound"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/annotation_layer/",
          "code": 200
        },
        "smithy.api#documentation": "Delete multiple annotation layers in a bulk operation"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerInfoRequest": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerInfoResponseFiltersColumnNameItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter name. Will be translated by babel"
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter operation key to use on list filters"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerInfoResponseFiltersColumnNameList": {
      "type": "list",
      "member": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerInfoResponseFiltersColumnNameItem"
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerInfoResponseFilters": {
      "type": "structure",
      "members": {
        "column_name": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerInfoResponseFiltersColumnNameList"
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerInfoResponsePermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The user permissions for this API resource"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerInfoResponse": {
      "type": "structure",
      "members": {
        "add_columns": {
          "target": "smithy.api#Document"
        },
        "edit_columns": {
          "target": "smithy.api#Document"
        },
        "filters": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerInfoResponseFilters"
        },
        "permissions": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerInfoResponsePermissionsList",
          "traits": {
            "smithy.api#documentation": "The user permissions for this API resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerInfo": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerInfoRequest"
      },
      "output": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerInfoResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/annotation_layer/_info",
          "code": 200
        },
        "smithy.api#documentation": "Get metadata information about this API resource (annotation-layer--info)\n\nGet metadata information about this API resource"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerRelatedColumnNameRequest": {
      "type": "structure",
      "members": {
        "column_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#RelatedResponseSchema": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of related values"
          }
        },
        "result": {
          "target": "org.apache.superset.api#RelatedResponseSchemaResultList"
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#RelatedResultResponse": {
      "type": "structure",
      "members": {
        "extra": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The extra metadata for related item"
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The related item string representation"
          }
        },
        "value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The related item identifier"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#RelatedResponseSchemaResultList": {
      "type": "list",
      "member": {
        "target": "org.apache.superset.api#RelatedResultResponse"
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerRelatedColumnName": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerRelatedColumnNameRequest"
      },
      "output": {
        "target": "org.apache.superset.api#RelatedResponseSchema"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/annotation_layer/related/{column_name}",
          "code": 200
        },
        "smithy.api#documentation": "Get related fields data (annotation-layer-related-column-name)"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkRequest": {
      "type": "structure",
      "members": {
        "pk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkResponseDescriptionColumns": {
      "type": "structure",
      "members": {
        "column_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description for the column name. Will be translated by babel"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkResponseLabelColumns": {
      "type": "structure",
      "members": {
        "column_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label for the column name. Will be translated by babel"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#AnnotationLayerRestApiGet": {
      "type": "structure",
      "members": {
        "descr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkResponseShowColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of columns"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkResponse": {
      "type": "structure",
      "members": {
        "description_columns": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerPkResponseDescriptionColumns"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item id"
          }
        },
        "label_columns": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerPkResponseLabelColumns"
        },
        "result": {
          "target": "org.apache.superset.api#AnnotationLayerRestApiGet"
        },
        "show_columns": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerPkResponseShowColumnsList",
          "traits": {
            "smithy.api#documentation": "A list of columns"
          }
        },
        "show_title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A title to render. Will be translated by babel"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPk": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerPkRequest"
      },
      "output": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerPkResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#NotFound"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/annotation_layer/{pk}",
          "code": 200
        },
        "smithy.api#documentation": "Get an annotation layer (annotation-layer-pk)\n\nGet an item model"
      }
    },
    "org.apache.superset.api#PutApiV1AnnotationLayerPkRequest": {
      "type": "structure",
      "members": {
        "pk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The annotation layer pk for this annotation"
          }
        },
        "descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Give a description for this annotation layer"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation layer name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#AnnotationLayerRestApiPut": {
      "type": "structure",
      "members": {
        "descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Give a description for this annotation layer"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation layer name"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#PutApiV1AnnotationLayerPkResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double"
        },
        "result": {
          "target": "org.apache.superset.api#AnnotationLayerRestApiPut"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#PutApiV1AnnotationLayerPk": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#PutApiV1AnnotationLayerPkRequest"
      },
      "output": {
        "target": "org.apache.superset.api#PutApiV1AnnotationLayerPkResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/annotation_layer/{pk}",
          "code": 200
        },
        "smithy.api#documentation": "Update an annotation layer (annotation-layer-pk)"
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayerPkRequest": {
      "type": "structure",
      "members": {
        "pk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The annotation layer pk for this annotation"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayerPkResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayerPk": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#DeleteApiV1AnnotationLayerPkRequest"
      },
      "output": {
        "target": "org.apache.superset.api#DeleteApiV1AnnotationLayerPkResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#NotFound"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/annotation_layer/{pk}",
          "code": 200
        },
        "smithy.api#documentation": "Delete annotation layer (annotation-layer-pk)"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationRequest": {
      "type": "structure",
      "members": {
        "pk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The annotation layer id for this annotation"
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationResponseIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of annotation ids"
      }
    },
    "org.apache.superset.api#AnnotationRestApiGetList": {
      "type": "structure",
      "members": {
        "changed_by": {
          "target": "org.apache.superset.api#AnnotationRestApiGetListUser"
        },
        "changed_on_delta_humanized": {
          "target": "smithy.api#Document"
        },
        "created_by": {
          "target": "org.apache.superset.api#AnnotationRestApiGetListUser1"
        },
        "end_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "long_descr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "short_descr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#AnnotationRestApiGetListUser": {
      "type": "structure",
      "members": {
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#AnnotationRestApiGetListUser1": {
      "type": "structure",
      "members": {
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationResponseResultList": {
      "type": "list",
      "member": {
        "target": "org.apache.superset.api#AnnotationRestApiGetList"
      },
      "traits": {
        "smithy.api#documentation": "The result from the get list query"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total record count on the backend"
          }
        },
        "ids": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationResponseIdsList",
          "traits": {
            "smithy.api#documentation": "A list of annotation ids"
          }
        },
        "result": {
          "target": "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationResponseResultList",
          "traits": {
            "smithy.api#documentation": "The result from the get list query"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotation": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationRequest"
      },
      "output": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/annotation_layer/{pk}/annotation/",
          "code": 200
        },
        "smithy.api#documentation": "Get a list of annotation layers (annotation-layer-pk-annotation)\n\nGets a list of annotation layers, use Rison or JSON query parameters for filtering, sorting, pagination and for selecting specific columns and metadata."
      }
    },
    "org.apache.superset.api#PostApiV1AnnotationLayerPkAnnotationRequest": {
      "type": "structure",
      "members": {
        "pk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The annotation layer pk for this annotation"
          }
        },
        "end_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation end date time",
            "smithy.api#required": {}
          }
        },
        "json_metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "long_descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "short_descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description",
            "smithy.api#required": {}
          }
        },
        "start_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation start date time",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#AnnotationRestApiPost": {
      "type": "structure",
      "members": {
        "end_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation end date time",
            "smithy.api#required": {}
          }
        },
        "json_metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "long_descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "short_descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description",
            "smithy.api#required": {}
          }
        },
        "start_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation start date time",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#PostApiV1AnnotationLayerPkAnnotationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double"
        },
        "result": {
          "target": "org.apache.superset.api#AnnotationRestApiPost"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#PostApiV1AnnotationLayerPkAnnotation": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#PostApiV1AnnotationLayerPkAnnotationRequest"
      },
      "output": {
        "target": "org.apache.superset.api#PostApiV1AnnotationLayerPkAnnotationResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/annotation_layer/{pk}/annotation/",
          "code": 200
        },
        "smithy.api#documentation": "Create an annotation layer (annotation-layer-pk-annotation)"
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayerPkAnnotationRequest": {
      "type": "structure",
      "members": {
        "pk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The annotation layer pk for this annotation"
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayerPkAnnotationResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayerPkAnnotation": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#DeleteApiV1AnnotationLayerPkAnnotationRequest"
      },
      "output": {
        "target": "org.apache.superset.api#DeleteApiV1AnnotationLayerPkAnnotationResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#NotFound"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/annotation_layer/{pk}/annotation/",
          "code": 200
        },
        "smithy.api#documentation": "Bulk delete annotation layers"
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationAnnotationIdRequest": {
      "type": "structure",
      "members": {
        "pk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The annotation layer pk for this annotation"
          }
        },
        "annotation_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The annotation pk"
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#AnnotationRestApiGet": {
      "type": "structure",
      "members": {
        "end_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "json_metadata": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "layer": {
          "target": "org.apache.superset.api#AnnotationRestApiGetAnnotationLayer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "long_descr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "short_descr": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#AnnotationRestApiGetAnnotationLayer": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationAnnotationIdResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item id"
          }
        },
        "result": {
          "target": "org.apache.superset.api#AnnotationRestApiGet"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationAnnotationId": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationAnnotationIdRequest"
      },
      "output": {
        "target": "org.apache.superset.api#GetApiV1AnnotationLayerPkAnnotationAnnotationIdResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#NotFound"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/annotation_layer/{pk}/annotation/{annotation_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an annotation layer (annotation-layer-pk-annotation-annotation-id)"
      }
    },
    "org.apache.superset.api#PutApiV1AnnotationLayerPkAnnotationAnnotationIdRequest": {
      "type": "structure",
      "members": {
        "pk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The annotation layer pk for this annotation"
          }
        },
        "annotation_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The annotation pk for this annotation"
          }
        },
        "end_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation end date time"
          }
        },
        "json_metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "long_descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "short_descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description"
          }
        },
        "start_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation start date time"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#AnnotationRestApiPut": {
      "type": "structure",
      "members": {
        "end_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation end date time"
          }
        },
        "json_metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "long_descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "short_descr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description"
          }
        },
        "start_dttm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation start date time"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#PutApiV1AnnotationLayerPkAnnotationAnnotationIdResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double"
        },
        "result": {
          "target": "org.apache.superset.api#AnnotationRestApiPut"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#PutApiV1AnnotationLayerPkAnnotationAnnotationId": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#PutApiV1AnnotationLayerPkAnnotationAnnotationIdRequest"
      },
      "output": {
        "target": "org.apache.superset.api#PutApiV1AnnotationLayerPkAnnotationAnnotationIdResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/annotation_layer/{pk}/annotation/{annotation_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an annotation layer (annotation-layer-pk-annotation-annotation-id)"
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayerPkAnnotationAnnotationIdRequest": {
      "type": "structure",
      "members": {
        "pk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The annotation layer pk for this annotation"
          }
        },
        "annotation_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The annotation pk for this annotation"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayerPkAnnotationAnnotationIdResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#DeleteApiV1AnnotationLayerPkAnnotationAnnotationId": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#DeleteApiV1AnnotationLayerPkAnnotationAnnotationIdRequest"
      },
      "output": {
        "target": "org.apache.superset.api#DeleteApiV1AnnotationLayerPkAnnotationAnnotationIdResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#NotFound"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/annotation_layer/{pk}/annotation/{annotation_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete annotation layer (annotation-layer-pk-annotation-annotation-id)"
      }
    },
    "org.apache.superset.api#GetApiV1AssetsExport": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/assets/export/",
          "code": 200
        },
        "smithy.api#documentation": "Export all assets\n\nGets a ZIP file with all the Superset assets (databases, datasets, charts, dashboards, saved queries) as YAML files."
      }
    },
    "org.apache.superset.api#PostApiV1AssetsImportRequest": {
      "type": "structure",
      "members": {
        "bundle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "upload file (ZIP or JSON)"
          }
        },
        "passwords": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON map of passwords for each featured database in the ZIP file. If the ZIP includes a database config in the path `databases/MyDatabase.yaml`, the password should be provided in the following format: `{\"databases/MyDatabase.yaml\": \"my_password\"}`.",
            "smithy.api#sensitive": {}
          }
        },
        "sparse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "allow sparse update of resources"
          }
        },
        "ssh_tunnel_passwords": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON map of passwords for each ssh_tunnel associated to a featured database in the ZIP file. If the ZIP includes a ssh_tunnel config in the path `databases/MyDatabase.yaml`, the password should be provided in the following format: `{\"databases/MyDatabase.yaml\": \"my_password\"}`.",
            "smithy.api#sensitive": {}
          }
        },
        "ssh_tunnel_private_key_passwords": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON map of private_key_passwords for each ssh_tunnel associated to a featured database in the ZIP file. If the ZIP includes a ssh_tunnel config in the path `databases/MyDatabase.yaml`, the private_key should be provided in the following format: `{\"databases/MyDatabase.yaml\": \"my_private_key_password\"}`.",
            "smithy.api#sensitive": {}
          }
        },
        "ssh_tunnel_private_keys": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON map of private_keys for each ssh_tunnel associated to a featured database in the ZIP file. If the ZIP includes a ssh_tunnel config in the path `databases/MyDatabase.yaml`, the private_key should be provided in the following format: `{\"databases/MyDatabase.yaml\": \"my_private_key\"}`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#PostApiV1AssetsImportResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#PostApiV1AssetsImport": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#PostApiV1AssetsImportRequest"
      },
      "output": {
        "target": "org.apache.superset.api#PostApiV1AssetsImportResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/assets/import/",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Import multiple assets",
        "com.distilled.openapi#contentType": "multipart"
      }
    },
    "org.apache.superset.api#GetApiV1AsyncEventRequest": {
      "type": "structure",
      "members": {
        "last_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "last_id",
            "smithy.api#documentation": "Last ID received by the client"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#GetApiV1AsyncEventResponseResultItemErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AsyncEventResponseResultItem": {
      "type": "structure",
      "members": {
        "channel_id": {
          "target": "smithy.api#String"
        },
        "errors": {
          "target": "org.apache.superset.api#GetApiV1AsyncEventResponseResultItemErrorsList"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "job_id": {
          "target": "smithy.api#String"
        },
        "result_url": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "user_id": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AsyncEventResponseResultList": {
      "type": "list",
      "member": {
        "target": "org.apache.superset.api#GetApiV1AsyncEventResponseResultItem"
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AsyncEventResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "org.apache.superset.api#GetApiV1AsyncEventResponseResultList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#GetApiV1AsyncEvent": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#GetApiV1AsyncEventRequest"
      },
      "output": {
        "target": "org.apache.superset.api#GetApiV1AsyncEventResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/async_event/",
          "code": 200
        },
        "smithy.api#documentation": "Read off of the Redis events stream\n\nReads off of the Redis events stream, using the user's JWT token and optional query params for last event received."
      }
    },
    "org.apache.superset.api#AvailableDomainsSchema": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "org.apache.superset.api#AvailableDomainsSchemaDomainsList"
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#AvailableDomainsSchemaDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1AvailableDomainsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "org.apache.superset.api#AvailableDomainsSchema"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#GetApiV1AvailableDomains": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "org.apache.superset.api#GetApiV1AvailableDomainsResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/available_domains/",
          "code": 200
        },
        "smithy.api#documentation": "Get all available domains"
      }
    },
    "org.apache.superset.api#PostApiV1CachekeyInvalidateRequestDatasourceUidsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The uid of the dataset/datasource this new chart will use. A complete datasource identification needs `datasource_uid` "
      }
    },
    "org.apache.superset.api#Datasource": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datasource catalog",
            "com.distilled.openapi#nullable": {}
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datasource name"
          }
        },
        "datasource_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datasource name."
          }
        },
        "datasource_type": {
          "target": "org.apache.superset.api#DatasourceDatasourceType",
          "traits": {
            "smithy.api#documentation": "The type of dataset/datasource identified on `datasource_id`.",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datasource schema"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#DatasourceDatasourceType": {
      "type": "enum",
      "members": {
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        },
        "SAVED_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saved_query"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "view"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of dataset/datasource identified on `datasource_id`."
      }
    },
    "org.apache.superset.api#PostApiV1CachekeyInvalidateRequestDatasourcesList": {
      "type": "list",
      "member": {
        "target": "org.apache.superset.api#Datasource"
      },
      "traits": {
        "smithy.api#documentation": "A list of the data source and database names"
      }
    },
    "org.apache.superset.api#PostApiV1CachekeyInvalidateRequest": {
      "type": "structure",
      "members": {
        "datasource_uids": {
          "target": "org.apache.superset.api#PostApiV1CachekeyInvalidateRequestDatasourceUidsList",
          "traits": {
            "smithy.api#documentation": "The uid of the dataset/datasource this new chart will use. A complete datasource identification needs `datasource_uid` "
          }
        },
        "datasources": {
          "target": "org.apache.superset.api#PostApiV1CachekeyInvalidateRequestDatasourcesList",
          "traits": {
            "smithy.api#documentation": "A list of the data source and database names"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#PostApiV1CachekeyInvalidate": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#PostApiV1CachekeyInvalidateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/cachekey/invalidate",
          "code": 200
        },
        "smithy.api#documentation": "Invalidate cache records and remove the database records\n\nTakes a list of datasources, finds and invalidates the associated cache records and removes the database records."
      }
    },
    "org.apache.superset.api#GetApiV1ChartRequest": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#GetApiV1ChartResponseDescriptionColumns": {
      "type": "structure",
      "members": {
        "column_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description for the column name. Will be translated by babel"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1ChartResponseIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of item ids, useful when you don't know the column id"
      }
    },
    "org.apache.superset.api#GetApiV1ChartResponseLabelColumns": {
      "type": "structure",
      "members": {
        "column_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label for the column name. Will be translated by babel"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1ChartResponseListColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of columns"
      }
    },
    "org.apache.superset.api#GetApiV1ChartResponseOrderColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of allowed columns to sort"
      }
    },
    "org.apache.superset.api#ChartRestApiGetList": {
      "type": "structure",
      "members": {
        "cache_timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "certification_details": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "certified_by": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "changed_by": {
          "target": "org.apache.superset.api#ChartRestApiGetListUser"
        },
        "changed_by_name": {
          "target": "smithy.api#Document"
        },
        "changed_on_delta_humanized": {
          "target": "smithy.api#Document"
        },
        "changed_on_dttm": {
          "target": "smithy.api#Document"
        },
        "changed_on_utc": {
          "target": "smithy.api#Document"
        },
        "created_by": {
          "target": "org.apache.superset.api#ChartRestApiGetListUser1"
        },
        "created_by_name": {
          "target": "smithy.api#Document"
        },
        "created_on_delta_humanized": {
          "target": "smithy.api#Document"
        },
        "dashboards": {
          "target": "org.apache.superset.api#ChartRestApiGetListDashboard"
        },
        "datasource_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "datasource_name_text": {
          "target": "smithy.api#Document"
        },
        "datasource_type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "datasource_url": {
          "target": "smithy.api#Document"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description_markeddown": {
          "target": "smithy.api#Document"
        },
        "edit_url": {
          "target": "smithy.api#Document"
        },
        "form_data": {
          "target": "smithy.api#Document"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "is_managed_externally": {
          "target": "smithy.api#Boolean"
        },
        "last_saved_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_saved_by": {
          "target": "org.apache.superset.api#ChartRestApiGetListUser2"
        },
        "owners": {
          "target": "org.apache.superset.api#ChartRestApiGetListUser3"
        },
        "params": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slice_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slice_url": {
          "target": "smithy.api#Document"
        },
        "table": {
          "target": "org.apache.superset.api#ChartRestApiGetListSqlaTable"
        },
        "tags": {
          "target": "org.apache.superset.api#ChartRestApiGetListTag"
        },
        "thumbnail_url": {
          "target": "smithy.api#Document"
        },
        "url": {
          "target": "smithy.api#Document"
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "viz_type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#ChartRestApiGetListUser": {
      "type": "structure",
      "members": {
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#ChartRestApiGetListUser1": {
      "type": "structure",
      "members": {
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#ChartRestApiGetListDashboard": {
      "type": "structure",
      "members": {
        "dashboard_title": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#ChartRestApiGetListUser2": {
      "type": "structure",
      "members": {
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#ChartRestApiGetListUser3": {
      "type": "structure",
      "members": {
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#ChartRestApiGetListSqlaTable": {
      "type": "structure",
      "members": {
        "default_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#ChartRestApiGetListTag": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "org.apache.superset.api#ChartRestApiGetListTagType"
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#ChartRestApiGetListTagType": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1ChartResponseResultList": {
      "type": "list",
      "member": {
        "target": "org.apache.superset.api#ChartRestApiGetList"
      },
      "traits": {
        "smithy.api#documentation": "The result from the get list query"
      }
    },
    "org.apache.superset.api#GetApiV1ChartResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total record count on the backend"
          }
        },
        "description_columns": {
          "target": "org.apache.superset.api#GetApiV1ChartResponseDescriptionColumns"
        },
        "ids": {
          "target": "org.apache.superset.api#GetApiV1ChartResponseIdsList",
          "traits": {
            "smithy.api#documentation": "A list of item ids, useful when you don't know the column id"
          }
        },
        "label_columns": {
          "target": "org.apache.superset.api#GetApiV1ChartResponseLabelColumns"
        },
        "list_columns": {
          "target": "org.apache.superset.api#GetApiV1ChartResponseListColumnsList",
          "traits": {
            "smithy.api#documentation": "A list of columns"
          }
        },
        "list_title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A title to render. Will be translated by babel"
          }
        },
        "order_columns": {
          "target": "org.apache.superset.api#GetApiV1ChartResponseOrderColumnsList",
          "traits": {
            "smithy.api#documentation": "A list of allowed columns to sort"
          }
        },
        "result": {
          "target": "org.apache.superset.api#GetApiV1ChartResponseResultList",
          "traits": {
            "smithy.api#documentation": "The result from the get list query"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#GetApiV1Chart": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#GetApiV1ChartRequest"
      },
      "output": {
        "target": "org.apache.superset.api#GetApiV1ChartResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/chart/",
          "code": 200
        },
        "smithy.api#documentation": "Get a list of charts\n\nGets a list of charts, use Rison or JSON query parameters for filtering, sorting, pagination and  for selecting specific columns and metadata."
      }
    },
    "org.apache.superset.api#PostApiV1ChartRequestDashboardsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "org.apache.superset.api#PostApiV1ChartRequestDatasourceType": {
      "type": "enum",
      "members": {
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        },
        "SAVED_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saved_query"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "view"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of dataset/datasource identified on `datasource_id`."
      }
    },
    "org.apache.superset.api#PostApiV1ChartRequestOwnersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "org.apache.superset.api#PostApiV1ChartRequest": {
      "type": "structure",
      "members": {
        "cache_timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Duration (in seconds) of the caching timeout for this chart. Note this defaults to the datasource/table timeout if undefined.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "certification_details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Details of the certification",
            "com.distilled.openapi#nullable": {}
          }
        },
        "certified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person or group that has certified this chart",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dashboards": {
          "target": "org.apache.superset.api#PostApiV1ChartRequestDashboardsList"
        },
        "datasource_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the dataset/datasource this new chart will use. A complete datasource identification needs `datasource_id` and `datasource_type`.",
            "smithy.api#required": {}
          }
        },
        "datasource_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datasource name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "datasource_type": {
          "target": "org.apache.superset.api#PostApiV1ChartRequestDatasourceType",
          "traits": {
            "smithy.api#documentation": "The type of dataset/datasource identified on `datasource_id`.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the chart propose.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_managed_externally": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "owners": {
          "target": "org.apache.superset.api#PostApiV1ChartRequestOwnersList"
        },
        "params": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parameters are generated dynamically when clicking the save or overwrite button in the explore view. This JSON object for power users who may want to alter specific parameters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "query_context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query context represents the queries that need to run in order to generate the data the visualization, and in what format the data should be returned.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "query_context_generation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The query context generation represents whether the query_contextis user generated or not so that it does not update user modifiedstate.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "slice_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the chart.",
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "viz_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of chart visualization used."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#ChartRestApiPost": {
      "type": "structure",
      "members": {
        "cache_timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Duration (in seconds) of the caching timeout for this chart. Note this defaults to the datasource/table timeout if undefined.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "certification_details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Details of the certification",
            "com.distilled.openapi#nullable": {}
          }
        },
        "certified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person or group that has certified this chart",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dashboards": {
          "target": "org.apache.superset.api#ChartRestApiPostDashboardsList"
        },
        "datasource_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the dataset/datasource this new chart will use. A complete datasource identification needs `datasource_id` and `datasource_type`.",
            "smithy.api#required": {}
          }
        },
        "datasource_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datasource name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "datasource_type": {
          "target": "org.apache.superset.api#ChartRestApiPostDatasourceType",
          "traits": {
            "smithy.api#documentation": "The type of dataset/datasource identified on `datasource_id`.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the chart propose.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_managed_externally": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "owners": {
          "target": "org.apache.superset.api#ChartRestApiPostOwnersList"
        },
        "params": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parameters are generated dynamically when clicking the save or overwrite button in the explore view. This JSON object for power users who may want to alter specific parameters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "query_context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query context represents the queries that need to run in order to generate the data the visualization, and in what format the data should be returned.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "query_context_generation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The query context generation represents whether the query_contextis user generated or not so that it does not update user modifiedstate.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "slice_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the chart.",
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "viz_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of chart visualization used."
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#ChartRestApiPostDashboardsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "org.apache.superset.api#ChartRestApiPostDatasourceType": {
      "type": "enum",
      "members": {
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        },
        "SAVED_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saved_query"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "view"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of dataset/datasource identified on `datasource_id`."
      }
    },
    "org.apache.superset.api#ChartRestApiPostOwnersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "org.apache.superset.api#PostApiV1ChartResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double"
        },
        "result": {
          "target": "org.apache.superset.api#ChartRestApiPost"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#PostApiV1Chart": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#PostApiV1ChartRequest"
      },
      "output": {
        "target": "org.apache.superset.api#PostApiV1ChartResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#Forbidden"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/chart/",
          "code": 200
        },
        "smithy.api#documentation": "Create a new chart"
      }
    },
    "org.apache.superset.api#DeleteApiV1ChartRequest": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#DeleteApiV1ChartResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#DeleteApiV1Chart": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#DeleteApiV1ChartRequest"
      },
      "output": {
        "target": "org.apache.superset.api#DeleteApiV1ChartResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#Forbidden"
        },
        {
          "target": "org.apache.superset.api#NotFound"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/chart/",
          "code": 200
        },
        "smithy.api#documentation": "Bulk delete charts"
      }
    },
    "org.apache.superset.api#GetApiV1ChartInfoRequest": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.superset.api#GetApiV1ChartInfoResponseFiltersColumnNameItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter name. Will be translated by babel"
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter operation key to use on list filters"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1ChartInfoResponseFiltersColumnNameList": {
      "type": "list",
      "member": {
        "target": "org.apache.superset.api#GetApiV1ChartInfoResponseFiltersColumnNameItem"
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1ChartInfoResponseFilters": {
      "type": "structure",
      "members": {
        "column_name": {
          "target": "org.apache.superset.api#GetApiV1ChartInfoResponseFiltersColumnNameList"
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#GetApiV1ChartInfoResponsePermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The user permissions for this API resource"
      }
    },
    "org.apache.superset.api#GetApiV1ChartInfoResponse": {
      "type": "structure",
      "members": {
        "add_columns": {
          "target": "smithy.api#Document"
        },
        "edit_columns": {
          "target": "smithy.api#Document"
        },
        "filters": {
          "target": "org.apache.superset.api#GetApiV1ChartInfoResponseFilters"
        },
        "permissions": {
          "target": "org.apache.superset.api#GetApiV1ChartInfoResponsePermissionsList",
          "traits": {
            "smithy.api#documentation": "The user permissions for this API resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "org.apache.superset.api#GetApiV1ChartInfo": {
      "type": "operation",
      "input": {
        "target": "org.apache.superset.api#GetApiV1ChartInfoRequest"
      },
      "output": {
        "target": "org.apache.superset.api#GetApiV1ChartInfoResponse"
      },
      "errors": [
        {
          "target": "org.apache.superset.api#BadRequest"
        },
        {
          "target": "org.apache.superset.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/chart/_info",
          "code": 200
        },
        "smithy.api#documentation": "Get metadata information about this API resource (chart--info)\n\nGet metadata information about this API resource"
      }
    },
    "org.apache.superset.api#ChartDataDatasource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Datasource id or uuid",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "org.apache.superset.api#ChartDataDatasourceType",
          "traits": {
            "smithy.api#documentation": "Datasource type"
          }
        }
      },
      "traits": {}
    },
    "org.apache.superset.api#ChartDataDatasourceType": {
      "type": "enum",
      "members": {
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        },
        "SAVED_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saved_query"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "view"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Datasource type"
      }
    },
    "org.apache.superset.api#ChartDataQueryObject": {
      "type": "structure",
      "members": {
        "annotation_layers": {
          "target": "org.apache.superset.api#ChartDataQueryObjectAnnotationLayersList",
          "traits": {
            "smithy.api#documentation": "Annotation layers to apply to chart",
            "com.distilled.openapi#nullable": {}
          }
        },
        "applied_time_extras": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of temporal extras that have been applied to the query",
            "com.distilled.openapi#nullable": {}
          }
        },
        "apply_fetch_values_predicate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Add fetch values predicate (where clause) to query if defined in datasource",
            "com.distilled.openapi#nullable": {}
          }
        },
        "columns": {
          "target": "org.apache.superset.api#ChartDataQueryObjectColumnsList",
          "traits": {
            "smithy.api#documentation": "Columns which to select in the query.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "datasource": {
          "target": "org.apache.superset.api#ChartDataDatasource",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "extras": {
          "target": "org.apache.superset.api#ChartDataExtras",
          "traits": {
            "smithy.api#documentation": "Extra parameters to add to the query.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filters": {
          "target": "org.apache.superset.api#ChartDataQueryObjectFiltersList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "granularity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of temporal column used for time filtering. ",
            "com.distilled.openapi#nullable": {}
          }
        },
        "granularity_sqla": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of temporal column used for time filtering for SQL datasources. This field is deprecated, use `granularity` instead.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_others_when_limit_reached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, groups remaining series into an 'Others' category when series limit is reached. Prevents incomplete data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "groupby": {
          "target": "org.apache.superset.api#ChartDataQueryObjectGroupbyList",
          "traits": {
            "smithy.api#documentation": "Columns by which to group the query. This field is deprecated, use `columns` instead.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "having": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HAVING clause to be added to aggregate queries using AND operator. This field is deprecated and should be passed to `extras`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_rowcount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Should the rowcount of the actual query be returned",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_timeseries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the `query_object` a timeseries.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metrics": {
          "target": "org.apache.superset.api#ChartDataQueryObjectMetricsList",
          "traits": {
            "smithy.api#documentation": "Aggregate expressions. Metrics can be passed as both references to datasource metrics (strings), or ad-hoc metricswhich are defined only within the query object. See `ChartDataAdhocMetricSchema` for the structure of ad-hoc metrics.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "order_desc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Reverse order. Default: `false`",
            "com.distilled.openapi#nullable": {}
          }
        },
        "orderby": {
          "target": "org.apache.superset.api#ChartDataQueryObjectOrderbyList",
          "traits": {
            "smithy.api#documentation": "Expects a list of lists where the first element is the column name which to sort by, and the second element is a boolean.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "post_processing": {
          "target": "org.apache.superset.api#ChartDataQueryObjectPostProcessingList",
          "traits": {
            "smithy.api#documentation": "Post processing operations to be applied to the result set. Operations are applied to the result set in sequential order.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "result_type": {
          "target": "org.apache.superset.api#ChartDataQueryObjectResultType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "row_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum row count (0=disabled). Default: `config[\"ROW_LIMIT\"]`",
            "com.distilled.openapi#nullable": {}
          }
        },
        "row_offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of rows to skip. Default: `0`",
            "com.distilled.openapi#nullable": {}
          }
        },
        "series_columns": {
          "target": "org.apache.superset.api#ChartDataQueryObjectSeriesColumnsList",
          "traits": {
            "smithy.api#documentation": "Columns to use when limiting series count. All columns must be present in the `columns` property. Requires `series_limit` and `series_limit_metric` to be set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "series_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of series. Requires `series` and `series_limit_metric` to be set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "series_limit_metric": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metric used to limit timeseries queries by. Requires `series` and `series_limit` to be set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_offsets": {
          "target": "org.apache.superset.api#ChartDataQueryObjectTimeOffsetsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_range": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A time rage, either expressed as a colon separated string `since : until` or human readable freeform. Valid formats for `since` and `until` are: \n- ISO 8601\n- X days/years/hours/day/year/weeks\n- X days/years/hours/day/year/weeks ago\n- X days/years/hours/day/year/weeks from now\n\nAdditionally, the following freeform can be used:\n\n- Last day\n- Last week\n- Last month\n- Last quarter\n- Last year\n- No filter\n- Last X seconds/minutes/hours/days/weeks/months/years\n- Next X seconds/minutes/hours/days/weeks/months/years\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_shift": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable date/time string. Please refer to [parsdatetime](https://github.com/bear/parsedatetime) documentation for details on valid values.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timeseries_limit": {
          "target": "smithy.api#Integer",
          "traits": {
[...]
